{% extends 'takwimu/_layouts/page.html' %}

{% block content %}

{% load datastructuretags %}

<div class="bg-light py-5">
  <div class="container">
      <h1 class="text-center display-3">Contact Us</h1>
      <p class="text-center">Cras mattis consectetur purus sit amet fermentum.
        Maecenas sed diam eget risus varius blandit sit amet non magna.
        Vestibulum id ligula porta felis euismod semper. Nulla vitae elit
        libero, a pharetra augue.</p>
      <div class="row mt-5">
        <div class="col">
          <h3>Key contacts</h3>
          <p>General <br/>
          <a  href="mailto:{{ settings.takwimu.SupportSetting.hello }}">hello@takwimu.africa</a></p>
          <p>Help and Support<br/>
          <a  href="{{ settings.takwimu.SupportSetting.zendesk }}" target="_blank" rel="noopener">Visit Zendesk</a></p>
          <p>Support Services<br/>
          <a  href="mailto:services@takwimu.africa">services@takwimu.africa</a></p>
    
        </div>
        <div class="col">
          <h3>Address</h3>
          <ul class="list-unstyled">
            <li>403 Placeholder Avenue</li>
            <li>Placeholder</li>
            <li>Placeholder</li>
            <br>
            <li>+00 3323 32323 2323</li>
          </ul>
        </div>
        <div class="col">
          <h3>Social</h3>
          <ul class="list-unstyled">
          {% to_list 'facebook' 'twitter' 'medium' 'youtube' 'instagram' 'github' as social_medias %}
          {% for social_media in social_medias %}
            {% if settings.takwimu.SocialMediaSetting|object_value:social_media %}
              <li>
                <a href="{{ settings.takwimu.SocialMediaSetting|object_value:social_media }}" target="_blank" rel="noopener">
                  <i class="fab fa-{{ social_media }} fa-fw mr-2"></i> <span class="text-capitalize">{{ social_media }}</span> 
                </a>
              </li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
</div>

<div class="container py-5 text-center">
  <a class="btn btn-outline-primary btn-lg" href="{{ settings.takwimu.SupportSetting.zendesk }}" target="_blank" rel="noopener" >
    Get in touch with our support team. 👋
  </a>
</div>

{% include 'takwimu/_includes/sections/support-services/button.html' %}

{% include 'takwimu/_includes/partners.html' %}

{% include 'takwimu/_includes/sections/updates.html' %}



{% endblock %}
