{% extends 'takwimu/_layouts/page.html' %}

{% block content %}

<div class="py-5 container" style="max-width: 800px;">
  <h1 class="text-center display-3">Data Services</h1>
  <p>Takwimu was launched in 2018 in response to the problem posed by poor access to quality data, which limits the effectiveness of development policy and programming in Africa.</p>
  <p>Conceived by a consortium of partners - africapractice, Code 4 Africa and iHub - and funded by the Bill and Melinda Gates Foundation, Takwimu is designed to provide a free and open data service which empowers African development actors with the insights to achieve greater impact.</p>
  <p>The website offers concise, objective, data-rich profiles on ten African countries (Burkina Faso, Democratic Republic of Congo, Ethiopia, Kenya, Nigeria, Senegal, South Africa, Tanzania, Uganda and Zambia) in English and French. Work is underway to expand coverage to more countries and to make the content available in additional languages.</p>
</div>

<div class="bg-light py-5">
  <div class="container lead text-center" style="max-width:700px; ">
      Evidence-based planning produces better impacts. Takwimu offers data-driven tools and analysis to help shape better informed decisions.
  </div>
</div>

<div class="container py-5" style="max-width: 800px;">
  <h1 class="text-center display-4">The Partners</h1>
  <!-- TODO: Add description + logos here. -->
</div>

{% include 'takwimu/_includes/sections/datapriority/index.html' %}

{% include 'takwimu/_includes/sections/data-services.html' %}

{% include 'takwimu/_includes/sections/updates.html' %}

{% endblock %}
