{% extends 'takwimu/_layouts/page.html' %}
{% load wagtailcore_tags static jsonify %}

{% block content %}
  <div id="takwimuAboutUsPage" />

  {% comment %}
  <div id='takwimuServices'></div>
  <div id='takwimuFAQ'></div>
  <div id='takwimuWhereToNext'></div>
  <div id='takwimuRelatedContent'></div>
  {% endcomment %}
{% endblock %}

{% block body_javascript_extra %}
  {{ block.super }}

  <script type='text/javascript'>
    var takwimu = window.takwimu || {};
    takwimu.page = takwimu.page || {};
    takwimu.page.id = 'about';
    var servicesList = [];
    var faqsList = [];

    {% for service in settings.takwimu.SupportServicesSetting.services %}
      {% if service.value.category != "Persona" %}
        servicesList.push ({
        'title': '{{ service.value.title }}',
        'description': '{{ service.value.description }}'
        })
      {% endif %}
    {% endfor %}

    {% for faq in settings.takwimu.FAQSetting.faqs %}
        faqsList.push ({
        'question': '{{ faq.value.question }}',
        'answer': '{{ faq.value.answer }}'
        })
    {% endfor %}

    takwimu.services = { 
      overview: '{{ settings.takwimu.SupportServicesSetting.overview | safe }}',
      servicesList: servicesList
    }

    takwimu.faqs = {
      overview: '{{ settings.takwimu.FAQSetting.overview | safe }}',
      faqsList: faqsList
    }
   </script>
{% endblock body_javascript_extra %}
