{% extends 'takwimu/_layouts/page.html' %}
{% load staticfiles %}
{% load wagtailcore_tags %}
{% load datastructuretags %}

{% block content %}

  <div class="py-4" style="background-color: #f9f9f9;">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
          <li class="breadcrumb-item">
            <a href="/" class=""><u>Home</u></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Legal Notice
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row" style="background-color: #f9f9f9;">
      <div class="container py-5 data-topic">
        <div class="row">

          <!-- Left navigation of all indicators-->
          <div class="col-3 dataindicators-nav">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">
                <a class="nav-link pl-5 py-3 d-flex align-items-center active show"
                  id="terms-of-use-tab-btn"
                  data-toggle="pill" href="#terms-of-use-tab"
                  role="tab" aria-controls="terms-of-use-tab"
                  aria-selected="true">
                  <i class="fas fa-eye fa-fw"></i>
                  Terms of Use
                </a>
                <hr class="mx-3 my-0" style="border-color: rgba(255, 255, 255, 0.2);"/>

                <a class="nav-link pl-5 py-3 d-flex align-items-center"
                  id="privacy-policy-tab-btn"
                  data-toggle="pill" href="#privacy-policy-tab"
                  role="tab" aria-controls="privacy-policy-tab"
                  aria-selected="false">
                  <i class="fas fa-eye fa-fw"></i>
                  Privacy Policy
                </a>
                <hr class="mx-3 my-0" style="border-color: rgba(255, 255, 255, 0.2);"/>

                <a class="nav-link pl-5 py-3 d-flex align-items-center"
                  id="cookie-policy-tab-btn"
                  data-toggle="pill" href="#cookie-policy-tab"
                  role="tab" aria-controls="cookie-policy-tab"
                  aria-selected="false">
                  <i class="fas fa-eye fa-fw"></i>
                  Cookie Policy
                </a>
            </div>
          </div>  <!-- /.col-3 -->

          <div class="col-9 tab-content">
            <div id="terms-of-use-tab" class="tab-pane fade active show">
              <h2 class="display-4" style="font-weight: bold;">Terms of Use</h2>
              {{ settings.takwimu.LegalNoticeSetting.terms_of_use | richtext }}
            </div>
            <div id="privacy-policy-tab" class="tab-pane fade">
              <h2 class="display-4" style="font-weight: bold;">Privacy Policy</h2>
              {{ settings.takwimu.LegalNoticeSetting.privacy_policy | richtext }}
            </div>
            <div id="cookie-policy-tab" class="tab-pane fade">
              <h2 class="display-4" style="font-weight: bold;">Cookie Policy</h2>
              {{ settings.takwimu.LegalNoticeSetting.cookie_policy | richtext }}
            </div>
          </div>  <!-- /.col-9 -->
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- row -->
  </div><!-- container fluid -->

  <style>
    .dataindicators-nav .nav-pills {
      background-color: #1f6cc6;
    }
    .dataindicators-nav .nav-link {
      color: #f0f0f0;
    }
    .dataindicators-nav .nav-link:hover {
      color: #f0f0f0;;
    }

    .dataindicators-nav .nav-link .fa-eye {
      display: none;
      margin-left: -2em;
      position: absolute;
    }
    .dataindicators-nav .nav-link[aria-selected=true] .fa-eye {
      display: inline;
    }
    .dataindicators-nav .nav-pills .nav-link.active, .dataindicators-nav .nav-pills .show > .nav-link {
      background-color: transparent;
      font-weight: 500;
    }
  </style>

{% endblock %}