{% extends 'takwimu/_layouts/page.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

  <div class="bg-white py-2">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0">
          <li class="breadcrumb-item">
            <a href="/"><u>Home</u></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Services
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="container-fluid">
    <div style="background-color: #f9f9f9;">
      <div class="py-5 container" style="max-width: 800px;">
        <div class="text-center mb-3">
          <h1 class="font-weight-bold display-3">
            Takwimu Services
          </h1>
          <p>Takwimu offers both free and premium services designed to help our users access and use high quality data and analysis.</p>
        </div>

        <div class="font-weight-light">
          <p>We understand that access to data and analysis is not enough - there is a gulf between looking at a web page and being able to harness information to make your work easier and your efforts more effective.</p>
              
          <p>Our Standard Services are free; currently they include using advanced tools to download data visuals, create alerts, manage collections, access data over API and attend best practice webinars.</p>
          <p>Our Premium Services add further value by customising and packaging analysis and related data to your specific requirements as well as the option to showcase your own content to a growing African and international audience. We will usually charge for Premium services and use this income to re-invest in the Takwimu platform.</p>
        </div>

      </div>
    </div>

    <div class="row p-4" id="card-area" style="background-color: #f4f4f4">
      <div class="container">
        <h2 class="text-center my-3 display-4" style="font-weight: bold;">
          The Services
        </h2>
        <div class="row">
          {% for service in settings.takwimu.SupportServicesSetting.services %}
            {% if service.value.category != "Persona" %}
              <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-flex align-items-stretch mb-5">
                <div class="shadow-sm card grayscale" style="width: 100%">
                  {% image service.value.cover width-400 as tmp_photo %}
                  <div class="card-img" style="background-image: url('{{ tmp_photo.url }}'); "></div>
                  <div class="card-body text-left pt-3 font-weight-light" style="color: #4a4a4a;">
                    <h5 class="card-title font-weight-bold" style="color: #000000;">{{ service.value.title }}</h5>
                    <p class="card-text">{{ service.value.description | richtext }}</p>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="p-5">
      <h2 class="text-center my-3 display-4" style="font-weight: bold;">
        Enquire about these services
      </h2>
      <div class="container p-5" style="background-color: #1e4a7e; color: #ffffff;">
        {% if ticket_success == True %}
          <div class="success w-100 text-center">
            <i class="fas fa-check-circle fa-3x"></i>
            <div class="px-5 py-2">
              <p>Your enquiry has been successfully sent. You will hear back
                from our Data Services team within 2 working days.</p>
              <a class="btn btn-outline-light mt-2" href="{% url 'about_support_services' %}">MAKE ANOTHER ENQUIRY</a>
            </div>
          </div>
        {% else %}
          <form class="px-5" method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <div class="form-group py-2 px-5">
              <label for="{{ form.name.name }}">{{ form.name.label }}</label>
              {{ form.name }}
              <small class="text-danger">
                {{ form.name.errors }}
              </small>
            </div>

            <div class="form-row py-2 px-5">
              <div class="col">
                <div class="form-group">
                  <label for="email">{{ form.email.label }}</label>
                  {{ form.email }}
                  <small class="text-danger">
                    {{ form.email.errors }}
                  </small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="{{ form.location.name }}">{{ form.location.label }}</label>
                  {{ form.location }}
                  <small class="text-danger">
                    {{ form.location.errors }}
                  </small>
                </div>
              </div>
            </div>

            <div class="form-group py-2 px-5">
              <label for="{{ form.role.name }}">What best describes your
                role?</label>
              {{ form.role }}
              <small class="text-danger">
                {{ form.role.errors }}
              </small>
            </div>

            <div class="form-group px-5 py-2">
              <label for="{{ form.help.name }}">{{ form.help.label }}</label>
              {{ form.help }}
              <small class="text-danger">
                {{ form.email.errors }}
              </small>
            </div>
            <div class="py-5">
              <button type="submit" class="btn btn-outline-light" style="float: right; height:48px; width: 260px;">
                Submit Enquiry
              </button>
            </div>
          </form>
        {% endif %}

      </div>
    </div>
  </div>

  {% include 'takwimu/_includes/sections/updates.html' %}

  <style>
    #card-area .card-img {
      background-size: cover !important;
      background: #1f6cc6 center center;
      height: 200px;
      opacity: 0.6;
    }

    #card-area .card:hover .card-img {
      opacity: 1;
    }

    /*Checkbox styling */
    .custom-control-label {
      font-size: 16px;
    }

    .custom-control-label::before,
    .custom-control-label::after {
      top: .8rem;
      width: 2.3rem;
      height: 2.3rem;
    }

  </style>

{% endblock %}


