{% extends 'takwimu/_layouts/page.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

  <div class="py-4" style="background-color: #f9f9f9;">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
          <li class="breadcrumb-item">
            <a href="/" class=""><u>Home</u></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Services
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row" style="background-color: #f9f9f9;">
      <div class="py-5 container">
        <div class="text-center py-3">
          <h1 class="text-center font-weight-bold display-3">
            Takwimu Services
          </h1>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
            Donec id elit non mi porta gravida at eget metus.</p>
        </div>

        <p style="font-weight: 300;">
          Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
          lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis
          parturient montes, nascetur ridiculus mus. Donec id elit non mi porta
          gravida at eget metus. Integer posuere erat a ante venenatis dapibus
          posuere velit aliquet.</p>

      </div>
    </div>

    <div class="row p-4" id="card-area" style="background-color: #f4f4f4">
      <div class="container">
        <h2 class="text-center my-3 display-4" style="font-weight: bold;">
          The Services
        </h2>
        <div class="row">
          {% for service in service_list %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-flex align-items-stretch mb-5">
              <div class="shadow-sm card grayscale" style="width: 100%">
                {% image service.cover width-400 as tmp_photo %}
                <div class="card-img" style="background-image: url('{{ tmp_photo.url }}'); "></div>
                <div class="card-body text-left pt-3 font-weight-light" style="color: #4a4a4a;">
                  <h5 class="card-title font-weight-bold" style="color: #000000;">{{ service.title }}</h5>
                  <p class="card-text">{{ service.description | richtext }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="p-5">
      <h2 class="text-center my-3 display-4" style="font-weight: bold;">
        Enquire about these services
      </h2>
      <div class="container p-5" style="background-color: #1e4a7e; color: #ffffff;">
        <form class="px-5" method="post">
          {% csrf_token %}

          {{ form.non_field_errors }}
          <div class="form-row py-2 px-5">
            <div class="col">
              <div class="form-group">
                <label for="email">{{ form.email.label }}</label>
                {{ form.email }}
                <small class="text-danger">
                  {{ form.email.errors }}
                </small>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="{{ form.location.name }}">{{ form.location.label }}</label>
                {{ form.location }}
                <small class="text-danger">
                  {{ form.location.errors }}
                </small>
              </div>
            </div>
          </div>

          <div class="form-group py-2 px-5">
            <label for="{{ form.role.name }}">What best describes your
              role?</label>
            {{ form.role }}
            <small class="text-danger">
              {{ form.role.errors }}
            </small>
          </div>

          <div class="form-group px-5 py-2">
            <label for="{{ form.help.name }}">{{ form.help.label }}</label>
            {{ form.help }}
            <small class="text-danger">
              {{ form.email.errors }}
            </small>
          </div>
          <div class="py-5">
            <button type="submit" class="btn btn-outline-light" style="float: right; height:48px; width: 260px;">
              Submit Enquiry
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% include 'takwimu/_includes/sections/updates.html' %}

  <style>
    #card-area .card-img {
      background-size: cover !important;
      background: #1f6cc6 center center;
      height: 200px;
      opacity: 0.6;
    }

    #card-area .card:hover .card-img {
      opacity: 1;
    }

    /*Checkbox styling */
    .custom-control-label {
      font-size: 16px;
    }

    .custom-control-label::before,
    .custom-control-label::after {
      top: .8rem;
      width: 2.3rem;
      height: 2.3rem;
    }

  </style>

{% endblock %}
