{% load staticfiles %}

<section class="text-light py-5" style="background-color: #144681;">
  <div class="container" style="max-width: 800px;">
    <div class="d-flex align-items-center">
      <div class="pulse-icon">
        <img class="svg p-4" src="{% static 'img/pulse.svg' %}" alt="pulse"/>
      </div>
      
      <div>
        <span class="text-uppercase">
          Looking for other data or data sevice for nigeria 
        </span>
        <h1 class="display-5 font-weight-bold text-uppercase">Find out how takwimu can help you</h1>
    </div>
  </div>
</section>
