<section class="enquire">
    <div class="col-8 bg-primary text-white mx-auto">
        <form  class="p-5">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail">Your email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="location">Your location</label>
                    <select id="location" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="role">What best describe your role ?</label>
                <select id="role" class="form-control">
                    <option selected>Magician</option>
                    <option>gynecologist</option>
                </select>
            </div>
            <label for="services">What service(s) intrest you ?</label>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Service name number one
                    </label>
                </div>
                <div class="form-group col-md-4">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Service name number 2
                    </label>
                </div>
                <div class="form-group col-md-4">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Service name number 3
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Service name number 4
                    </label>
                </div>
                <div class="form-group col-md-4">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Service name number 5
                    </label>
                </div>
                <div class="form-group col-md-4">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Service name number 6
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="help">How can we help you?</label>
                <textarea class="form-control" id="help" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary float-right">Submit Enquiry</button>
        </form>
    </div>
</section>