<section class="container">
    <h3 class="mb-4 text-center font-weight-bold display-5">The Services</h3>

    <div class="row">
        {% for story in stories_latest %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-flex align-items-stretch mb-5">
            <div class="card">
                <a href="{{ story.url }}" target="_blank" class="card-link">
                    <div class="card-img" style="background-image: url('{{ story.preview_image.url }}'); height: 200px;"></div>
                    <div class="card-body">
                        <h5 class="card-title">{{ story.title }}</h5>
                        <p class="card-text">{{ story.subtitle }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>