<!-- Stories Section -->

<section class="stories bg-light py-5">
  <div class="container">
    <h3 class="mb-4 text-center" style="font-weight: 800;">Insights &
      Stories</h3>
    <ul class="nav nav-pills nav-pills-alt justify-content-center mb-4" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#latest" role="tab" data-toggle="tab">Latest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#trending" role="tab" data-toggle="tab">Trending</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane fade active show" id="latest">
        <div class="row">
          {% for story in stories_latest %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-flex align-items-stretch mb-5">
              <div class="card grayscale">
                <div class="card-img" style="background-image: url('{{ story.preview_image.url }}'); "></div>
                <div class="card-body text-center">
                  <h5 class="card-title" style="color: #000000; font-weight: 800;">{{ story.title }}</h5>
                  <p class="card-text" style="color: #4a4a4a; font-weight: 300;">{{ story.subtitle }}</p>
                </div>
                <a href="{{ story.url }}" target="_blank" class="btn btn-outline-primary mx-5 my-3" style="border-radius: 24px; border: solid 2px #1f6cc6; color:#1f6cc6;">CONTINUE
                  READING</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div> <!-- /#latest-->

      <div role="tabpanel" class="tab-pane fade" id="trending">
        <div class="row">
          {% for story in stories_trending %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 d-flex align-items-stretch mb-5">
              <div class="card grayscale">
                <div class="card-img" style="background-image: url('{{ story.preview_image.url }}'); "></div>
                <div class="card-body text-center">
                  <h5 class="card-title" style="color: #000000; font-weight: 800;">{{ story.title }}</h5>
                  <p class="card-text mb-3" style="color: #4a4a4a; font-weight: 300;">{{ story.subtitle }}</p>
                </div>

                <a href="{{ story.url }}" target="_blank" class="btn btn-outline-primary mx-5 my-3" style="border-radius: 24px; border: solid 2px #1f6cc6; color:#1f6cc6;">CONTINUE
                  READING</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>  <!-- /#trending -->

    </div>  <!-- /.tab-content -->

    <p class="text-center">
      <a class="btn btn-outline-primary btn-lg" href="https://medium.com/takwimu-africa" target="_blank" style="border-radius: 24px; background-color: #1f6cc6; border: solid 2px #1f6cc6; color: #ffffff; font-size: 14px;">
        <i class="fab fa-medium-m fa-fw"></i> &nbsp; CONTINUE READING ON MEDIUM</a>
    </p>
  </div>  <!-- /.container -->

</section>

<style>
  .card .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background-color: #1f6cc6 !important;
    border-color: #1f6cc6 !important;
    color: #ffffff !important;
    text-decoration: none;
  }

  .nav-link {
    color: #929292;
  }

  .nav-pills.nav-pills-alt .nav-link.active {
    color: #4a4a4a;
    font-weight: 800
  }

  section.stories .card-img {
    background-size: cover !important;
    background: #005973 center center;
    height: 200px;
  }

  .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  }

  .grayscale:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%); /* Chrome 19+ & Safari 6+ */
  }

</style>
