<!-- Stories Section -->
<section class="stories">
  <div class="p-5">
    <h3 class="mb-4">Latest stories, updates and resources for {{ country }}.</h3>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#recommended-for-you" role="tab"
               data-toggle="tab">Trending</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#most-recent" role="tab"
               data-toggle="tab">Latest</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active show"
               id="recommended-for-you">
            <div class="row p-3">
              {% for story in recommended %}
                <div
                    class="col-lg-4 col-md-6 col-sm-6 col-12 d-flex align-items-stretch mb-5">
                  <div class="card"><a href="{{ story.url }}" target="_blank"
                                       class="card-link">
                    <div class="card-img"
                         style="background-image: url('{{ story.preview_image.url }}'); background-position: 50% 50% !important;"></div>
                    <div class="card-body">
                      <h5 class="card-title">{{ story.title }}</h5>
                      <p class="card-text">{{ story.subtitle }}</p>
                    </div>
                  </a>
                  </div>
                </div>
              {% endfor %}
              <div class="w-100 text-center">
                <a class="btn btn-primary btn-lg" href="https://medium.com/takwimu-africa" target="_blank">More Stories <i class="fas fa-external-link-alt"></i></a>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="most-recent">
            <div class="row p-3">
              {% for story in recent_stories %}
                <div
                    class="col-lg-4 col-md-6 col-sm-6 col-12 d-flex align-items-stretch mb-5">
                  <div class="card"><a href="{{ story.url }}" target="_blank"
                                       class="card-link">
                    <div class="card-img"
                         style="background-image: url('{{ story.preview_image.url }}'); background-position: 50% 50% !important;"></div>
                    <div class="card-body">
                      <h5 class="card-title">{{ story.title }}</h5>
                      <p class="card-text">{{ story.subtitle }}</p>
                    </div>
                  </a>
                  </div>
                </div>
              {% endfor %}
              <div class="w-100 text-center">
                <a class="btn btn-primary btn-lg" href="https://medium.com/takwimu-africa" target="_blank">More Stories <i class="fas fa-external-link-alt"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

