{% load staticfiles %}
<style>
  section.testimonials .photo {
    height: 120px; width: 120px;
    background-size: cover;
    background-color: #fff;
    border-radius: 50%;
    border: 5px solid #fff;
  }
  section.testimonials .bio {
    margin-top: -135px;
    top: 130px;
  }
</style>

<section class="testimonials py-5">
  <div class="container text-center my-5">
    <h3 class="mb-5 display-4 position-relative" style="font-weight: 500;">
      Real
      <span class="position-relative font-heading font-weight-bold">
        People,
        <div class="position-absolute" 
            style="background: rgba(74,188,112, 0.32); height: 20px; width: 190px; bottom: 1px; left: -3px; -webkit-transform: skew(340deg); -moz-transform: skew(340deg); -o-transform: skew(340deg); z-index: -1;">
        </div>
      </span>
      Real
      <span class="position-relative font-heading font-weight-bold">
        Benefits
        <div class="position-absolute" 
            style="background: rgba(74,188,112, 0.32); height: 20px; width: 228px; bottom: 1px; left: -3px; -webkit-transform: skew(340deg); -moz-transform: skew(340deg); -o-transform: skew(340deg); z-index: -1;">
        </div>
      </span>
    </h3>

    <div class="card-deck" style="margin-bottom: 50px;">
      {% for testimonial in testimonials %}
      <div class="card" style="margin-bottom: 150px;">
        <div class="card-body">
          <blockquote class="blockquote">
            <p class="mb-0" style="color: #4a4a4a;">"{{ testimonial.quote }}"</p>
          </blockquote>
        </div>
        <div class="bio position-relative">
          <p class="text-center mb-0">
            <div class="photo mx-auto shadow"
              {% if testimonial.photo %}
              style="background-image: url({{ testimonial.photo.url }});"
              {% else %}
              style="background-image: url({% static 'img/placeholder.jpg' %});"
              {% endif %}
              alt="{{ testimonial.name }}">
            </div>
          </p>
          <h4 class="text-primary-alt mb-2">{{ testimonial.name }}</h4>
          <p class="line-height-initial text-muted" style="font-size:80%; max-width: 70%; margin:0 auto;">{{ testimonial.title }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
