<!-- Get Updates section -->
<section class="updates text-center p-5" style="background-color: #f7f7f7;">
  <div class="container">
    <div class="row  d-flex align-items-center">
      <div class="col-md-6 p-4">
        <h3 class="mt-4 text-primary">
          <i class="far fa-newspaper display-3 mb-2"></i><br/>
          Stay up-to-date
        </h3>
        <p class="mt-4"><i class="fas fa-rss"></i>&nbsp;<a href="/feed">Subscribe by RSS</a> or <a href="http://eepurl.com/dynuAX" target="_blank" rel="noopener">email</a> if you’d like to be updated when new data or content becomes available.</p>
        <a href="http://eepurl.com/dynuAX" target="_blank" rel="noopener" class="btn btn-primary btn-lg mt-4">Get email updates</a>
      </div>
      <div class="col-md-6 p-4 border-left">
        <h3 class="mt-4 text-primary">
          <i class="far fa-comments display-3 mb-2"></i><br/>
          Join the discussion
        </h3>
        <p class="mt-4">Encouraging open discussion, debate and the sharing of ideas.</p>
        <a href="https://takwimuafrica.zendesk.com/" class="btn btn-primary btn-lg mt-4" target="_blank" rel="noopener">Visit the community forum</a>
      </div>
    </div>
  </div>
</section>
