<!-- Get Updates section -->
<section class="updates text-center p-5" style="background-color: #f7f7f7;">
  <div class="container">
    <div class="row  d-flex align-items-center">
      <div class="col-md-6 p-4">
        <h4 class="mt-4 text-primary">
          <i class="far fa-newspaper display-4 mb-2"></i><br/>
          Stay up-to-date
        </h4>
        <p class="mt-4 mx-auto" style="max-width: 400px;"><i class="fas fa-rss"></i>&nbsp;<a href="{% url 'rss_feed' %}">Subscribe by RSS</a> or <a href="http://eepurl.com/dynuAX" target="_blank" rel="noopener">email</a> if you’d like to be updated when new data or content becomes available.</p>
        <a href="http://eepurl.com/dynuAX" target="_blank" rel="noopener" class="btn btn-primary mt-2">Get email updates</a>
      </div>
      <div class="col-md-6 p-4 border-left">
        <h4 class="mt-4 text-primary">
          <i class="far fa-comments display-4 mb-2"></i><br/>
          Join the discussion
        </h4>
        <p class="mt-4 mx-auto" style="max-width: 400px;">Encouraging open discussion, debate and the sharing of ideas.</p>
        <a href="https://takwimuafrica.zendesk.com/" class="btn btn-primary mt-2" target="_blank" rel="noopener">Visit the community forum</a>
      </div>
    </div>
  </div>
</section>
