<!-- Stories Section -->

<section class="stories">
  <div class="container py-5 border-top border-bottom border-left-0 border-right-0" style="border-style: dashed !important;">
    <h1 class="display-4 text-center mt-5 mb-5">Latest News &amp; Stories</h1>
    <ul class="nav nav-pills nav-pills-alt justify-content-center mb-5" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#latest" role="tab" data-toggle="tab">Latest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#trending" role="tab" data-toggle="tab">Trending</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane fade active show" id="latest">
        <div class="card-deck">
          {% for story in stories_latest %}
            {% include 'takwimu/_includes/sections/stories/story_detail.html' %}
          {% endfor %}
        </div>
      </div> <!-- /#latest-->

      <div role="tabpanel" class="tab-pane fade" id="trending">
        <div class="card-deck">
          {% for story in stories_trending %}
            {% include 'takwimu/_includes/sections/stories/story_detail.html' %}
          {% endfor %}
        </div>
      </div>  <!-- /#trending -->

    </div>  <!-- /.tab-content -->

    <p class="text-center my-5">
      <a class="btn btn-primary btn-lg px-5" href="https://medium.com/takwimu-africa" target="_blank">
        Continue reading on Medium
        <i class="fab fa-medium-m fa-fw ml-3" style="vertical-align: middle;"></i>
      </a>
    </p>
  </div>  <!-- /.container -->

</section>

<style>
  section.stories .card-img {
    background-size: cover !important;
    background: #1f6cc6 center center;
    height: 200px;
    opacity: 0.6;
  }
    section.stories .card:hover .card-img {
      opacity: 1;
    }
</style>