{% load staticfiles timetags %}

<div class="card grayscale">
  <div class="card-img" style="background-image: url('{{ story.preview_image.url }}'); "></div>
  <div class="card-body text-left pt-5 font-weight-light" style="color: #4a4a4a;">
    <h3 class="card-title" style="color: #000000;">{{ story.title }}</h3>
    <p class="small text-muted">{{ story.post_date|print_timestamp }} . {{ story.read_time|floatformat:"0" }} min read</p>
    <p class="card-text line-height-md">{{ story.subtitle }}</p>
  </div>
  <div class="card-footer text-center bg-white border-top-0 pb-4">
    <a href="{{ story.url }}" target="_blank" rel="noopener"
        class="btn btn-outline-primary font-weight-bold">
      Continue Reading
    </a>
  </div>
</div>