gunicorn==19.8.1

-e git+https://github.com/CodeForAfricaLabs/HURUmap.git@fix/data_models#egg=hurumap

# workaround: setup keeps installing wazimap from PYPI
-e git+https://github.com/CodeForAfricaLabs/wazimap.git@master#egg=wazimap

django-debug-toolbar
