{% load staticfiles %}

<div class="bg-secondary text-light container-fluid mx-auto my-1 position-relative" style="width: calc(100% - 0.5em);">
    <div class="row px-0 py-5">
        <div class="col-6 text-left px-5">
            <h2 class="font-weight-bold">
                {{ sdg.short }}
            </h2>
            <p class="font-weight-light">
                {{ sdg.title }}
            </p>
        </div>
        <div class="col-6 d-flex px-5 justify-content-center align-items-center" style="border-left: 1px solid rgba(255, 255, 255, .52);">
            {% if sdg.indicators %}
                <div class="w-100">
                    <p class="font-weight-bold">View data for:</p>
                    {% for indicator in sdg.indicators %}
                        <a class="nav-item nav-link text-white text-left pl-3"
                        id="{{ indicator.url }}"
                        href="{{ indicator.url }}">
                            <img class="rounded-circle border-light mr-2"
                                src="{% with 'img/flags/'|add:indicator.country_slug|add:'.svg' as image_static %} {% static image_static %} {% endwith %}"
                                alt="{{ indicator.country }}"
                                border="4" style="border-style:double; width: 40px; height: 40px;"
                            />
                            <span>{{ indicator.title }}</span>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="d-block text-center" style="color: #78aff5;">
                    <span class="fas fa-exclamation-circle fa-3x"></span>
                    <p class="text-info my-3" style="font-size: 14px;">We do not have any data associated with this SDG</p>
                </div>
            {% endif %}
        </div>
    </div>
    <button data-toggle="collapse" data-target="#{{ sdg.short|slugify }}" class="close btn-close position-absolute" style="top: 0.5em; right: 0.5em;" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
