<div class="card-body p-5 row text-left text-white" style="background: #005973;">
    <div class="col-6 p-2 border-right">
        <h2> Health &amp; Wellbeing </h2>
        <p>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </p>
    </div>
    <div class="col-6 p-2">
        <form>
            <div class="form-group">
                <label for="data-point" class="text-uppercase">Select SDG data point to view</label>
                <select class="form-control" id="data-point">
                    <option disabled selected>Please select SDG</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
            <div class="form-group">
                <label for="for-country" class="text-uppercase">For this country</label>
                <select class="form-control" id="for-country">
                    <option disabled selected>Please select Country</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </div>
            <button type="submit" class="btn float-right text-uppercase">View Data</button>
        </form>
    </div>
</div>