{% load staticfiles %}

<section class="sdg-container accordion" id="sdg-container">
     {% if sdg_status == 'nil' %}
        <div class="alert alert-info alert-dismissible fade show py-4" role="alert">
          Sorry no SDG data available.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}
    <div class="row mx-auto">
        {% for sdg in sdgs|slice:":6" %}
        <div class="col-2 mx-0 p-1">
            <a href="#{{ sdg.short|slugify }}" data-toggle="collapse" data-sector="{{ sdg.sector }}" data-target="#{{ sdg.short|slugify }}"
                aria-controls="{{ sdg.short|slugify }}">
                <img src="{% static sdg.icon_url %}" alt="{{ sdg.short }}">
                <div class="is-collapsed text-center position-absolute mx-auto"
                    style="bottom:5px; left: 0; right: 0;">
                    <span class="arrow-up"></span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="row mx-auto">
        {% for sdg in sdgs|slice:":6" %}
        <div id="{{ sdg.short|slugify }}" class="collapse w-100" data-parent="#sdg-container">
            {% include 'takwimu/_includes/sections/sdg/_collapsed.html' with sdg=sdg %}
        </div>
        {% endfor %}
    </div>

    <div class="row mx-auto">
        {% for sdg in sdgs|slice:"6:12" %}
        <div class="col-2 mx-0 p-1">
            <a href="#{{ sdg.short|slugify }}" data-toggle="collapse" data-sector="{{ sdg.sector }}" data-target="#{{ sdg.short|slugify }}"
                aria-controls="{{ sdg.short|slugify }}">
                <img src="{% static sdg.icon_url %}" alt="{{ sdg.short }}">
                <div class="is-collapsed text-center position-absolute mx-auto"
                    style="bottom:5px; left: 0; right: 0;">
                    <span class="arrow-up"></span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="row mx-auto">
        {% for sdg in sdgs|slice:"6:12" %}
        <div id="{{ sdg.short|slugify }}" class="collapse w-100" data-parent="#sdg-container">
            {% include 'takwimu/_includes/sections/sdg/_collapsed.html' with sdg=sdg %}
        </div>
        {% endfor %}
    </div>

    <div class="row mx-auto">
        {% for sdg in sdgs|slice:"12:" %}
        <div class="col-2 mx-0 p-1">
            <a href="#{{ sdg.short|slugify }}" data-toggle="collapse" data-sector="{{ sdg.sector }}" data-target="#{{ sdg.short|slugify }}"
                aria-controls="{{ sdg.short|slugify }}">
                <img src="{% static sdg.icon_url %}" alt="{{ sdg.short }}">
                <div class="is-collapsed text-center position-absolute mx-auto"
                    style="bottom:5px; left: 0; right: 0;">
                    <span class="arrow-up"></span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="row mx-auto">
        {% for sdg in sdgs|slice:"12:" %}
        <div id="{{ sdg.short|slugify }}" class="collapse w-100" data-parent="#sdg-container">
            {% include 'takwimu/_includes/sections/sdg/_collapsed.html' with sdg=sdg %}
        </div>
        {% endfor %}
    </div>

</section>
