<div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
</div>
<style>
    .popover {
        position: absolute;
        max-width: calc(70% + 3rem);
        padding: 0;
        background-color: #1e4a7e; 
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 10%!important;
        border-radius: 0;
    }
    .popover .arrow::after {
        border-bottom-color: #1e4a7e;
    }
</style>