{% load staticfiles geotags %}
<div class="carousel-item p-5 {% if forloop.first %}active{% endif %}">
{% with country=country|slugify %}
  <div>
    <div class="icon-wrap float-right bg-primary-alt">
      <img src="{% static 'img/flags/'|add:country|add:'.svg' %}" class="country-flag svg" id="{{ country }}"/>
    </div>
    <p style="font-weight: 400; font-size:13px;">
      {% if country == 'beta' %}
      News
      {% else %}
      New Country
      {% endif %}
    </p>
    <h2 style="font-weight: 600;">
      {% if country == 'beta' %}
      We'd love to hear your feedback!
      {% else %}
      {{ country|title }} country profile now available
      {% endif %}
    </h2>
    <p class="pt-2">
      {% if country == 'beta' %}
      Takwimu is now released in beta: your feedback on all aspects of the site will help us to improve
      before launching.
      {% else %}
      Explore human development data and analysis for {{ country|title }}.
      {% endif %}
      </p>
    <p>
      <a class="btn btn-success px-4 py-1" style="font-size: 80%; line-height: 2.4;"
          {% if country == 'beta' %}
          href="mailto:{{ settings.takwimu.SupportSetting.support }}" target="_blank"
          {% else %}
          href="/profiles/{{ country }}"
          {% endif %} >
        {% if country == 'beta' %}
        Send your comments
        {% else %}
        View Country Profile
        {% endif %}
        <img class="border-0 svg pt-1 ml-1" src="{% static 'img/icons/button-arrow.svg' %}" alt="button arrow"
            style="height:12px;">
      </a>
    </p>
  </div>
{% endwith %}
</div>
