{% load staticfiles %}

<div class="carousel-item p-5 {% if forloop.first %}active{% endif %}">
  <div>
    <div class="overlay float-right"><img src="{% static 'img/flags/'|add:country|add:'.svg' %}" class="float-right"/></div>
    <p class="text-uppercase" style="font-weight: 400; font-size:13px;">New Country</p>
    <h2 style="font-weight: 600;">{{ country|title }} country profile now available</h2>
    <p class="pt-2">Explore human development data and analysis for {{ country|title }}.</p>
    <p>
      <a href="/profiles/{{ country }}" class="btn btn-info px-4 text-uppercase" style="font-size: 80%; height: 44px;">
        View Country Profile <i class="fas fa-long-arrow-alt-right fa-2x ml-2"></i>
      </a>
    </p>
  </div>
</div>

