{% load staticfiles cache %}
{% cache 600  hero %}
<div style="background: #fff url('{% static 'img/bg/africanparliament-homepage.jpg'%}') no-repeat right bottom; background-size: 100%;">
  <div class="py-5" style="background-image: linear-gradient(135deg, #fff, rgba(255,255,255,0.8), transparent);">
    <div class="container mt-3">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-8">
          <h1 class="font-weight-bold display-4">
            Actionable insights for African changemakers
          </h1>
          <p>Takwimu provides quality insights and data-driven analysis on Human Development Indicators across 10 African countries.</p>
          <p class="line-height-md" style="font-size: 16px"><span style="opacity: 0.6;">Explore data and analysis by</span> <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">country</a>, <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">topic</a> <span style="opacity: 0.6;">, and</span> <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">SDG indicator</a><span style="opacity: 0.6;">, discover</span> <a href="https://medium.com/takwimu-africa" target="_blank" rel="noopener">expert insights</a> <span style="opacity: 0.6;">on key development issues, and</span> <a href="/about">see how we created Takwimu</a><span style="opacity: 0.6;">.</span>
          </p>
          <p class="mt-2">
            <a href="/about/" class="btn btn-primary font-weight-bold my-2 mr-3 pt-2 pb-2 px-5">
              Find out more <i class="fas fa-caret-right fa-lg ml-3"></i>
            </a>
          </p>
          <hr class="d-md-none border-light"/>
        </div>

        {% comment %}
        <div class="col-md-6 col-lg-4">
          <div id="carousel-homepage-hero"
               data-toggle="carousel"
               class="carousel slide bg-primary text-light"
               style="min-height: 510px;">
            <ol class="carousel-indicators">
              <li data-target="#carousel-homepage-hero" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-homepage-hero" data-slide-to="1"></li>
              <li data-target="#carousel-homepage-hero" data-slide-to="2"></li>
              <li data-target="#carousel-homepage-hero" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              {% with countries='beta nigeria tanzania senegal' %}
              {% for country in countries.split %}
                {% include 'takwimu/_includes/homepage/carousel_item_detail.html' %}
              {% endfor %}
              {% endwith %}
            </div>
          </div>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>

{% endcache %}
