{% load staticfiles cache %}
{% cache 600  hero %}
<div style="/*background: #074c9c url('{% static 'img/bg/homepage-hero.jpg'%}') no-repeat center; background-size: cover;*/">
  <div class="py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-8">
          <h1 class="font-weight-regular display-4">
            Actionable insights for African changemakers
          </h1>
          <p>Takwimu provides quality insights and data-driven analysis on Human Development Indicators across 10 African countries.</p>
          <p style="font-size: 16px"><span style="opacity: 0.6;">Explore data and analysis by</span> <a href="/profiles">country</a>, <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">topic</a> <span style="opacity: 0.6;">, and</span> <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">SDG indicator</a><span style="opacity: 0.6;">, discover</span> <a href="https://medium.com/takwimu-africa" target="_blank" rel="noopener">expert insights</a> <span style="opacity: 0.6;">on key development issues, and</span> <a href="/about">see how we created Takwimu</a><span style="opacity: 0.6;">.</span>
          </p>
          <p class="mt-2">
            <a href="/about/" class="btn btn-primary font-weight-bold my-2 mr-3 pb-2 px-5">
              Find out more <i class="fas fa-caret-right fa-lg ml-3 pt-1"></i>
            </a>
          </p>
          <hr class="d-md-none border-light"/>
        </div>

        <div class="col-md-6 col-lg-4">
          <div id="carousel-homepage-hero"
               data-toggle="carousel"
               class="carousel slide bg-primary shaddow"
               style="height: 425px">
            <ol class="carousel-indicators">
              <li data-target="#carousel-homepage-hero" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-homepage-hero" data-slide-to="1"></li>
              <li data-target="#carousel-homepage-hero" data-slide-to="2"></li>
              <li data-target="#carousel-homepage-hero" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              {% with countries='beta nigeria tanzania senegal' %}
              {% for country in countries.split %}
                {% include 'takwimu/_includes/homepage/carousel_item_detail.html' %}
              {% endfor %}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #carousel-homepage-hero .icon-wrap {
    border-radius: 999px;
    height: 50px; width: 50px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    overflow: hidden;
  }
    #carousel-homepage-hero .country-flag.svg {
      height: 50px;
      width: 50px;
      opacity: 0.76;
      mix-blend-mode: screen;
      filter: saturate(0%);
    }
      #carousel-homepage-hero svg#beta {
        padding: 10px;
        opacity: 1.0;
        filter: none;
        mix-blend-mode: normal;
        background: #fff;
      }

  #carousel-homepage-hero .carousel-item .btn {
    background-color: rgba(255, 255, 255, 0.28);
  }
  #carousel-homepage-hero .carousel-item .btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border-color: transparent;
  }
  .carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    border-radius:10px;
    background-color:white;
  }
  .carousel-indicators .active {
    background-color: #005e79;
}
</style>

{% endcache %}
