{% load staticfiles %}

<div class="carousel-item p-5 {% if forloop.first %}active{% endif %}">
  <div class="">
    <img src="{% static 'img/flags/'|add:country|add:'.svg' %}" class="float-right"/>
    <p class="text-uppercase" style="font-weight: 600;">New Country</p>
    <h2 style="font-weight: 600;">{{ country|title }} country profile now available</h2>
    <p>Explore human development data and analysis for {{ country|title }}.</p>
    <p>
      <a href="/profiles/{{ country }}" class="btn btn-info px-4 text-uppercase" style="font-size: 80%;">
        View Country Profile <i class="fa fa-arrow-right ml-2"></i>
      </a>
    </p>
  </div>
</div>
