{% load staticfiles %}

<footer class="text-light small" style="background-image: linear-gradient(to bottom, #1f6cc6, #57c9b0);">
  <!-- Footer widgets -->
  <div class="container py-5">

    <div class="row mt-3 mb-2">
      <div class="col-3">
        <p><img src="{% static 'img/logo-white-all.png' %}" alt="" style="max-height: 22px;"></p>
        <p>Takwimu is an open data platform which
            facilitates African-led development in areas
            such as Agriculture, Education, Health & 
            Financial Inclusion.</p>
          <p><a href="#">Find out more »</a></p>
      </div>
      <div class="col-3">
        <h5>Quick Links</h5>
      </div>
      <div class="col-3">
        <h5>Find Data</h5>
      </div>
      <div class="col-3">
        <h5>Search TAKWIMU</h5>
      </div>
    </div>
    
  </div>

  <!-- Footer Nav -->
  <nav class="navbar navbar-expand-lg navbar-dark small" style="background-color: #144681; height: 75px;">
    <div class="container">
      <span class="navbar-text">
        © 2018, TAKWIMU CC by 4.0
      </span>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Terms of Use</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cookie Policy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">tw</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">fb</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">yt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ig</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">gh</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">English</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</footer>