{% load staticfiles %}

<footer class="text-light small font-weight-light" style="background: #1f6cc6;">
  <!-- Footer widgets -->
  <div class="container py-5">

    <div class="row mt-3 mb-2">
      <div class="col-6">
        <p class="mb-4 mt-3">
          <img src="{% static 'img/logo-white-all.png' %}" alt=""
               style="max-height: 40px;">
        <div class="underline"></div>
        </p>
        <h3 style="font-weight: bold">Explore Africa, by numbers.</h3>


        <p style="opacity: 0.6; font-size: 16px">Takwimu is an initiative by</p>
        <div class="row">
          <div class="col-2 partner-logo-container m-2">
            <img src="{% static 'img/logos/bmgf-white.png' %}" class="" alt="Bill and Melinda Gates Foundation logo">
          </div>
          <div class="col-2 partner-logo-container m-2">
            <img src="{% static 'img/logos/ap-white.png' %}" class="img-responsive" alt="Africa Practice logo">
          </div>
          <div class="col-2 partner-logo-container m-2">
            <img src="{% static 'img/logos/cfafrica-white.png' %}" class="img-responsive" alt="C4A logo">
          </div>
          <div class="col-2 partner-logo-container m-2">
            <img src="{% static 'img/logos/ihub-white.png' %}" class="img-responsive" alt="ihub logo">
          </div>
        </div>

      </div>
      <div class="col-6 pt-5">
        <div class="mt-5 pl-5" style="border-left: solid 2px #4081ce;">
          <p style="font-size: 20px; font-weight: bold;">Data from 10 african
            counties showing the impact of money, politics
            and "the people”.</p>
          <div class="underline"></div>

          <p class="pt-4" style="font-size: 16px"><span style="opacity: 0.6;">Explore data through</span> <a href="">countries</a>,
            <a href="">topics</a>, <a href="">read insights</a><span style="opacity: 0.6;">, and learn more
              about</span> <a href="">our story</a></p>
        </div>
      </div>

    </div>

  </div>

  <!-- Footer Nav -->
  <nav class="navbar navbar-expand-lg navbar-dark small"
       style="background-color: #074c9c;">
    <div class="container">


      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-5">
          <li class="nav-item navbar-text" style="font-weight: bold">Stay in touch with us </li>
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/TakwimuAfrica"
               target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://facebook.com/TakwimuAfrica"
               target="_blank">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/TakwimuAfrica"
               target="_blank">
              <i class="fab fa-github"></i>
            </a>
          </li>
        </ul>

        <span class="navbar-text mx-auto">
        © {% now "Y" %} TAKWIMU <a
            href="https://creativecommons.org/licenses/by/4.0/" target="_blank"
            rel="noopener">CC by 4.0</a>
      </span>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/terms-of-use">Terms of
              Use</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/privacy-policy">Privacy
              Policy</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</footer>

<style>
  footer a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
  }

  .partner-logo-container {
    opacity: 0.06;
    background-color: #f4f4f4;
    height: 81px;
  }

  footer .underline {
    width: 79px;
    height: 1px;
    border: solid 1px #4081ce;
  }

  footer .navbar-dark .navbar-text {
    color: #ffffff;
  }
</style>