{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand pl-5" href="#">
    <img class="pl-4" src="{% static 'img/whitelogo.png' %}">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav pl-5">
      <li class="nav-item pl-4">
        <a class="nav-link" href="#">About Takwimu<span class="sr-only"></span></a>
      </li>
      <li class="nav-item pl-4">
        <a class="nav-link" href="#">Data Services</a>
      </li>
      <li class="nav-item pl-4">
        <a class="nav-link" href="#">Media Center</a>
      </li>
      <li class="nav-item pl-4">
        <a class="nav-link" href="#">Community</a>
      </li>
      <li class="nav-item help">
        <a class="nav-link " href="#">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light border">
  <ul class="navbar-nav pl-5">
    <li class="nav-item borders">
        <a class="nav-link " href="#">DATA BY COUNTRY<span><i class="fas fa-arrow-down"></i></span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">DATA BY TOPIC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">DATA BY PRIORITY</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">DATA BY SDG INDICATOR</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">EXPLORE ALL DATA POINTS</a>
      </li>
  </ul>


  
</nav>
