{% load staticfiles %}
<!-- Primary Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1f6cc6; height: 71px;">
  <a class="navbar-brand" href="/">
    <img class="pl-4" src="{% static 'img/logo-white-all.png' %}" style="max-height: 22px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav pl-5">
      <li class="nav-item pl-4">
        <a class="nav-link" href="#">About Takwimu<span class="sr-only"></span></a>
      </li>
      <li class="nav-item pl-4">
        <a class="nav-link" href="#">Data Services</a>
      </li>
      <li class="nav-item pl-4">
        <a class="nav-link" href="#">Media Center</a>
      </li>
      <li class="nav-item pl-4">
        <a class="nav-link" href="#">Community</a>
      </li>
      <li class="nav-item pl-4">
        <a class="nav-link" href="#">Help</a>
      </li>
      <li class="nav-item pl-4">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<!-- Secondary Navbar -->
<nav class="navbar navbar-expand-lg navbar-light border pt-0 pb-0">
	<div class="d-flex flex-row justify-content-start pl-4 text-secondary text-uppercase">
	  <div class="nav-link border-right px-5 py-4">Data by Country &nbsp<i class="fas fa-angle-down"></i></div>
	  <div class="nav-link border-right px-5 py-4">Data by Topic</div>
	  <div class="nav-link border-right px-5 py-4">Data by Priority</div>
	  <div class="nav-link border-right px-5 py-4">Data by SDG Indicators &nbsp<i class="fas fa-angle-down"></i></div>
	  <div class="nav-link px-5 py-4">Explore all data points</div>
	</div>
</nav>