{% load staticfiles %}

<section class="partners container py-5 text-center" style="max-width: 800px;">
  <h1 class="display-4 font-weight-bold">The Partnership</h1>
  <p>africapractice, Code for Africa and iHub came together to create Takwimu
  </p>
  <div class="row align-items-center pt-4">
    <a href="http://www.africapractice.com/" target="_blank" rel="noopener" class="col border-right p-4">
      <img src="{% static 'img/logos/ap.png' %}" alt="africapractice">
    </a>
    <a href="https://codeforafrica.org" target="_blank" rel="noopener" class="col border-right p-4">
      <img src="{% static 'img/logos/cfafrica.png' %}" alt ="Code for Africa">
    </a>
    <a href="https://ihub.co.ke/" target="_blank" rel="noopener" class="col p-4">
      <img src="{% static 'img/logos/ihub-black.png' %}" alt="iHub">
    </a>
  </div>
  <p class="pt-4 pb-2">Supported by:</p>
  <div class="">
    <a href="https://www.gatesfoundation.org" target="_blank" rel="noopener" class="p-4">
      <img src="{% static 'img/logos/bmgf.png' %}" alt="Bill and Melinda Gates Foundation">
    </a>
  </div>
</section>

<style>
  section.partners img {
    max-width: 150px;
    max-height: 60px;
  }
</style>
