{% load staticfiles %}
<div class="container py-5" style="max-width: 800px;">
        <h1 class="text-center display-4 font-weight-normal pb-3">The Partnership</h1>
        <!-- TODO: Add description + logos here. -->
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos rem vitae, quas officiis earum 
          quam, nihil cupiditate alias unde aspernatur adipisci.
       </p>
        <div class="d-flex flex-row justify-content-center py-5">
          <a href="#" class="col-3 border-right pt-5 pr-4 pl-4" style="height:100px;">
            <img src="{% static 'img/logos/bmgf.png' %}" alt="Bill and Melinda Gates Foundation" style="width:auto;">
          </a>
          <a href="#" class="col-3 border-right pt-5 pr-4 pl-4" style="height:100px;">
            <img src="{% static 'img/logos/ap.png' %}" alt="Africa Practice" style="width:auto;">
          </a>
          <a href="#" class="col-3 border-right pt-4 pl-5" style="height:100px;">
            <img src="{% static 'img/logos/cfafrica.png' %}" alt ="Code for Africa" style="height:50px;width:auto;">
          </a>
          <a href="#" class="col-3 pt-4 pr-4 pl-4" style="height:100px;">
            <img src="{% static 'img/logos/ihub-black.png' %}" alt="Ihub" style="height:50px;width:auto;">
          </a>
        </div>
        
      </div>
      