{% load staticfiles %}
<div class="container pt-5">
	<div class="row ">
		<div class="col-4">
			<!--Navbar section -->
			<nav class="nav flex-column">
				<a class="nav-link btn btn-primary border-bottom rounded-0 btn-large py-3 text-center" href="">Economy Size</a>
				<a class="nav-link btn btn-primary border-bottom rounded-0 btn-large py-3 text-center" href=""><i class="fas fa-eye text-left"></i> &nbsp GDP growth rate</a>
				<a class="nav-link btn btn-primary border-bottom rounded-0 btn-large py-3 text-center" href="">Oil price growth</a>
				<a class="nav-link btn btn-primary border-bottom rounded-0 btn-large py-3 text-center"  href="">Nigerian's in poverty</a>
				<a class="nav-link btn btn-primary border-bottom rounded-0 btn-large py-3 text-center"  href="">Size of middle class</a>
				<a class="nav-link btn btn-primary border-bottom rounded-0 btn-large py-3 text-center"  href="">Access to water</a>
				<a class="nav-link btn btn-primary border-bottom rounded-0 btn-large py-3 text-center"  href="">Rural/ Urban education</a>
			</nav>
			<div class="row pt-5">
				<p class="pl-3">Add your voice to the discussion of nigeria's <br>development context </p>
				<p class="pl-3"><i class="fas fa-comments"></i> &nbsp 89 comments</p>
			</div>
		</div>

		<div class="col-8">
			<h1>Development Context</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
				et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut
				ali quip ex eacommodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
				in culpa qui officia deserunt mollit anim id est laborum.....<a href="#">Read more</a></p>
				<div>
					<h4 class="pt-5">GDP Growth Rate</h4>
					<div id="chart"></div>
			</div>
		</div>
	</div>
</div>