
<div class="row pt-5 bg-white">
    <div class="col" ><hr size="40"></div>
      <span class="fa-stack fa-3x" >
        <i class="fa fa-circle fa-stack-3x" ></i>
        <i class="fa fa-users fa-stack-1x fa-inverse" ></i>
      </span>
    <div class="col" ><hr size="40"></div>
  </div>
</div>

<div class="showcase clearfix partners {{ extra_css_class }}">
    <div class="wrapper text-center">
        <div class="pb-4 text-color">
            <h1>Partners</h1>
            <h6>Takwimu is made possible through the support of the following partners:</h6>
        </div>
        <a href="https://codeforafrica.org/" target="_blank" rel="noopener">
            <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/cfafrica.png" 
                alt="Code for Africa">
        </a>
        <a href="https://datazetu.or.tz/" target="_blank" rel="noopener">
            <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/pepfar-white.png" 
                alt="PepFar">
        </a>
        <a href="https://datazetu.or.tz/" target="_blank" rel="noopener">
            <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/twaweza.png" 
                alt="Twaweza">
        </a>
        <a href="https://datazetu.or.tz/" target="_blank" rel="noopener">
            <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/bmgf.png" 
                alt="Bill and Melinda Gates Foundation">
        </a>
        <a href="https://datazetu.or.tz/" target="_blank" rel="noopener">
            <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/datazetu.png" 
                alt="Data Zetu">
        </a>
        <a href="https://datazetu.or.tz/" target="_blank" rel="noopener">
            <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/worldbank.png"  
                alt="World bank">
        </a>
    </div>
</div>