<div class="showcase partners {{ extra_css_class }}">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a href="">
                    <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/cfafrica.png" 
                        alt="Code for Africa">
                </a>
            </div>
            <div class="col-4">
                <a href="">
                    <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/pepfar-white.png" 
                        alt="PepFar">
                </a>
            </div>
    
            <div class="col-4">
                <a href="">
                    <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/twaweza.png" 
                        alt="Twaweza">
                </a>
            </div>
    
    
            <div class="col-4 pt-5">
                <a href="">
                    <img class="m-4 partner-logo pt-3 pr-2" src="{{ STATIC_URL }}img/logo/bmgf.png" alt="Bill and Melinda Gates Foundation" style="max-width:100%;">
                </a>
            </div>
    
            <div class="col-4 pt-5">
                <a href="">
                    <img class=" m-4 partner-logo pl-2" src="{{ STATIC_URL }}img/logo/datazetu.png" 
                        alt="Data Zetu">
                </a>
            </div>
    
            <div class="col-4 pt-5">
                <a href="">
                    <img class="m-4 partner-logo pt-3" src="{{ STATIC_URL }}img/logo/worldbank.png"  
                        alt="World bank">
                </a>
            </div>
        </div>
    </div>
</div>