<div class="showcase clearfix partners {{ extra_css_class }}">
    <div class="wrapper text-center">
        <a href="https://codeforafrica.org/" target="_blank" rel="noopener">
            <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/cfafrica.png" 
                alt="Code for Africa">
        </a>
        <a href="https://datazetu.or.tz/" target="_blank" rel="noopener">
            <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/pepfar-white.png" 
                alt="PepFar">
        </a>
        <a href="https://datazetu.or.tz/" target="_blank" rel="noopener">
            <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/twaweza.png" 
                alt="Twaweza">
        </a>
        <a href="https://datazetu.or.tz/" target="_blank" rel="noopener">
            <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/bmgf.png" 
                alt="Bill and Melinda Gates Foundation">
        </a>
        <a href="https://datazetu.or.tz/" target="_blank" rel="noopener">
            <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/datazetu.png" 
                alt="Data Zetu">
        </a>
        <a href="https://datazetu.or.tz/" target="_blank" rel="noopener">
            <img class="m-4 partner-logo" src="{{ STATIC_URL }}img/logo/worldbank.png"  
                alt="World bank">
        </a>
    </div>
</div>