{% load staticfiles %}
<div class="row pt-5 bg-white">
  <div class="col" ><hr size="40"></div>
  <span class="fa-stack fa-3x">
    <i class="fa fa-circle fa-stack-3x" ></i>
    <i class="fa fa-commenting-o fa-stack-1x fa-inverse"></i>
  </span>
  <div class="col" ><hr size="40"></div>
</div>
</div>
<div class="showcase bg-white">
  <div class="container clearfix text-center">
    <div class="text-color">
    <h1>Story Showcase</h1>
    <p >Explore how people are using HURUmap Kenya to improve their storytelling.</p>
  </div>
    <br>    
    <div class="card-group">
      <div class="card bg-white border">
        <img class="card-img card-img-top" src="{% static 'img/showcase/donkeys.jpg' %}">
        <div class="card-body">
          <h4>Marakwet locals intercept lorry ferrying 30 donkeys as demand for meat rises</h4>
          <p class="pt-2">Marakwet East locals intercepted a lorry transporting 30 donkeys in Chesoi, on suspicion that the animals had been stolen from from other areas.</p>
          <a href="" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="card bg-white border">
        <img class="card-img card-img-top" src="{% static 'img/showcase/crime.jpg' %}">
        <div class="card-body">
          <h4>Two suspected thugs shot dead in Nairobi as crime rate soars</h4>
          <p class="pt-4">Two suspected thugs were shot dead in two separate incidents on Tuesday evening, and three guns with more than 30 bullets recovered.</p>
          <a href="" class="btn btn-primary">Read More</a>
        </div>
      </div>
      <div class="card bg-white border">
        <img class="card-img card-img-top" src="{% static 'img/showcase/early-pregnancy.jpg' %}">
        <div class="card-body">
          <h4>Narok, Homa Bay and West Pokot top in early pregnancy</h4>
          <p class="pt-4">About one in every five teenage girls between 15-19 years have either had a live birth or are pregnant with their first child, according to a report by the United Nations Population Fund.</p>
          <a href="" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>