{% load static geotags %}

<style>
  .country-selector button::after {
    content: none;
  }
  .section-list-country-head {
    text-align: center;
    display: block;
    font-size: 31px;
    line-height: 1.29;
  }
</style>

{% if selector == 'False' %}
  <div class="section-list-country-head">
      <img class="rounded-circle border-light mr-2"
          {% with country_slug=current_page.title|slugify %}
            src="{% static 'img/flags/'|add:country_slug|add:'.svg' %}"
          {% endwith %}
          style="border-style:double; width: 68px; height: 68px;"/>
      {{ current_page.title }}
  </div>
{% else %}
  <div class="country-selector btn-group">
    <button class="btn btn-link btn-lg px-0 dropdown-toggle {{ class_extra }}"
        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        style="text-decoration: none; color:#000;"
        id="dropdownMenuButton_{{ dropdownMenuButton_id }}" >
      <img class="rounded-circle border-light mr-2"
          {% with country_slug=current_page.title|slugify %}
            src="{% static 'img/flags/'|add:country_slug|add:'.svg' %}"
          {% endwith %}
          style="border: solid 2px; width: 40px; height: 40px;"/>
      {{ current_page.title }}
      <span>
        <i class="fa fa-angle-down fa-fw"></i>
      </span>
    </button>

    <div class="dropdown-menu py-0 rounded-0"
        aria-labelledby="dropdownMenuButton_{{ dropdownMenuButton_id }}"
        style="z-index: 9200;">

      {% for country in countries %}
      {% if country.published %}
        <a class="dropdown-item p-3" href="/profiles/{{ country.slug }}"
            data-value="{{ country.name }}">
          <img class="rounded-circle border-light mr-2"
              src="{% static 'img/flags/'|add:country.slug|add:'.svg' %}"
              style="border: solid 2px; width: 30px; height: 30px;"/>
          {{ country.short_name }}
        </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}


<!-- When you select a country, the selector changes. -->
<script type="text/javascript">
  window.addEventListener('load', function () {
    $('.country-selector .dropdown-menu a').click(function () {
      $(".country-selector button:first-child").html($(this).html());
    });
  });
</script>
