{% load staticfiles %}

<header class="text-light" style="background: #074c9c url('{% static 'img/bg/profile-hero.jpg'%}') no-repeat center; background-size: cover;">
  <div class="jumbotron jumbotron-fluid pt-0 mb-0" style="background-color: rgba(7, 76, 156, 0.8)">

    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
          <li class="breadcrumb-item">
            <a href="/" class="text-light"><u>Home</u></a><i class="glyphicon glyphicon-thumbs-up"></i>
          </li>
          <li class="breadcrumb-item">
            <a href="/profiles" class="text-light"><u>Country Profiles</u></a>
          </li>
          {% if page.content_type.model == "profilesectionpage" %}
            <li class="breadcrumb-item">
              <ahref="{{ page.get_parent.url }}" class="text-light">
                <u>{{ page.get_parent.title }}</u>
              </a>
            </li>
          {% endif %}
          <li class="breadcrumb-item active text-light" aria-current="page">
              {{ page.title }}
          </li>
        </ol>
      </nav>

      <div class="d-flex justify-content-between align-items-center">
        {% if page.content_type.model == "profilesectionpage" %}
          {% include 'takwimu/_includes/profile/country_selector.html' with current_page=page.get_parent class_extra='text-light' dropdownMenuButton_id="hero" %}
        {% else %}
          {% include 'takwimu/_includes/profile/country_selector.html' with current_page=page class_extra='text-light' dropdownMenuButton_id="hero" %}
        {% endif %}

        <!-- TOC Button -->
        <button
            class="btn btn-light btn-lg pr-4 pl-3 py-3 position-fixed font-heading"
            style="right: 0; border-radius: 2px 0 0 2px; font-size: 13px; z-index: 1000; border: 0px; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.29)"
            onclick="javascript:$('#toc').removeClass('d-none')">
          <span class="mr-2"><img src="{% static 'img/icons/toc-menu.svg' %}"></span>
          Table of Contents
        </button>
      </div>

      <div class="text-center">
        {% if page.content_type.model == "profilesectionpage" %}

          <p>Section
            {% for section in page.get_parent.specific.sections.all %}
              {% if page.title == section.section.title %}
                {{ forloop.counter | add:"1" }}
              {% endif %}
            {% endfor %}
          </p>
          <h1 class="text-white" style="font-size: 60px">{{ page.title }}</h1>
          <p class="lead my-4 mx-auto" style="max-width: 780px;">{{ page.description }}</p>

          {% include 'takwimu/_includes/profile/country_profile_downloader.html' with profile_page=page.get_parent.specific %}
        {% else %}

          <p>Section 1</p>
          <h1 class="text-white" style="font-size: 60px">Country Overview</h1>
          <p class="lead my-4 mx-auto" style="max-width: 780px;">
            A top-level overview of {{ page.title }} – how it’s governed, the make-up of
            its population, the economy and SDG indicators
          </p>

          {% include 'takwimu/_includes/profile/country_profile_downloader.html' with profile_page=page %}
        {% endif %}
      </div>

    </div>

  </div>
  <div class="bg-secondary">
    <div class="container">
      <nav class="nav nav-justified container text-center custom-nav">
        {% for topic in page.body %}
        <a href="#{{ topic.value.title|slugify }}" class="nav-item nav-link text-light pt-4 pb-2 px-0">
          <div class="pt-2 col text-center {% if not forloop.first %}border-left{% endif %} d-flex align-items-center flex-column">
            <span class="d-block my-1 {{ topic.value.icon }} text-white py-0" style="font-size: 1.559em;"></span>
            <h5 class="pt-1" style="font-size: 16px;">{{ topic.value.title }}</h5>
          </div>
        </a>
        {% endfor %}
      </nav>
    </div>
  </div>

</header>

<!-- Table of Contents -->
<div id="toc" class="d-none p-4 border-left"
  style="max-width: 400px; width: 100%; height: 100vh; position: fixed; top: 0; right: 0; overflow-y: scroll; background-color: #fff; z-index: 99999;">

  <p class="text-right mb-3">
    <button
        class="btn btn-link font-weight-bold ml-auto border-0 py-2"
        style="text-decoration: none; color: #000;"
        onclick="javascript:$('#toc').addClass('d-none')">
      Close
      <img src="{% static 'img/icons/close.svg' %}" class="ml-2 p-1" alt="Close" style="width: 35px;height: 35px;object-fit: contain;">
    </button>
  </p>

  {% if page.content_type.model == "profilesectionpage" %}
    {% include 'takwimu/_includes/profile/country_selector.html' with current_page=page.get_parent dropdownMenuButton_id="toc" %}
  {% else %}
    {% include 'takwimu/_includes/profile/country_selector.html' with current_page=page dropdownMenuButton_id="toc" %}
  {% endif %}

  <hr class="my-4"/>

  <h2 class="mb-3">Table of Contents</h2>

  {# TOC content is relative to a profile page. #}
  {# So we check if its a profile page, else its a profile section #}
  {# If its a section, we reference the parent #}

  {% if page.subpage_types|first == 'takwimu.ProfileSectionPage' %}
    {% include 'takwimu/_includes/profile/toc_detail.html' with section=page %}

    {% for section in page.sections.all %}
      {% include 'takwimu/_includes/profile/toc_detail.html' with section=section.section %}
    {% endfor %}
  {% else %}
    {% include 'takwimu/_includes/profile/toc_detail.html' with section=page.get_parent.specific %}

    {% for section in page.get_parent.specific.sections.all %}
      {% include 'takwimu/_includes/profile/toc_detail.html' with section=section.section %}
    {% endfor %}
  {% endif %}

</div>

<style>
.breadcrumb {
  padding: 1rem;
}
.breadcrumb-item {
  padding-left: .1rem;
  letter-spacing: 0;
  font-size: 14px;
}
  .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .1rem;
    color: #fff;
    content: "\00BB";
  }
</style>


<!-- TOC: Toggle opening and closing accordion. -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    $('button[data-toggle="collapse"]').on('click', function () {
      $(this)
          .find('.icon')
          .toggleClass('icon-minus')
          .toggleClass('icon-plus');
    });
  });
</script>
