{% load staticfiles %}

<header class="text-light" style="background: #074c9c url('{% static 'img/bg/profile-hero.jpg'%}') no-repeat center; background-size: cover;">
  <div class="jumbotron jumbotron-fluid pt-4 mb-0" style="background-color: rgba(7, 76, 156, 0.8)">

    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
          <li class="breadcrumb-item">
            <a href="/" class="text-light"><u>Home</u></a>
          </li>
          <li class="breadcrumb-item">
            <a href="/profiles" class="text-light"><u>Country Profiles</u></a>
          </li>
          {% if page.content_type.model == "profilesectionpage" %}
            <li class="breadcrumb-item">
              <ahref="{{ page.get_parent.url }}" class="text-light">
                <u>{{ page.get_parent.title }}</u>
              </a>
            </li>
          {% endif %}
          <li class="breadcrumb-item active text-light" aria-current="page">
              {{ page.title }}
          </li>
        </ol>
      </nav>

      <div class="d-flex justify-content-between align-items-center">
        {% if page.content_type.model == "profilesectionpage" %}
          {% include 'takwimu/_includes/profile/country_selector.html' with current_page=page.get_parent class_extra='text-light' %}
        {% else %}
          {% include 'takwimu/_includes/profile/country_selector.html' with current_page=page class_extra='text-light' %}
        {% endif %}

        <!-- TOC Button -->
        <button
            class="btn btn-light btn-lg text-uppercase pr-4 pl-3 position-fixed font-weight-bold"
            style="right: 0; border-radius: 2px 0 0 2px; font-size: 100%; z-index: 1000; "
            onclick="javascript:$('#toc').removeClass('d-none')">
          <span class="mr-2"><i class="fas fa-align-left fa-fw"></i></span>
          Table of Contents
        </button>
      </div>

      <div class="text-center">
        {% if page.content_type.model == "profilesectionpage" %}

          <p class="font-weight-bold text-uppercase">Section
            {% for section in page.get_parent.specific.sections.all %}
              {% if page.title == section.section.title %}
                {{ forloop.counter | add:"1" }} {% endif %}{% endfor %}</p>
          <h1 class="display-3" style="font-weight: 900;">{{ page.title }}</h1>
          <p class="lead my-4 mx-auto"
             style="max-width: 780px;">{{ page.description }}</p>

        {% else %}

          <p class="font-weight-bold  text-uppercase">Section 1</p>
          <h1 class="display-3" style="font-weight: 900;">Country Overview</h1>
          <p class="lead my-4 mx-auto" style="max-width: 780px;">
            A top-level overview of {{ page.title }} – how it’s governed, the make-up of
            its population, the economy and SDG indicators
          </p>

        {% endif %}

        <a class="btn btn-primary btn-sm text-uppercase px-4 py-2 disabled" href="#" 
          role="button" data-toggle="tooltip" data-placement="top" title="Coming Soon">
          Download full country profile
          <span class="border-left pl-2 ml-2">
            <i class="fas fa-download fa-fw"></i>
          </span>
        </a>
      </div>

    </div>

  </div>
  <div class="bg-secondary">
    <div class="container">
      <div class="row d-flex flex-row justify-content-center custom-nav">
        {% for topic in page.body %}
        <a href="#{{ topic.value.title|slugify }}" class="text-light text-truncate text-uppercase px-0 py-3">
          <div class="py-2 col {% if not forloop.first %}border-left{% endif %} d-flex align-items-center flex-column">
            <span class="d-block my-1 {{ topic.value.icon }} text-white py-0" style="font-size: 1.559em;"></span>
            <small class="d-block">{{ topic.value.title }}</small>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

</header>

<!-- Table of Contents Sidebar -->
<div id="toc" class="d-none p-4 border-left"
  style="max-width: 400px; width: 100%; height: 100vh; position: fixed; top: 0; right: 0; overflow-y: scroll; background-color: #fff; z-index: 2000;">

  <p class="text-right mb-3">
    <button
        class="btn btn btn-outline-primary text-uppercase d-flex align-items-center ml-auto border-0 py-2"
        onclick="javascript:$('#toc').addClass('d-none')">
      Close 
      <!-- <span class="ml-2 font-weight-light" style="font-size: 2em;">X</span> -->
      <span class="fa fa-times-circle ml-2"></span>
    </button>
  </p>

  {% if page.content_type.model == "profilesectionpage" %}
    {% include 'takwimu/_includes/profile/country_selector.html' with current_page=page.get_parent %}
  {% else %}
    {% include 'takwimu/_includes/profile/country_selector.html' with current_page=page %}
  {% endif %}

  <hr class="my-4"/>

  <h2 class="mb-3">Table of Contents</h2>
  
  {# TOC content is relative to a profile page. #}
  {# So we check if its a profile page, else its a profile section #}
  {# If its a section, we reference the parent #}

  {% if page.subpage_types|first == 'takwimu.ProfileSectionPage' %}
    {% include 'takwimu/_includes/profile/toc_detail.html' with section=page %}

    {% for section in page.sections.all %}
      {% include 'takwimu/_includes/profile/toc_detail.html' with section=section.section %}
    {% endfor %}
  {% else %}
    {% include 'takwimu/_includes/profile/toc_detail.html' with section=page.get_parent.specific %}

    {% for section in page.get_parent.specific.sections.all %}
      {% include 'takwimu/_includes/profile/toc_detail.html' with section=section.section %}
    {% endfor %}
  {% endif %}


</div>


<!-- TOC - Toggle opening and closing accordion. -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('button[data-toggle="collapse"]').on('click', function () {
            $(this)
                .find('[data-fa-i2svg]')
                .toggleClass('fa-minus')
                .toggleClass('fa-plus');
        });
    });
</script>