<p>
  <button class="btn btn-toc btn-sm mr-2 border-0 p-2 shadow-none" role="button"
          data-toggle="collapse" data-target="#toc-collapse-s{{ section.id }}"
          aria-expanded="false" aria-controls="toc-collapse-s{{ section.id }}"
          style="font-size: 2em; line-height: 1;">
    <span class="icon icon-plus"></span>
  </button>
  <a href="{{ section.url }}" class="font-weight-bold text-underline">
    {% if section.subpage_types|first == 'takwimu.ProfileSectionPage' %}
      Country Overview
    {% else %}
      {{ section.title }}
    {% endif %}
  </a>
</p>

<div class="collapse pl-4" id="toc-collapse-s{{ section.id }}">
  <ul>
    {% for topic in section.body %}
      <li class="pl-2 my-4 text-underline" style="color:#1f6cc6;">
        <a href="{{ section.url }}#{{ topic.value.title|slugify }}">
          {{ topic.value.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>

<style>
.btn-toc {
  background: none;
}
.btn-toc .icon {
  width: 25px;
  height: 25px;
  display: block;
}

.btn-toc .icon-minus {
  background: url(/static/img/icons/minus.svg) no-repeat 50% 50%;
  -webkit-mask-image: url(/static/img/icons/minus.svg) no-repeat 50% 50%;
  mask-image: url(/static/img/icons/minus.svg) no-repeat 50% 50%;
}
.btn-toc .icon-plus {
  background: url(/static/img/icons/add.svg) no-repeat 50% 50%;
  -webkit-mask-image: url(/static/img/icons/add.svg) no-repeat 50% 50%;
  mask-image: url(/static/img/icons/add.svg) no-repeat 50% 50%;
}
</style>