{% load staticfiles wagtailcore_tags %}

<div class="container-fluid data-topic-container py-4" id="{{ topic.value.title|slugify }}">
  <div class="container py-5">
    <div class="row">
      <!-- Left navigation of all indicators-->
      <div class="col-3 dataindicators-nav">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
             aria-orientation="vertical">
          {% for indicator in topic.value.indicators %}
            <a class="nav-link pl-5 py-3 d-flex align-items-center {% if forloop.first %} active show {% endif %}"
               id="d{{ indicator.value.title|slugify }}-tab-btn"
               data-toggle="pill" href="#d{{ indicator.value.title|slugify }}-tab"
               role="tab" aria-controls="d{{ indicator.value.title|slugify }}-tab"
                {% if forloop.first %} aria-selected="true" {% endif %}
               aria-selected="false">
              <i class="fas fa-eye fa-fw"></i>
              {{ indicator.value.title }}
            </a>

            {% if not forloop.last %}
              <hr class="mx-3 my-0" style="border-color: rgba(255, 255, 255, 0.2);"/>
            {% endif %}
          {% endfor %}
        </div>
        <!-- TODO: Integrate with Zendesk -->
        <div class="row pt-5 pb-5 text-dark">
          {% if page.content_type.model == "profilesectionpage" %}
            <p class=" pl-3">Add your voice to the discussion
              of {{ page.get_parent.title }}'s development context </p>
          {% else %}
            <p class=" pl-3">Add your voice to the discussion
              of {{ page.title }}'s development context </p>
          {% endif %}
          <a class="pl-3 font-weight-bold" href="{{ settings.takwimu.SupportSetting.zendesk }}" target="_blank" rel="noopener"
             style="text-decoration: none;">
            <span class="mr-1"><i class="fas fa-comments fa-lg"></i></span> Have
            your say</a>
        </div> <!-- /row pt-5 pb-5 text-dark -->
      </div>  <!-- /.col-3 -->

      <!-- The Main Stage -->
      <div class="col-9 topic topic-{{ topic.value.title|slugify }}">
        <h1 class="anchor" data-anchor-id="{{ topic.value.title|slugify }}">{{ topic.value.title }}</h1>
        <div class="text-dark">
          <p>{{ topic.value.summary }}</p>
          <div class="collapse" id="collapse-{{ topic.value.title|slugify }}">
            {% include_block topic.value.body %}
            <div style="height: 40px;"></div>
          </div>
          <div class="text-center border-bottom position-relative"
               style="top: -45px; height: 50px; background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); z-index: 101;">
            <button class="btn btn-primary position-relative read-more" type="button"
                    data-toggle="collapse" data-target="#collapse-{{ topic.value.title|slugify }}"
                    aria-expanded="false" aria-controls="collapse-{{ topic.value.title|slugify }}"
                    style="border-radius: 0; bottom: -30px;" onclick="javascript:$(this).toggleClass('active')">
              <!-- "Read More: inserted by CSS for easy toggle -->
            </button>
          </div>
          <!-- <div class="bg-white position-relative" style="height:50px; top: -45px; margin-bottom: -45px; z-index: 100;"></div> -->
        </div>
        <div class="indicators-container">
          {% for indicator in topic.value.indicators %}
            <div class="tab-pane fade {% if forloop.first %} active show {% endif %}"
                id="d{{ indicator.value.title|slugify }}-tab" role="tabpanel"
                aria-labelledby="d{{ indicator.value.title|slugify }}-tab-panel">
            {% include 'takwimu/_includes/dataview/indicator.html' with indicator=indicator %}
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</div><!-- container fluid -->

<style>
  .dataindicators-nav .nav-pills {
    background-color: #1f6cc6;
  }

  .dataindicators-nav .nav-link {
    color: #f0f0f0;
  }

  .dataindicators-nav .nav-link:hover {
    color: #f0f0f0;;
  }

  .dataindicators-nav .nav-link .fa-eye {
    display: none;
    margin-left: -2em;
    position: absolute;
  }

  .dataindicators-nav .nav-link[aria-selected=true] .fa-eye {
    display: inline;
  }

  .dataindicators-nav .nav-pills .nav-link.active, .dataindicators-nav .nav-pills .show > .nav-link {
    background-color: transparent;
    font-weight: 500;
  }

  .topic .btn.read-more::after {
    content: "Read More";
  }

  .topic .btn.read-more.active::after {
    content: "Read Less"
  }

  .data-topic-container:nth-of-type(odd) {
    background: #f9f9f9;
  }

  .data-topic-container:nth-of-type(even) {
    background: #f4f4f4;
  }

  .topic .tab-content .tab-content {
    background: #ffffff;
  }

  .topic > h1 {
    font-size: 55px;
  }

  .topic h5 {
    font-size: 25px;
  }

  .topic .btn-group .btn {
    border-radius: 2px;
    color: #1a1a1a;
    background: #ffffff;
    border-color: #f4f4f4;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  }

  /* Add anchors before the closing body tag. */
  .anchor-style {
    color: #000;
    margin-top: 0.5em;
    text-decoration: none!important;
    font-size: 0.5em!important;
  }
  
  *:hover > .anchor-style {
    margin-left: -0.8em !important;
    color: #000;
  }
</style>
