{% load staticfiles %}

<header>
  <div class="jumbotron jumbotron-fluid pt-3 bg-white">

    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
          <li class="breadcrumb-item"><a href="/">Home</a></li> 
          <li class="breadcrumb-item"><a href="/profiles">Country Profiles</a></li>
          {% if page.content_type.model == "profilesectionpage" %}
          <li class="breadcrumb-item"><a href="{{ page.get_parent.url }}">{{ page.get_parent.title }}</a></li>
          {% endif %}
          <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        </ol>
      </nav>
  
      <div class="d-flex justify-content-between align-items-center">
        
        {% include 'takwimu/_includes/profile/country_selector.html' %}
        
        <button class="btn btn-light btn-lg text-uppercase">
          <i class="fas fa-align-left"></i> Table of Contents
        </button>
      </div>
  
      <div class="text-center">
        {% if page.content_type.model == "profilesectionpage" %}

        <p class="strong text-uppercase">Section 1</p>
        <h1 class="display-1">{{ page.title }}</h1>
        <p class="lead my-4 mx-auto" style="max-width: 780px;">{{ page.description }}</p>

        {% else %}
        
        <p class="strong text-uppercase">Section 1</p>
        <h1 class="display-1">Country Overview</h1>
        <p class="lead my-4 mx-auto" style="max-width: 780px;">A top-level overview of Nigeria – how it’s governed, the make-up of it’s population, the economy and SDG indicators</p>
        
        {% endif %}

        <a class="btn btn-primary btn-sm text-uppercase px-2 py-1 disabled" href="#" role="button"
            data-toggle="tooltip" data-placement="top" title="Coming Soon">
          Download full country profile <i class="fas fa-download border-left pl-2 ml-1"></i>
        </a>
      </div>
        
    </div>

  </div>

  <div class="py-5 bg-light">
    <h1 class="text-center">Section Topics buttons go here.</h1>
  </div>

</header>