{% load staticfiles %}

<header>
  <div class="jumbotron jumbotron-fluid pt-3 bg-white">

    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
          <li class="breadcrumb-item"><a href="/">Home</a></li> 
          <li class="breadcrumb-item"><a href="/profiles">Country Profiles</a></li>
          {% if page.content_type.model == "profilesectionpage" %}
          <li class="breadcrumb-item"><a href="{{ page.get_parent.url }}">{{ page.get_parent.title }}</a></li>
          {% endif %}
          <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        </ol>
      </nav>
  
      <div class="d-flex justify-content-between align-items-center">
        
        {% include 'takwimu/_includes/profile/country_selector.html' %}
        
        <!-- TOC Button -->
        <button
            class="btn btn-light btn-lg text-uppercase pr-4"
            style=" position: absolute; right: 0; border-radius: 0.3em 0 0 0.3em;"
            onclick="javascript:$('#toc').removeClass('d-none')">
          <i class="fas fa-align-left"></i> Table of Contents
        </button>

      </div>
  
      <div class="text-center">
        {% if page.content_type.model == "profilesectionpage" %}

        <p class="strong text-uppercase">Section 1</p>
        <h1 class="display-1">{{ page.title }}</h1>
        <p class="lead my-4 mx-auto" style="max-width: 780px;">{{ page.description }}</p>

        {% else %}
        
        <p class="strong text-uppercase">Section 1</p>
        <h1 class="display-1">Country Overview</h1>
        <p class="lead my-4 mx-auto" style="max-width: 780px;">A top-level overview of Nigeria – how it’s governed, the make-up of it’s population, the economy and SDG indicators</p>
        
        {% endif %}

        <a class="btn btn-primary btn-sm text-uppercase px-2 py-1 disabled" href="#" role="button"
            data-toggle="tooltip" data-placement="top" title="Coming Soon">
          Download full country profile <i class="fas fa-download border-left pl-2 ml-1"></i>
        </a>
      </div>
        
    </div>

  </div>
  <div class="py-5 bg-light">
    <div class="d-flex flex-row justify-content-center text-uppercase">
        <div class="col-2 border-right text-center">
          <p><i class="fas fa-university fa-2x"></i></p>
          <p><a href="#">Governance</a></p>
        </div>
        <div class="col-2 border-right text-center">
          <p><i class="fas fa-users fa-2x"></i></p>
          <p><a href="#">The People</a></p>
        </div>
        <div class="col-2 border-right text-center">
          <p><i class="fas fa-chart-bar fa-2x"></i></p>
          <p><a href="#">The Economy</a></p>
        </div>
        <div class="col-2 text-center">
          <p><i class="fas fa-leaf fa-2x"></i></p>
          <p><a href="#" >Sustainable Development Goals</a></p>
          </div>
    </div>
  </div>

</header>

<!-- Table of Contents Sidebar -->
<div id="toc" class="d-none p-4 border-left"
    style="max-width: 400px; width: 100%; height: 100vh; position: fixed; top: 0; right: 0; overflow-y: scroll; background-color: #fff; z-index: 2000;">

  <p class="text-right mb-3">
    <button
        class="btn btn btn-outline-primary text-uppercase d-flex align-items-center ml-auto border-0 py-0"
        onclick="javascript:$('#toc').addClass('d-none')">
      Close <span class="ml-2 font-weight-light" style="font-size: 2em;">X</span>
    </button>
  </p>

  {% include 'takwimu/_includes/profile/country_selector.html' %}

  <hr class="my-4"/>

  <h2 class="mb-3">Table of Contents</h2>
  {% if page.subpage_types|first == 'takwimu.ProfileSectionPage' %}
    {% include 'takwimu/_includes/header/toc.html' with section=page %}

    {% for section in page.sections.all %}
      {% include 'takwimu/_includes/header/toc.html' with section=section.section %}
    {% endfor %}
  {% else %}
    {% include 'takwimu/_includes/header/toc.html' with section=page.get_parent.specific %}

    {% for section in page.get_parent.specific.sections.all %}
      {% include 'takwimu/_includes/header/toc.html' with section=section.section %}
    {% endfor %}
  {% endif %}


</div>


<!-- TOC - Toggle opening and closing accordion. -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    $('button[data-toggle="collapse"]').on('click', function () {
      $(this)
        .find('[data-fa-i2svg]')
        .toggleClass('fa-minus')
        .toggleClass('fa-plus');
    });
  });
</script>
