<p>
  <button class="btn btn-outline-primary btn-sm mr-2 border-0 p-1" type="button" data-toggle="collapse" data-target="#toc-collapse-s{{ section.id }}" aria-expanded="false" aria-controls="toc-collapse-s{{ section.id }}"
      style="font-size: 2em; line-height: 1;">
    <i class="fas fa-minus"></i>
  </button>
  <a href="{{ section.url }}">
  {% if section.subpage_types|first == 'takwimu.ProfileSectionPage' %}
    Country Overview
  {% else %}
    {{ section.title }}
  {% endif %}
  </a>
</p>

<div class="collapse show pl-4" id="toc-collapse-s{{ section.id }}">
  <ul>
    {% for topic in section.topics.all %}
      <li class="pl-2">
        <a href="{{ section.url }}#{{ topic.topic.title|slugify }}">
          {{ topic.topic.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
