{% extends 'takwimu/_includes/search/_popover.html' %}

{% block popover_content %}
<div class="form-row px-1" style="min-width: 400px;">
    {% for country in results.countries %}
    <div class="col-4 py-1 text-truncate">
        <input class="control-input filter-checkbox" type="checkbox" value="{{country|slugify}}" id="{{country|slugify}}" data-parent="country">
        <label class="control-label" for="{{country|slugify}}">
            {{country}}
        </label>
    </div>
    {% endfor %}
</div>
<button type="button" id="reset-filter" data-parent="country" class="btn btn-outline-primary mt-4 mx-auto font-weight-bold">Clear these filters</button>
{% endblock %}