{% extends 'takwimu/_includes/search/_popover.html' %}

{% block popover_content %}
<div class="form-row d-flex justify-content-center px-1">
    <div class="col-4 custom-control custom-checkbox">
        <input class="control-input" type="checkbox" id="Tanzania">
        <label class="control-label" for="Tanzania">
            Tanzania
        </label>
    </div>
    <div class="col-4 custom-control custom-checkbox">
        <input class="control-input" type="checkbox" id="Kenya">
        <label class="control-label" for="Kenya">
            Kenya
        </label>
    </div>
    <div class="col-4 custom-control custom-checkbox">
        <input class="control-input" type="checkbox" id="Ethopia">
        <label class="control-label" for="Ethopia">
            Ethopia
        </label>
    </div>
    <div class="col-4 custom-control custom-checkbox">
        <input class="control-input" type="checkbox" id="Nigeria">
        <label class="control-label" for="Nigeria">
            Nigeria
        </label>
    </div>
    <div class="col-4 custom-control custom-checkbox">
        <input class="control-input" type="checkbox" id="Senegal">
        <label class="control-label" for="Senegal">
            Senegal
        </label>
    </div>
    <div class="col-4 custom-control custom-checkbox">
        <input class="control-input" type="checkbox" id="DRC">
        <label class="control-label" for="DRC">
            DRC
        </label>
    </div>
</div>
{% endblock %}