<div class="container-fluid py-4" id="result-id">
    <div class="container py-5">
        <div class="row">
            <!-- Left navigation of all filters-->
            <div class="col-3 filter-container">                
                {% include 'takwimu/_includes/search/sidebar.html' %}                
            </div>
            <!-- /.col-3 -->

            <!-- The Main Stage -->
            <div class="col-9 results">
                {% if results %}
                    <h1 class="font-weight-bold py-3">{{ results|length }} Search results for <q>{{ query }}</q></h1>
                    <div class="border p-3">
                        <span class="d-flex pt-4 px-2" style="font-size: 15px;">
                            Showing
                            {% if results|length > 25 %}
                                1-25 results  of {{ results|length }}
                            {% else %}
                                {{ results|length }} results
                            {% endif %}
                        </span>
                        {% include 'takwimu/_includes/search/table.html' %}
                        {% include 'takwimu/_includes/search/pagination.html' %}
                    </div>
                {% elif query %}
                    <div class="jumbotron jumbotron-fluid mt-5">
                        <div class="container">
                            <h1 class="display-4 text-center font-weight-bold">No results found</h1>
                        </div>
                    </div>
                {% else %}  
                    <div class="jumbotron jumbotron-fluid mt-5">
                        <div class="container">
                            <h1 class="display-4 text-center font-weight-bold">Please type something into the search box</h1>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- container fluid -->

<style>
    .page-item .page-link {
        border-radius: 0.25em;
    }

    .page-item.active .page-link {
        background-color: #1e4a7e;
        border-color: #1e4a7e;
    }
    
    .pagination-sm .page-item:first-child .page-link,
    .pagination-sm .page-item:last-child .page-link {
        border-radius: 0.2rem;
    }
    .pagination .disabled a {
        background-color: #ededec!important;
        color: #ffffff!important;
    }

</style>