<div class="pb-3 pt-5">
  <b>Search Again</b>
</div>
<form action="{% url 'search' %}" method="get">
  <ul class="list-group" style="font-size: 14px;">
    <li class="list-group-item" style="border-radius: 0;">
      <label for="search-box">Search by keyword</label>
      <div class="input-group my-1 pb-3">
        <input type="text" class="form-control" name="q" id="search-box" aria-describedby="search-box" placeholder="Search Takwimu"
               style="border-radius: 2px;" value="{{ query }}">
        <div class="position-absolute btn text-primary px-2" style="right: 0; z-index: 3;" id="clear-search">
          <span class="fa fa-times-circle"></span>
        </div>
      </div>
    </li>
    <li class="list-group-item" style="border-radius: 0;">
      <label>Filter by Country</label>
      {% for country in results.countries %}
        <div class="input-group pb-3">
          <input class="control-input filter-checkbox" type="checkbox"
                 {% if country in query_params.countries %}checked{% endif %}
                 name="country[]" value="{{ country }}" id="search-input-{{ country|slugify }}" data-parent="country">
          <label class="control-label" for="search-input-{{ country|slugify }}">
            {{ country }}
          </label>
        </div>
      {% endfor %}
    </li>
    <li class="list-group-item" style="border-radius: 0;">
      <label>Filter by Topic</label>
      {% for topic in results.topics %}
        <div class="input-group pb-3">
          <input class="control-input filter-checkbox" type="checkbox"
                 {% if topic in query_params.topics %}checked{% endif %}
                 name="topic[]" value="{{ topic }}" id="search-topic-{{ topic|slugify }}" data-parent="topic">
          <label class="control-label" for="search-topic-{{ topic|slugify }}">
            {{ topic }}
          </label>
        </div>
      {% endfor %}
    </li>
    <li class="list-group-item" style="border-radius: 0;">
      <button class="btn btn-outline-primary" id="resubmit" type="submit">
        Search
      </button>
    </li>
  </ul>
</form>
