<div class="pb-3 pt-5">
    <b>Search Again</b>
</div>
<ul class="list-group" style="font-size: 14px;">
    <li class="list-group-item" style="border-radius: 0;">
        <form action="{% url 'search' %}" method="get">
            <label for="search-box">Search by keyword</label>
            <div class="input-group my-1 pb-3">
                <input type="text" class="form-control" name="q" id="search-box" aria-describedby="search-box" placeholder="Search Takwimu"
                    style="border-radius: 0;" value="{{ query }}">
                <div class="position-absolute btn text-primary px-2" id="clear-search" style="right: 0; z-index: 3;">
                    <span class="fa fa-times-circle"></span>
                </div>
            </div>
        </form>        
    </li>
    <li class="list-group-item px-0" style="cursor:pointer;">
        <div class="px-3 d-flex justify-content-between align-items-center"
            data-toggle="collapse" data-target="#filterbycountry" aria-expanded="false" aria-controls="filterbycountry">
            Filter by country                           
            <span class="fa fa-chevron-right text-right" style="color: #9b9b9b; font-size: 12px;"></span>
        </div>
        <div class="collapse my-1" id="filterbycountry">
            <div class="card-body px-2">
                    <button type="button" class="btn w-100 pl-2 py-2" 
                        data-toggle="popover" data-placement="right"
                        data-title="Select Countries" data-content='{% include 'takwimu/_includes/search/countries.html' %}'
                        style="background-color: #e9ecef; border-radius: 4px; text-align: left;">
                        <span class="d-flex select-item">Select Countries</span>
                        <span class="d-none multiple-items p-2 badge text-white" style="background-color: #144681; border-radius: 7px;">
                            Selected Multiple items 
                            <span aria-hidden="true" class="btn-sm">&times;</span>
                        </span>
                    </button>
            </div>
        </div>
    </li>
    <li class="list-group-item px-0" style="cursor:pointer;">
        <div class="px-3 d-flex justify-content-between align-items-center"
            data-toggle="collapse" data-target="#filterbytopic" aria-expanded="false" aria-controls="filterbytopic">
            Filter by topic                           
            <span class="fa fa-chevron-right text-right" style="color: #9b9b9b; font-size: 12px;"></span>
        </div>
        <div class="collapse my-1" id="filterbytopic">
            <div class="card-body px-2">
                    <button type="button" class="btn w-100 pl-2 py-2" 
                        data-toggle="popover" data-placement="right"
                        data-title="Select Topic(s)" data-content='{% include 'takwimu/_includes/search/topic.html' %}'
                        style="background-color: #e9ecef; border-radius: 4px; text-align: left;">
                        <span class="select-item">Select Topic(s)</span>
                        <span class="d-none p-2 badge filter-badge text-capitalize">
                            Selected Multiple items
                            <span aria-hidden="true" class="btn-sm">&times;</span>
                        </span>
                    </button>
            </div>
        </div>
    </li>
    <li class="list-group-item px-0" style="cursor:pointer; border-radius: 0;">
        <div class="px-3 d-flex justify-content-between align-items-center"
            data-toggle="collapse" data-target="#filterbysdg" aria-expanded="false" aria-controls="filterbysdg">
            Filter by SDG indicators                           
            <span class="fa fa-chevron-right text-right" style="color: #9b9b9b; font-size: 12px;"></span>
        </div>
        <div class="collapse my-1" id="filterbysdg">
            <div class="card-body px-2">                
                    <button type="button" class="btn w-100 pl-2 py-2" 
                        data-toggle="popover" data-placement="right"
                        data-title="Select indicator(s)" data-content='{% include 'takwimu/_includes/search/_popover.html' %}'
                        style="background-color: #e9ecef; border-radius: 4px; text-align: left;">
                        <span class="d-flex">Select indicator(s)</span>
                        <span class="d-none p-2 badge filter-badge">
                            Selected Multiple items 
                            <span aria-hidden="true" class="btn-sm">&times;</span>
                        </span>
                    </button>
            </div>
        </div>
    </li>
</ul>