<table class="table table-striped">
    <thead class="table-borderless" style="font-size: 14px;">
        <tr>
            <th scope="col" class="text-center">
                <a href="#" class="text-dark">Expand all</a>
            </th>
            <th scope="col">Location</th>
            <th scope="col">Data</th>
            <th scope="col" class="pr-0">
                <div class="float-right form-group row m-0 p-0">
                    <div class="p-2">
                        Sort by: 
                    </div>
                    <select class="custom-select col" aria-placeholder="Sort by..">
                        <option value="Relevance">Relevance</option>
                        <option value="Location">Location (A-Z)</option>
                    </select>
                </div>
            </th>
        </tr>
    </thead>
    <tbody class="table-bordered" style="font-size: 12px;">
        <tr>
            <th scope="row" style="border-left: 1px solid transparent;" class="align-middle text-center">
                <a class="btn btn-link text-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" 
                    aria-controls="collapseExample">
                    <span class="icon fa fa-fw fa-plus"></span>
                </a>
            </th>
            <td class="text-capitalize px-0" valign="top" style="white-space:nowrap">
                <span class="d-flex mb-2">
                    <strong class="col-5">Country:</strong>
                    <span class="col pl-1">Senegal</span>
                </span>
                <span class="d-flex">
                    <b class="col-5">Region:</b>
                    <span class="col pl-1">National</span>
                </span>
            </td>
            <td class="text-capitalize px-0" valign="top" style="white-space:nowrap">
                <span class="d-flex mb-2">
                    <b class="col-5">Category:</b>
                    <span class="col pl-1">People</span>
                </span>
                <span class="d-flex">
                    <b class="col-5">Data point:</b>
                    <span class="col pl-1">Rural Urban split</span>
                </span>
            </td>
            <td style="border-right: 1px solid transparent;" class="text-center align-middle">
                <button class="btn btn-link font-weight-bold">
                    <i class="far fa-heart mx-1"></i>
                    Add to collection
                </button>
            </td>
        </tr>
        <tr class="collapse" id="collapseExample">
            <td colspan="4">
                <div class="card card-body">                    
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.   
                </div>
            </td>
        </tr> 
    </tbody>
</table>


<!-- Results - Toggle opening and closing accordion. -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('a[data-toggle="collapse"]').on('click', function () {
            $(this)
                .find('.icon')
                .toggleClass('fa-minus')
                .toggleClass('fa-plus');
        });
    });
</script>