<div class="tab-content w-100 border border-top-0" id="fdi-tabs-content">
    <div class="tab-pane fade show active" id="graph" role="tabpanel" aria-labelledby="graph-tab">
        {% include 'takwimu/_includes/sections/temp/_graph.html' %}
    </div>
    <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
        {% include 'takwimu/_includes/sections/temp/_table.html' %}
    </div>
    <div class="tab-pane fade" id="related" role="tabpanel" aria-labelledby="related-tab">
        {% include 'takwimu/_includes/sections/temp/_related.html' %}
    </div>
</div>