<div class="nav flex-column px-3 py-2 bg-primary" id="nav-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-item nav-link text-capitalize text-white border-bottom" id="nav-gdp-tab" data-toggle="tab" href="#nav-gdp" role="tab" 
        aria-controls="nav-gdp" aria-selected="true">
        <i class="fa fa-eye"></i>
        <span class="px-2">GDP</span>
    </a>
    <a class="nav-item nav-link text-capitalize text-white border-bottom" id="nav-gdp-per-capita-tab" data-toggle="tab" href="#nav-gdp-per-capita" role="tab"
        aria-controls="nav-gdp-per-capita" aria-selected="false">
        <i class="fa fa-eye"></i>
        <span class="px-2">GDP per capita</span>
    </a>
    <a class="nav-item nav-link text-capitalize text-white border-bottom" id="nav-gini-tab" data-toggle="tab" href="#nav-gini" role="tab" aria-controls="nav-indicators"
        aria-selected="false">
        <i class="fa fa-eye"></i>
        <span class="px-2">Gini</span>
    </a>
    <a class="nav-item nav-link active text-capitalize text-white border-bottom" id="nav-foreign-tab" data-toggle="tab" href="#nav-foreign" role="tab"
        aria-controls="nav-foreign" aria-selected="false">
        <i class="fa fa-eye"></i>
        <span class="px-2">Foreign direct investment</span>
    </a>
    <a class="nav-item nav-link text-capitalize text-white border-bottom" id="nav-tax-take-tab" data-toggle="tab" href="#nav-tax-take" role="tab" aria-controls="nav-tax-take"
        aria-selected="false">
        <i class="fa fa-eye"></i>
        <span class="px-2">Tax take</span>
    </a>
    <a class="nav-item nav-link text-capitalize text-white" id="nav-deficit-tab" data-toggle="tab" href="#nav-deficit" role="tab" aria-controls="nav-deficit"
        aria-selected="false">
        <i class="fa fa-eye"></i>
        <span class="px-2">Deficit / Surplus</span>
    </a>
</div>
<p class="p-2 mt-3">
    Add your voice to the discussion of Nigeria's Economy
</p>
<div class="px-2 pt-1">
    <i class="fa fa-comment-alt"></i>
    <span>9 comments</span>
</div>