<div class="nav flex-column px-3 py-2 bg-primary" id="nav-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-item nav-link text-capitalize text-white" id="nav-gdp-tab" data-toggle="tab" href="#nav-gdp" role="tab" 
        aria-controls="nav-gdp" aria-selected="true">GDP</a>
    <a class="nav-item nav-link text-capitalize text-white" id="nav-gdp-per-capita-tab" data-toggle="tab" href="#nav-gdp-per-capita" role="tab"
        aria-controls="nav-gdp-per-capita" aria-selected="false">GDP per capita</a>
    <a class="nav-item nav-link text-capitalize text-white" id="nav-gini-tab" data-toggle="tab" href="#nav-gini" role="tab" aria-controls="nav-indicators"
        aria-selected="false">Gini</a>
    <a class="nav-item nav-link active text-capitalize text-white" id="nav-foreign-tab" data-toggle="tab" href="#nav-foreign" role="tab"
        aria-controls="nav-foreign" aria-selected="false">Foreign direct investment</a>
    <a class="nav-item nav-link text-capitalize text-white" id="nav-tax-take-tab" data-toggle="tab" href="#nav-tax-take" role="tab" aria-controls="nav-tax-take"
        aria-selected="false">Tax take</a>
</div>
<p class="p-2 mt-3">
    Add your voice to the discussion of Nigeria's Economy
</p>
<div class="px-2 pt-1">
    <i class="fa fa-comment-alt"></i>
    <span>9 comments</span>
</div>