{% load staticfiles %}

<section class="support-services-button bg-primary text-light py-5 mb-0">
  <a href="/about/support-services" class="text-light">
    <div class="container py-4">
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
        <div class="pulse-icon mr-4 mt-4 mb-4">
          <img src="{% static 'img/icons/pulse.svg' %}" alt="Our Services" style="max-width: 45px;">
        </div>

        <div>
          <p style="text-decoration: none !important;">Looking for other data or support sevices?</p>
          <h1 class="text-underline" style="line-height: 0.9;">How Takwimu Can Help You</h1>
      </div>
    </div>
  </a>
</section>
