{% load staticfiles %}

<section class="support-services-button bg-primary text-light py-5 mb-0">
  <a href="/about/support-services" class="text-light">
    <div class="container py-4 mt-3">
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-center">
        <div class="pulse-icon mr-5 mb-4">
          <img src="{% static 'img/icons/pulse.svg' %}" alt="Our Services" style="max-width: 56px;">
        </div>

        <div>
          <p class="text-uppercase" style="color: #c0dcfd; text-decoration: none !important;">Looking for other data or support sevices?</p>
          <h1 class="font-weight-bold" style="line-height: 0.9; text-decoration: underline;">How Takwimu Can Help You</h1>
      </div>
    </div>
  </a>
</section>

<style>
  .support-services-button:hover {
    background-color: #1e4a7e !important;
  }
  .support-services-button a:hover {
    text-decoration: none !important;
  }
  .support-services-button u {
    text-decoration: none;
    border-bottom: 2px solid #fff;
    display: inline-block;
  }
</style>
