{% load staticfiles %}

<section class="support-services-button bg-primary text-light py-5 mb-0" style="height:256px;">
  <a href="/about/support-services" class="text-light">
    <div class="container pt-4">
      <div class="d-flex align-items-center justify-content-center">
        <div class="pulse-icon mr-5">
          <img src="{% static 'img/icons/pulse.svg' %}" alt="Support Services">
        </div>
        
        <div>
          <p class="text-uppercase" style="text-decoration: none !important;color: #c0dcfd;">Looking for other data or support sevices?</p>
          <h1 class="display-5" style="font-weight:600;"><u>How Takwimu Can Help You</u></h1>
      </div>
    </div>
  </a>
</section>

<style>
  .support-services-button:hover {
    background-color: #1e4a7e !important;
  }

  .support-services-button a:hover {
    text-decoration: none !important;
  }
</style>
