
html {
    display:inline-block;
}

#page-header-title a,
.box-header a {
    text-transform: uppercase;
    font-weight: bold;
}

.vcenter {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    padding: 0 1em;
}

.vcenter .content-container h2{
    border-bottom: 1px solid #ccc;
}

.search-form {
    margin: 0 auto;
    width: 80%;
    padding-top: 1em;

}
.search-form input#search-takwimu {
    padding: 1.25em;
    text-align: center;
    border-radius: 2em!important;
}

.btn-takwimu-primary {
    color: #fff;
    background: #336781;
    padding: 0.5em 1em;
    border-radius: 2em;
}

.btn-primary {
    background-color:#336781;
    border-color:#336781;
}
.btn-primary:hover,
.btn-primary:focus
 {
    background-color:#4fa1ca;
    border-color:#4fa1ca;
}

hr {
    border-color:#336781;
    border-color:#336781;    
}

.fa-stack {
    margin-top:-2rem;
}

.fa-inverse {
    background-color:#336781;
    border-radius:50px;
}

.card {
    margin:20px;
}

.card-img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.9;
}

.text-color {
    color:#336781;
}

.card-color {
    background-color:white;
}

.border-secondary{
    color:limegreen;
}

#homepage #slippy-map {
    display: block;
    width: 100%;
    height: 48em;
    position: relative;
}




