.morph-dropdown {
  &::before {
    /* never visible - used in JS to check mq */
    content: 'mobile';
    display: none;
  }
  .navbar {
    display: none;
    width: 100%;
  }
  .nav-dropdowns {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 1.2em 5%;
    box-shadow: inset 0 1px 0 #e6e6e6;
  }
}

@media only screen and (min-width: 1000px) {
  .morph-dropdown {
    &::before {
      content: 'desktop';
    }
    .navbar {
      display: inline-block;
    }
    .nav-dropdowns {
      /* dropdown wrapper - used to create the slide up/slide down effect when dropdown is revealed/hidden */
      display: block;
      top: 50px;
      /* overwrite mobile style */
      width: auto;
      padding: 0;
      box-shadow: none;
      background-color: transparent;
    }
    .dropdown-list {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
      background: red;
      .dropdown {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        width: 100%;
        -webkit-transition: opacity .3s, visibility .3s;
        transition: opacity .3s, visibility .3s;
        &.active {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &.is-dropdown-visible .dropdown-list {
      visibility: visible;
      -webkit-transition: width .3s, height .3s, -webkit-transform .3s;
      transition: width .3s, height .3s, -webkit-transform .3s;
      transition: transform .3s, width .3s, height .3s;
      transition: transform .3s, width .3s, height .3s, -webkit-transform .3s;
      &::before {
        opacity: 1;
      }
    }
    
    .content {
      padding: 2.2em 1.8em;
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s;
      text-align: left;
    }
  }
}