.census-chart-embed {
    font-family: "Muli", sans-serif;
    padding: 0
}
.chart-header {
    display: none
}
.chart-qualifier a {
    color: #29a87c;
    text-decoration: none;
}
.grouped-column-chart .column-set {
    margin-bottom: 0;
}
