/*
 * takwimu.scss
 * ------------
 * Primary TAKWIMU styling
 *
 * NOTE: Please don't make edits here unless super necessary.
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900');

$brand-color-primary: #1f6cc6;
$brand-color-primary-alt: #074c9c;
$brand-color-secondary: #1e4a7e;
$brand-color-dark-alt: #46648c;
$brand-extend-white: #ffffff;
$brand-extend-light: #f8f9fa;
$brand-extend-jumbotron: #fafafa;
$brand-extend-black: #000000;
$brand-extend-muted: #6c757d;
$brand-extend-disabled: #ededec;

body {
  padding-top: 72px;
}

 html, body, h1, h2, h3, h4, h5, h6, p, * {
  font-family: 'Montserrat', sans-serif;
  word-break: break-word;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}



/* ---------------------
 * Takwimu Custom Styles
 * ---------------------
 * Goals:
 *  - Theme Bootstrap components for Takwimu
 *  - Introduce styles missing from Bootstrap
 *  - Style HURUmap components
 *
 * NOTE: Please avoid edits here unless absolutely necessary
 */

 /* ------------------------
  * Bootstrap Customizations
  * ------------------------ */

// Replace Colours

a {
  color: $brand-color-primary;
  &:hover {
    color: $brand-color-secondary;
  }
}

// Background colours
.bg-primary {
  background-color: $brand-color-primary !important;
}
.bg-primary-alt {
  background-color: $brand-color-primary-alt !important;
}
.bg-secondary {
  background-color: $brand-color-secondary !important;
}
.bg-info {
  background-color: #2da4c7 !important;
}
// Text Colours
.text-primary {
  color: $brand-color-primary !important;
}
.text-primary-alt {
  color: $brand-color-primary-alt !important;
}
.text-secondary {
  color: $brand-color-secondary !important;
}

// Button
.btn {
  border-radius: 24px;
  padding: .375rem 1.25rem;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.btn-lg {
  padding: .5rem 1.5rem;
}
// Button - colours
.btn-primary {
  background-color: $brand-color-primary;
  border-color: $brand-color-secondary;
  &:hover, &:focus, &:active {
    background-color: $brand-color-secondary !important;
    border-color: $brand-color-primary !important;
  }
}
.btn-outline-primary {
  border-color: $brand-color-primary;
  color: $brand-color-primary;
  &:hover, &:focus, &:active {
    background-color: $brand-color-primary !important;
    border-color: $brand-color-primary !important;
    color: $brand-extend-white;
  }
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: $brand-color-secondary;
  border-color: $brand-color-primary;
}
.btn-outline-light {
  &:hover, &:focus, &:active {
    color: $brand-color-primary;
  }
  &.btn-alt {
    background-color: rgba(255, 255, 255, 0.4);
    &:hover, &:focus, &:active {
      background-color: #fff;
    }
  }
}

.nav-pills.nav-pills-alt .nav-link {
  color: #929292;
}
.nav-pills.nav-pills-alt .nav-link.active, .nav-pills.nav-pills-alt .show>.nav-link {
  background-color: transparent;
  color: $brand-color-primary;
  border-bottom: 3px $brand-color-primary solid;
  border-radius: 0;
  color: #4a4a4a;
  font-weight: 900;
}


/* ------------------------
 * HURUmap Customizations
 * ------------------------ */

// Geography

.leaflet-label {
  background-color: $brand-color-secondary !important;
  border-color: $brand-color-secondary !important;
}



/* ------------------------
 * New Components Styling
 * ------------------------ */

// Shared styles
// -------------

.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  &:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%); /* Chrome 19+ & Safari 6+ */
  }
}

/*
 * Flex Scroll (Mainly for Navs)
 * -----------------------------
 * Source: https://iamsteve.me/blog/entry/using-flexbox-for-horizontal-scrolling-navigation
 * 
 * [1]: Make a flex container so all our items align as necessary
 * [2]: Prevent items from wrapping
 * [3]: Automatic overflow means a scroll bar won’t be present if it isn’t needed
 * [4]: Make it smooth scrolling on iOS devices
 * [5]: Hide the ugly scrollbars in Edge until the scrollable area is hovered
 * [6]: Hide the scroll bar in WebKit browsers
*/
.flex-scroll {
  display: flex; /* [1] */
  flex-wrap: nowrap; /* [1] */
  overflow-x: auto; /* [1] */
  -webkit-overflow-scrolling: touch; /* [4] */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* [5] */
}
  /* [6] */
  .flex-scroll::-webkit-scrollbar {
    display: none;
  }
  // Custom
  .flex-scroll .nav-item {
    flex: 0 0 175px;
  }
    .flex-scroll .nav-item:first-child {
      margin-left: auto;
    }
    .flex-scroll .nav-item:last-child {
      margin-right: auto;
    }

.text-underline {
  text-decoration: underline;
}

// Non-Shared Styles
// -----------------

// Partner logos in Navbar + Footer
.partner-logos a {
  background-color: rgba(244,244,244, 0.06);
  height: 81px;

  img {
    max-height: 180px;
  }
}

// Custom nav for topics
.custom-nav a {
  border-bottom: 5px solid transparent;
  cursor: pointer;
  text-decoration: none;
  .border-left {
    border-left: 1px solid rgba(255, 255, 255, 0.25)!important;
  }
  &:hover, &.active {
    background: $brand-color-dark-alt;
    border-bottom: 5px solid $brand-extend-white;
    + a div {
      border-left: 1px solid transparent !important;
    }
    div {
      border-left: 1px solid transparent !important;
    }
  }
  &.active {
    background: $brand-color-primary;
    border-bottom: 5px solid transparent;
  }
}

// Navbar goodness

.navbar.fixed-top {
  // Fix position problem of the "containing block" of lg dropdown
  .nav-item.dropdown {
    position: initial;
  }

  .dropdown-toggle::after{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f107';
    border: 0;
    vertical-align: 0;
    visibility: hidden;
    margin-left: 0;
  }
  .nav-link svg {
    margin-left: .255em;
  }

  .nav-item:hover{
    .dropdowm-menu-lg-tag{
      display: flex!important;
    }
    .dropdown-menu-lg {
      display: block;
    }
  }

  .dropdowm-menu-lg-tag {
    display: none !important;
    position: relative;
    top: -10px; margin-bottom: -10px;
    span {
      border-bottom: 10px solid $brand-color-primary-alt;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }
  .dropdown-menu-lg {
    display: none;
    position: absolute; left: 0;
    width: 100vw; z-index: 3000;
    background-color: $brand-color-primary-alt;

    a {
      color: $brand-extend-light;
    }
    // Color fix for country flag links in navbar
    .country-flag-links {
      div {
        border-color: rgba($color: $brand-extend-light, $alpha: 0.1) !important;
        a {
          svg {
            border: 3px solid #fff;
            border-radius: 9999px;
          }
          &:hover{
            color: #fff;
          }
        }
      }
    }

  }

}

/*
* Profile Content
* ---------------
*/
.profile-content {
  .is-active {
    background-color: $brand-extend-jumbotron;
    + div.border-top {
      border-top: 0!important;
    }
    /* Quick way to remove underline on mouse hover for the current selected item */
    h1.section-title:hover {
      text-decoration: none;
    }
  }
  
  /* Ideally only the section title would underline on mouse hover */
  h1.section-title:hover, h1.section-title:focus {
    text-decoration: underline;
  }
}

/*
* Topic Detail
*/

.dataindicators-nav {
  .nav-pills {
    background-color: #1f6cc6;
    .nav-link.active, .show > .nav-link {
      background-color: transparent;
      font-weight: bold;
    }
  }
  .nav-link {
    color: #f0f0f0;
    &:hover {
      color: #f0f0f0;;
    }
    .fa-eye {
      display: none;
      margin-left: -2em;
      position: absolute;
    }
    &[aria-selected=true] .fa-eye {
      display: inline;
    }
  }
}

.data-topic-container {
  &:nth-of-type(odd) {
    background: #f9f9f9;
  }
  &:nth-of-type(even) {
    background: #f4f4f4;
  }
}

.topic {
  .btn.read-more{
    &::after {
      content: "Show More \00bb";
    }
    &.active::after {
      content: "Show Less \00ab";
    }
  }
  
  .tab-content .tab-content {
    background: #ffffff;
  }
  > h1 {
    font-size: 55px;
  }
  h5 {
    font-size: 25px;
  }
  .btn-group .btn {
    border-radius: 2px;
    color: #1a1a1a;
    background: #ffffff;
    border-color: #f4f4f4;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  }
}


/*
* Country Flags
* -------------
*/

.country-flag-links {
  .col {
    padding: 3em 1em;
    border-right: 1px solid #ddd;
    a {
      text-decoration: none;
      color: $brand-extend-black;

      svg {
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 50px;
      }
      span {
        padding-top: 1.5em;
        display: block;
        font-weight: 400;
      }

      &:hover,&:focus {
        color: $brand-color-secondary;
        svg  {
          filter: $brand-color-secondary; /* IE6-9 */
          -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
          filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
        }
      }

      &.active {
        color: $brand-extend-muted;
        svg  {
          filter: $brand-extend-muted; /* IE6-9 */
          -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
          filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
        }
      }

      // Coming soon
      &[data-toggle="tooltip"] * {
        opacity: 0.5;
      }

    }
  }
}

/* Pagination style */ 
.page-item {
  .page-link {
    border-radius: 0.25em;
  }
  &.active .page-link {
    background-color: $brand-color-secondary;
    border-color: $brand-color-secondary;
   &:hover {
    color: $brand-extend-white;
   }
  }
}

.pagination-sm .page-item:first-child .page-link,
.pagination-sm .page-item:last-child .page-link {
  border-radius: 0.2rem;
}
.pagination .disabled a {
  background-color: $brand-extend-disabled!important;
  color: $brand-extend-white!important;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    + label {
      position: relative;
      padding-left: 1.5em;
      cursor: pointer;
      /* checkbox aspect */
      &:before {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 1.25em; height: 1.25em;
        border: 1px solid #9b9b9b;
        background: #ffffff;
        border-radius: 0;
      }
      /* checked mark aspect */
      &::after{
        content: '✔';
        position: absolute;
        top: .1em; 
        left: .1em;
        font-size: 1.4em;
        line-height: 0.8;
        color: #000000;
        transition: all .1s;
        font-family: Helvetica, Arial, sans-serif;
      }
    }
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted #000;
}

 /* Text wrappig */
 .wrapword {
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}

/*
* Extra small devices (portrait phones, less than 576px)
* Small devices (landscape phones, 576px and down)
*/

@media (max-width: 576px) {
  .nav-item {
    font-size: 0.75em;
  }
  .country-container {
    div.col {
      &:nth-child(even) {
        border-right: 1px solid transparent;
      }
    }
  }
}

/*
* Small devices (landscape phones, 576px and up)
* Medium devices (tablets, 768px and up)
*/

@media (min-width: 576px) and (max-width: 768px) {
  /*
  * Do not delete the code below, it's useful for css debuging
  * during development
  */
  // body {background: red;}
}


/*
* Large devices (desktops, 992px and up)
*/
@media (min-width: 768px) and (max-width: 992px) {
  /*
  * Do not delete the code below, it's useful for css debuging
  * during development
  */
  // body { background: yellow;}
 }

/*
* Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {
  /*
  * Do not delete the code below, it's useful for css debuging
  * during development
  */
  // body { background: grey;}
 }
