/*
 * takwimu.scss
 * ------------
 * Overide the HURUmap styling
 */

$brand-color-primary: #1f6cc6;
$brand-color-secondary: #0d51a2;
$brand-extend-black: #000000;

::selection, ::-moz-selection {
  background-color: $brand-color-primary;
}

// Navbar
#page-header {
  background-color: $brand-color-primary;
  #page-header-title {
      .title img {
        max-height: 30px;
        margin-top: 10px;
      }
      .nav-menu ul#site-menu li a:hover {
        color: #fff;
        text-decoration: underline;
      }
  }
}

// Footer

#page-footer {
  background-color: $brand-color-secondary;
}


// Geography

.leaflet-label {
  background-color: $brand-color-secondary !important;
  border-color: $brand-color-secondary !important;
}

// HELPERS

.bg-color-primary {
  background-color: $brand-color-primary;
}

.bg-color-secondary {
  background-color: $brand-color-secondary;
}

.btn {
  &.bg-color-primary:hover {
    background-color: $brand-color-secondary;
    color: #fff;
  }
  &.bg-color-secondary:hover {
    background-color: $brand-color-primary;
    color: #fff;
  }
}

/*
* Tabs css
* ---------
* Overide bootstrap 4 tabs css 
*/ 

#nav-tab {
  border-bottom: 2px solid transparent;
 .nav-item {
    color: $brand-extend-black;
    border-bottom: 2px solid transparent;  
    &.active {
      color: $brand-color-primary;
      border-bottom: 2px solid $brand-color-primary;
    }
    &:hover,&:focus {
      color: $brand-color-primary;
    }
  }
}


/*
* Country container css
* ----------------------
*/ 

.country-container {
  text-align:center;
  .col {
    display: inline-block;
    padding: 2em;
    border-right: 1px solid #ddd;
    &:nth-last-child(1), &:nth-child(6){
      border-right: 1px solid transparent;
    }
    a {
      text-decoration: none;
      img {
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 50px;
      }
      span {
        font-size: 0.75em;
        font-weight: 500;
      }
    }
  }
}
