@charset "UTF-8";
/*
 * takwimu.scss
 * ------------
 * Primary TAKWIMU styling
 *
 * NOTE: Please don't make edits here unless super necessary.
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800,900");
html, body, h1, h2, h3, h4, h5, h6, p, * {
  font-family: 'Montserrat', sans-serif;
  word-break: break-word; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* ---------------------
 * Takwimu Custom Styles
 * ---------------------
 * Goals:
 *  - Theme Bootstrap components for Takwimu
 *  - Introduce styles missing from Bootstrap
 *  - Style HURUmap components
 *
 * NOTE: Please avoid edits here unless absolutely necessary
 */
/* ------------------------
  * Bootstrap Customizations
  * ------------------------ */
a {
  color: #1f6cc6; }
  a:hover {
    color: #1e4a7e; }

.font-weight-extra-bold {
  font-weight: 900 !important; }

.bg-primary {
  background-color: #1f6cc6 !important; }

.bg-primary-alt {
  background-color: #074c9c !important; }

.bg-secondary {
  background-color: #1e4a7e !important; }

.bg-info {
  background-color: #2da4c7 !important; }

.text-primary {
  color: #1f6cc6 !important; }

.text-primary-alt {
  color: #074c9c !important; }

.text-primary-light {
  color: #7ab1f2 !important; }

.text-secondary {
  color: #1e4a7e !important; }

.btn {
  border-radius: 24px;
  padding: .375rem 1.25rem;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden; }

.btn-lg {
  padding: .5rem 1.5rem; }

.btn-primary {
  background-color: #1f6cc6;
  border-color: #1e4a7e; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #1e4a7e !important;
    border-color: #1f6cc6 !important; }

.btn-outline-primary {
  border-color: #1f6cc6;
  color: #1f6cc6; }
  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background-color: #1f6cc6 !important;
    border-color: #1f6cc6 !important;
    color: #ffffff; }

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #1e4a7e;
  border-color: #1f6cc6; }

.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active {
  color: #1f6cc6; }

.btn-outline-light.btn-alt {
  background-color: rgba(255, 255, 255, 0.4); }
  .btn-outline-light.btn-alt:hover, .btn-outline-light.btn-alt:focus, .btn-outline-light.btn-alt:active {
    background-color: #fff; }

.nav-pills.nav-pills-alt .nav-link {
  color: #929292; }

.nav-pills.nav-pills-alt .nav-link.active, .nav-pills.nav-pills-alt .show > .nav-link {
  background-color: transparent;
  color: #1f6cc6;
  border-bottom: 3px #1f6cc6 solid;
  border-radius: 0;
  color: #4a4a4a;
  font-weight: 900; }

/* ------------------------
 * HURUmap Customizations
 * ------------------------ */
body {
  padding-top: 0; }

.leaflet-label {
  background-color: #1e4a7e !important;
  border-color: #1e4a7e !important; }

/* ------------------------
 * New Components Styling
 * ------------------------ */
.grayscale, .sdg-disabled {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */ }
  .grayscale:hover, .sdg-disabled:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    /* Chrome 19+ & Safari 6+ */ }

.sdg-disabled {
  pointer-events: none;
  cursor: not-allowed; }

/*
 * Flex Scroll (Mainly for Navs)
 * -----------------------------
 * Source: https://iamsteve.me/blog/entry/using-flexbox-for-horizontal-scrolling-navigation
 *
 * [1]: Make a flex container so all our items align as necessary
 * [2]: Prevent items from wrapping
 * [3]: Automatic overflow means a scroll bar won’t be present if it isn’t needed
 * [4]: Make it smooth scrolling on iOS devices
 * [5]: Hide the ugly scrollbars in Edge until the scrollable area is hovered
 * [6]: Hide the scroll bar in WebKit browsers
*/
.flex-scroll {
  display: flex;
  /* [1] */
  flex-wrap: nowrap;
  /* [1] */
  overflow-x: auto;
  /* [1] */
  -webkit-overflow-scrolling: touch;
  /* [4] */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* [5] */ }

/* [6] */
.flex-scroll::-webkit-scrollbar {
  display: none; }

.flex-scroll .nav-item {
  flex: 0 0 175px; }

.flex-scroll .nav-item:first-child {
  margin-left: auto; }

.flex-scroll .nav-item:last-child {
  margin-right: auto; }

.text-underline {
  text-decoration: underline; }

.partner-logos a {
  background-color: rgba(244, 244, 244, 0.06);
  height: 81px; }
  .partner-logos a img {
    max-height: 180px; }

.partner-logos-navbar a img {
  max-height: 90px; }

.custom-nav a {
  border-bottom: 5px solid transparent;
  cursor: pointer;
  text-decoration: none; }
  .custom-nav a .border-left {
    border-left: 1px solid rgba(255, 255, 255, 0.25) !important; }
  .custom-nav a:hover, .custom-nav a.active {
    background: #46648c;
    border-bottom: 5px solid #ffffff; }
    .custom-nav a:hover + a div, .custom-nav a.active + a div {
      border-left: 1px solid transparent !important; }
    .custom-nav a:hover div, .custom-nav a.active div {
      border-left: 1px solid transparent !important; }
  .custom-nav a.active {
    background: #1f6cc6;
    border-bottom: 5px solid transparent; }

/* -----------------------------------------
 * Main Navbar
 * ----------------------------------------- */
.main-nav.navbar .nav-item.dropdown {
  position: initial; }

.main-nav.navbar .dropdown-toggle {
  white-space: nowrap; }
  .main-nav.navbar .dropdown-toggle::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f107';
    border: 0;
    vertical-align: 0;
    visibility: hidden;
    margin-left: 0; }

.main-nav.navbar .nav-link {
  white-space: nowrap; }
  .main-nav.navbar .nav-link svg {
    margin-left: .255em; }

.main-nav.navbar .nav-item:hover .dropdowm-menu-lg-tag {
  display: flex !important; }

.main-nav.navbar .nav-item:hover .dropdown-menu-lg {
  display: block; }

.main-nav.navbar .dropdowm-menu-lg-tag {
  display: none !important;
  position: relative;
  top: -10px;
  margin-bottom: -10px; }
  .main-nav.navbar .dropdowm-menu-lg-tag span {
    border-bottom: 10px solid #074c9c;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; }

.main-nav.navbar .dropdown-menu-lg {
  display: none;
  position: absolute;
  left: 0;
  width: 100vw;
  z-index: 3000;
  background-color: #074c9c; }
  .main-nav.navbar .dropdown-menu-lg a {
    color: #f8f9fa; }
  .main-nav.navbar .dropdown-menu-lg .country-flag-links div {
    border-color: rgba(248, 249, 250, 0.1) !important; }
    .main-nav.navbar .dropdown-menu-lg .country-flag-links div a svg {
      border: 3px solid #fff;
      border-radius: 9999px; }
    .main-nav.navbar .dropdown-menu-lg .country-flag-links div a:hover {
      color: #fff; }
    @media (max-width: 575.98px) {
      .main-nav.navbar .dropdown-menu-lg .country-flag-links div a span {
        padding-top: 0; }
      .main-nav.navbar .dropdown-menu-lg .country-flag-links div a svg {
        width: 15px;
        height: 15px;
        float: left;
        margin-right: 5px;
        border: 2px solid #fff;
        vertical-align: top; } }

/* -----------------------------------------------
 * PAGE: Profile Page
 * ----------------------------------------------- */
.profiletopic:nth-of-type(odd) {
  background: #f9f9f9; }

.profiletopic:nth-of-type(even) {
  background: #f4f4f4; }

.profiletopic .profiletopic-content .btn.read-more::after {
  content: "Show More \00bb"; }

.profiletopic .profiletopic-content .btn.read-more.active::after {
  content: "Show Less \00ab"; }

.profiletopic .profiletopic-content .tab-content .tab-content {
  background: #ffffff; }

.profiletopic .profiletopic-content > h1 {
  font-size: 55px; }

.profiletopic .profiletopic-content h5 {
  font-size: 25px; }

.profiletopic .profiletopic-content .btn-group .btn {
  border-radius: 2px;
  color: #1a1a1a;
  background: #ffffff;
  border-color: #f4f4f4;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16); }

.dataindicators-nav .nav-pills {
  background-color: #1f6cc6; }
  .dataindicators-nav .nav-pills .nav-link.active, .dataindicators-nav .nav-pills .show > .nav-link {
    background-color: transparent;
    font-weight: bold; }

.dataindicators-nav .nav-link {
  color: #f0f0f0; }
  .dataindicators-nav .nav-link:hover {
    color: #f0f0f0; }
  .dataindicators-nav .nav-link .fa-eye {
    display: none;
    margin-left: -2em;
    position: absolute; }
  .dataindicators-nav .nav-link[aria-selected=true] .fa-eye {
    display: inline; }

.dataindicators-content .nav-tabs .nav-item .nav-link {
  font-size: 14px;
  border-radius: 0; }
  .dataindicators-content .nav-tabs .nav-item .nav-link.active {
    font-weight: bold; }

.dataindicators-pagination .nav-link.active {
  color: #bcc7d4; }

.profile.page .profilesections-list .sections-list {
  /* Ideally only the section title would underline on mouse hover */ }
  .profile.page .profilesections-list .sections-list .is-active {
    background-color: #fafafa;
    /* Quick way to remove underline on mouse hover for the current selected item */ }
    .profile.page .profilesections-list .sections-list .is-active + div.border-top {
      border-top: 0 !important; }
    .profile.page .profilesections-list .sections-list .is-active h1.section-title:hover {
      text-decoration: none; }
  .profile.page .profilesections-list .sections-list h1.section-title:hover, .profile.page .profilesections-list .sections-list h1.section-title:focus {
    text-decoration: underline; }

/* --------------------------------------------
 * SECTION: Country Flags Navigation
 * -------------------------------------------- */
.country-flag-links .col {
  padding: 27px 20px;
  border-color: #ddd; }
  .country-flag-links .col a {
    text-decoration: none;
    color: #000000; }
    .country-flag-links .col a svg {
      display: block;
      margin: 0 auto;
      width: 50px;
      height: 50px; }
    .country-flag-links .col a span {
      padding-top: 1.5em;
      display: block;
      font-weight: 400; }
    .country-flag-links .col a:hover, .country-flag-links .col a:focus {
      color: #1e4a7e; }
      .country-flag-links .col a:hover svg, .country-flag-links .col a:focus svg {
        filter: #1e4a7e;
        /* IE6-9 */
        -webkit-filter: grayscale(1);
        /* Google Chrome, Safari 6+ & Opera 15+ */
        filter: grayscale(1);
        /* Microsoft Edge and Firefox 35+ */ }
    .country-flag-links .col a.active {
      color: #6c757d; }
      .country-flag-links .col a.active svg {
        filter: #6c757d;
        /* IE6-9 */
        -webkit-filter: grayscale(1);
        /* Google Chrome, Safari 6+ & Opera 15+ */
        filter: grayscale(1);
        /* Microsoft Edge and Firefox 35+ */ }
    .country-flag-links .col a[data-toggle="tooltip"] * {
      opacity: 0.5;
      color: #7ab1f2; }

/* Pagination style */
.page-item .page-link {
  border-radius: 0.25em; }

.page-item.active .page-link {
  background-color: #1e4a7e;
  border-color: #1e4a7e; }
  .page-item.active .page-link:hover {
    color: #ffffff; }

.pagination-sm .page-item:first-child .page-link,
.pagination-sm .page-item:last-child .page-link {
  border-radius: 0.2rem; }

.pagination .disabled a {
  background-color: #ededec !important;
  color: #ffffff !important; }

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px; }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
    /* checkbox aspect */
    /* checked mark aspect */ }
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1.25em;
      height: 1.25em;
      border: 1px solid #9b9b9b;
      background: #ffffff;
      border-radius: 0; }
    [type="checkbox"]:not(:checked) + label::after,
    [type="checkbox"]:checked + label::after {
      content: '✔';
      position: absolute;
      top: .1em;
      left: .1em;
      font-size: 1.4em;
      line-height: 0.8;
      color: #000000;
      transition: all .1s;
      font-family: Helvetica, Arial, sans-serif; }

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0); }

[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1); }

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted #000; }

/* Text wrappig */
.wrapword {
  white-space: -moz-pre-wrap !important;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  white-space: pre-wrap;
  /* css-3 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap;
  /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal; }

@media (max-width: 576px) {
  .nav-item {
    font-size: 0.75em; } }

/*
* Small devices (landscape phones, 576px and up)
* Medium devices (tablets, 768px and up)
*/
@media (min-width: 576px) and (max-width: 768px) {
  /*
  * Do not delete the code below, it's useful for css debuging
  * during development
  */ }

/*
* Large devices (desktops, 992px and up)
*/
@media (min-width: 768px) and (max-width: 992px) {
  /*
  * Do not delete the code below, it's useful for css debuging
  * during development
  */ }

/*
* Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) {
  /*
  * Do not delete the code below, it's useful for css debuging
  * during development
  */ }

  input[type='text'] {    
    border: unset;
    height: unset;
    line-height: unset;
    padding: inherit;
 }
