{% load staticfiles %}
<nav class="navbar navbar-dark bg-dark justify-content-between" style="height:6rem;">
  <a class="navbar-brand pl-5">
  	<img class="pl-5" src="{% static 'img/logo.png' %}" height="30px"></a>
  	<div class="pl-5 pr-5">
  <div class="dropdown pr-5">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Click to select city
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Nairobi</a>
    <a class="dropdown-item" href="#">Garissa</a>
    <a class="dropdown-item" href="#">Mombasa</a>
  </div>
</div>
</div>
</nav>
