{% load staticfiles %}

<div class="container">
<div class="row pt-5 pb-5">
	<div class="col"><hr></div>
	<div class="col-auto"><i class="fa fa-server"></i></div>
	<div class="col"><hr></div>
</div>

<div clas></div>


<div class="container partners pt-5 pb-5">
	<div class="row"></div>
	<div class="d-flex flex-row justify-content-start">
		<a href="" style="margin:10px;"><img class="m-4" src="{% static 'img/logo/codefortanzania.png' %}"
			alt="Code for Tanzania"></a>
			<a href="" style="margin:10px;"><img class=" m-4" src="{% static 'img/logo/pepfar.png' %}"
				alt="PepFar"></a>
				<a href="" style="margin:10px;"><img class=" m-4" src="{% static 'img/logo/twaweza.png' %}"
					alt="Twaweza"></a>
				</div>

				<div class="d-flex flex-row justify-content-start">
					<a href="" style="margin:10px;"><img class=" m-4" src="{% static 'img/logo/bmgf.png' %}"
						alt="Bill and Melinda Gates Foundation"></a>
						<a href="" style="margin:10px;"><img class=" m-4" src="{% static 'img/logo/datazetu.png' %}"
							alt="Data Zetu"></a>
							<a href="" style="margin:10px;"><img class="m-4" src="{% static 'img/logo/worldbank.png' %}"
								alt="World bank"></a>
							</div>
						</div>
          </div>