{% load staticfiles %}

<div class="container">
	<div class="row pt-5 pb-5">
		<div class="col"><hr></div>
		<div class="col-auto"><i class="fa fa-users"></i></div>
		<div class="col"><hr></div>
	</div>
	<div class="row text-center">
      <p>PARTNERS</p><br>
      <p>Hurumap is made possible thought the support of the following partners</p></div>
    </div>

	<div class="container partners pt-5 pb-5">
  		<div class="row">
      			<div class="col-4"><a href="" style="margin:10px;">
      				<img class="m-4 partner-logo" src="{% static 'img/logo/cfafrica.png' %}"
      				alt="Code for Africa" width="200px" style="max-width: 100%;height:auto;">
      			</a>
      		</div>

      		<div class="col-4"><a href="" style="margin:10px;">
      			<img class=" m-4 partner-logo" src="{% static 'img/logo/pepfar.jpeg' %}"
      			alt="PepFar" width="200px" style="max-width: 100%;height:auto;">
      		</a>
      	</div>
	
      	<div class="col-4"><a href="" style="margin:10px;">
      		<img class=" m-4 partner-logo" src="{% static 'img/logo/twaweza.png' %}"
      		alt="Twaweza" width="200px" style="max-width: 100%;height:auto;">
      	</a>
      </div>
  
      	<div class="col-4 pt-5"><a href="" style="margin:10px;">
      		<img class=" m-4 partner-logo pt-3 pr-2" src="{% static 'img/logo/bmgf.png' %}"
      		alt="Bill and Melinda Gates Foundation" style="max-width:100%;">
      	</a>
      </div>

        <div class="col-4 pt-5"><a href="" style="margin:10px;">
        	<img class=" m-4 partner-logo pl-2" src="{% static 'img/logo/datazetu.png' %}"
        	alt="Data Zetu" style="max-width:100%;">
        </a>
        </div>

        <div class="col-4 pt-5"><a href="" style="margin:10px;">
        	<img class="m-4 partner-logo pt-3" src="{% static 'img/logo/worldbank.png' %}"
        	alt="World bank"  style="max-width:100%;">
        </a>
        </div>
      </div>
</div>
</div>
