
<div class="container">
	<div class="row pt-5 pb-5">
		<div class="col-sm-4 text-center">
			<h4><strong>Services</strong><h4>
				<h4><i class="fa fa-server fa-3x pt-3" aria-hidden="true"></i></h4>
				<p class="pt-2"> Population and financial figures are broken down by category: Elections, Demographics, Service Delivery, Economics, and Education.</p>
			</div>
			<div class="col-sm-4 text-center">
				<h4><strong>Data</strong></h4>
					<p><i class="fa fa-database fa-4x pt-3" aria-hidden="true"></i></p>

					<p class="pt-2"> Our library of charts gives you insight into data from places you research. Look for them on profile pages. You can embed the charts on your own site.</p>  
				</div>
				<div class="col-sm-4 text-center">
					<h4><strong>Community</strong></h4>
					<p><i class="fa fa-users fa-4x pt-3" aria-hidden="true"></i> </p>

					<p class="pt-2">Pre-computed statistics are presented alongside each data point so you can see how each place fits into a large context</p>
				</div>
			</div>
		</div>
	</div>