
<div class="container">
	<div class="row pt-5 pb-5">
		<div class="col-sm-4">
			<i class="fa fa-server" aria-hidden="true"></i>
			<strong>Services</strong>
			<p> This is a simple text descriping what hurumap offers</p>
		</div>
		<div class="col-sm-4">
    <i class="fa fa-database" aria-hidden="true"></i>
    <strong>Data</strong>
    <p> This is a simple text descriping what hurumap offers</p>  
    </div>
		<div class="col-sm-4">
    <i class="fa fa-users" aria-hidden="true"></i> 
    <strong>Community</strong> 
    <p> This is a simple text descriping what hurumap offers</p>
    </div>
	</div>
</div>
</div>