{% load staticfiles %}
<div class="container">
	<div class="row">
		<div class="col-12 pt-5 pb-5">
			<div class="card bg-dark text-white border border-white rounded-0">
				<img class="card-img" src="{% static 'img/story/food.jpeg' %}" alt="Card image" height="400px" width="200px;" style="max-width:100%;">
				<div class="card-img-overlay align-center" >
					<a href="#" class="btn btn-primary">One </a>
					<a href="#" class="btn btn-primary">two</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<div class="card bg-dark text-white border border-white rounded-0" style="height:300px;">
					<img class="card-img" src="{% static 'img/story/food.jpeg' %}" alt="Card image" height="300px" width="150px;" style="max-width:100%;">
					<div class="d-flex flex-column justify-content-center card-img-overlay pt-5 pl-5 m-5">
						<div class="col-4 text-center">
							<button type="button" class="btn btn-success">TITLE OF THE STORY</button>
						</div><br>
						<div class="col-4 text-center">
							<button type="button" class="btn btn-success">READ MORE</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card bg-dark text-white border border-white rounded-0" style="height:300px;">
					<img class="card-img" src="{% static 'img/story/food.jpeg' %}" alt="Card image" height="300px" width="200px;" style="max-width:100%;">
					<div class="d-flex flex-column card-img-overlay justifu-content-center pt-5 pl-5 m-5">
						<div class="col-4 text-center">
							<button type="button" class="btn btn-success">TITLE</button>
						</div>
						<div class="col-4 text-center">
							<button type="button" class="btn btn-success">READ MORE</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>