{% load staticfiles %}
<div class="container">
	<div class="row">
		<div class="col-12 pt-5 pb-5">
			<div class="card bg-dark text-white border border-white rounded-0" style="height:400px;">
					<img class="card-img" src="{% static 'img/story/food.jpeg' %}" alt="Card image" height="400px" width="150px;" style="max-width:100%;">
					<div class="card-block card-img-overlay">
						<p>Button one </p>
						<p>Button two</p>
					</div>
				</div>
		</div>

		<div class="row">
			<div class="col-6">
				<div class="card bg-dark text-white border border-white rounded-0" style="height:300px;">
					<img class="card-img" src="{% static 'img/story/food.jpeg' %}" alt="Card image" height="300px" width="150px;" style="max-width:100%;">
					<div class="d-flex flex-column justify-content-center card-img-overlay pt-5 pl-5 pr-5 ml-5">
						<div class="col-4 text-center pt-5 pl-5 ml-5">
							<button type="button" class="btn btn-success">STORY TITLE</button>
						</div><br>
						<div class="col-4 text-center pt-1 pl-5 ml-5">
							<button type="button" class="btn btn-success">READ MORE</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card bg-dark text-white border border-white rounded-0" style="height:300px;">
					<img class="card-img" src="{% static 'img/story/food.jpeg' %}" alt="Card image" height="300px" width="150px;" style="max-width:100%;">
					<div class="d-flex flex-column justify-content-center card-img-overlay pt-5 pl-5 pr-5 ml-5">
						<div class="col-4 text-center pt-5 pl-5 ml-5">
							<button type="button" class="btn btn-success">STORY TITLE</button>
						</div><br>
						<div class="col-4 text-center pt-1 pl-5 ml-5">
							<button type="button" class="btn btn-success">READ MORE</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>