{% extends '_footer.html' %}

{% load staticfiles %}
{% block footer_branding %}
    <a href="https://codeforafrica.org" target="_blank">
        <img src="{% static 'img/logos/cfafrica-white.png' %}"
             alt="Code for Africa" style="margin-top: 0;">
    </a>
    <a href="http://www.africapractice.com/" target="_blank">
        <img src="{% static 'img/logo/ap-white.png' %}" alt="African Practice"
             style="max-height: 30px;">
    </a>
    <a href="https://ihub.co.ke/" class="logo">
        <img src="{% static 'img/logo/ihub.svg' %}" alt="iHub">
    </a>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

{% endblock %}