
<!-- Google Analytics -->
<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ HURUMAP.ga_tracking_id }}', 'auto');

    // Ensures consistency in the URL paths that get reported to Google Analytics;
    // avoiding the problem where separate rows in your pages reports actually point to the same page.
    ga('require', 'cleanUrlTracker');
    // Enables declarative event tracking, via HTML attributes in the markup.
    ga('require', 'eventTracker', {
        hitFilter: (model) => {
            if (model.get('eventCategory') === 'Twitter') { 
                // event to social
                model.set('hitType', 'social');
                model.set('socialNetwork', model.get('eventCategory'));
                model.set('socialAction', model.get('eventAction'));
                model.set('socialTarget', model.get('eventLabel'));
                model.set('eventCategory', null);
                model.set('eventAction', null);
                model.set('eventLabel', null);
            }
        }
    });
    // Allows you to track when elements are visible within the viewport.
    ga('require', 'impressionTracker');
    // Automatically tracks how far down the page a user scrolls.
    ga('require', 'maxScrollTracker', {
        fieldsObj: {
            eventAction: `Scrolled ${window.location.href}`
        }
    });
    // Automatically tracks link clicks to external domains.
    // e.g. Medium
    ga('require', 'outboundLinkTracker');
    // Automatically tracks how long pages are in the visible state 
    // (as opposed to in a background tab)
    ga('require', 'pageVisibilityTracker');
    // Automatically tracks URL changes for single page applications.
    // Analysis page changes the url like a single page app.
    ga('require', 'urlChangeTracker');
    
    ga('send', 'pageview');
    {% for ga_tracking_id in HURUMAP.ga_tracking_ids %}
        ga('create', '{{ ga_tracking_id }}', 'auto', {'name': 't{{ forloop.counter }}'});
        ga('t{{ forloop.counter }}.send', 'pageview');
    {% endfor %}
</script>

<!-- impressionTracker browser support -->
<script async src="https://cdn.polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>

<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.4.1/autotrack.js"></script>
<!-- End Google Analytics -->