{% extends 'homepage_country.html' %}{% load humanize partition staticfiles %}

{% block header_content %}
<div class="vcenter col-lg-5 col-md-5 col-sm-8 col-xs-10 bg-ocean-blue">
    <div class="content-container clearfix text-center">
        <h1>Discover the Stories Behind the Data</h1>
        <h4>
            {{ HURUMAP.name }} helps storytellers and
            campaigners use data to add context and depth to stories.
        </h4>
        <form class="search-form">
            <div class="form-group">
                <input type="text" class="form-control" id="search-takwimu" 
                    aria-describedby="searchHelp" placeholder="Enter your search term">
            </div>
            <button type="submit" class="btn btn-help bg-bottle-blue btn-takwimu-primary">Search Takwimu</button>
        </form>
    </div>
</div>
{% endblock header_content %}

{% include 'blocks/showcase.tml' %}
