{% extends 'homepage.html' %}

{% load staticfiles sass_tags %}

{% block head_css_extra %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% sass_src 'css/takwimu.scss' %}">
{% endblock %}
{% block body %}
  {% block header %}
    {% include 'takwimu/_includes/navbar/_index.html' %}
  {% endblock %}
  {% block content_container %}
    <div class="clearfix">
      <div id="slippy-map"></div>
    </div>
    <section class="m-0">

    {% for country in countries %}
      {% if country.published %}
        {% include 'takwimu/_includes/profile/country_section.html' with country_name=country.name country_slug=country.slug %}
      {% endif %}
    {% endfor %}


    </section>
    {% include 'takwimu/_includes/sections/support-services/button.html' %}

    {% include 'takwimu/_includes/sections/stories/index.html' %}

    {% include 'takwimu/_includes/sections/explore/_index.html' %}

    {% include 'takwimu/_includes/sections/updates.html' %}

  {% endblock content_container %}
  {% block footer_content %}
    {% include 'takwimu/_includes/footer.html' %}
  {% endblock %}
  <style>
    .country-container:nth-of-type(odd) {
      background-color: #fff;
    }

    .country-container:nth-of-type(even) {
      background-color: #f4f4f4;
    }
    .breadcrumb {
      padding: 1rem;
    }
    .breadcrumb-item {
      padding-left: .1rem;
      letter-spacing: 0;
      font-size: 14px;
    }
    .breadcrumb-item+.breadcrumb-item::before {
        display: inline-block;
        padding-right: .1rem;
        color: #fff;
        content: "\00BB";
    }
  </style>
{% endblock body %}

{% block body_javascript %}
  <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8=" crossorigin="anonymous"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/svg.js' %}"></script>
  <script defer data-search-pseudo-elements src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>

  <!-- Bootstrap: Enable Tooltips -->
  <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })
  </script>

  {% block body_javascript_extra %}
    {{ block.super }}
  {% endblock %}

  {{ block.super }}

{% endblock body_javascript %}
