% extends '_base.html' %} {% load sass_tags staticfiles %} {% block head_css_extra %}
<link rel="stylesheet" href="{% static 'css/vendor/leaflet-0.6.4.css' %}" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'css/vendor/leaflet-0.6.4.ie.css' %}" />
<![endif]-->
<link href="{% static 'css/vendor/leaflet.label.css' %}" rel="stylesheet" /> {% endblock %} {% block header_content %}
<!-- Leave this blank -->
{% endblock header_content %} {% block content_container %}
<div class="container pt-5 pb-5" style="height:100vh;">
  <div class="col-md-8 col-sm-6 col-xs-12">
    <div class="row">
      <ul class="nav nav-pills nav-fill">
        <li class="active">
          <a data-toggle="tab" href="#login" class="btn btn-primary">Register</a>
        </li>
        <li class="nav-item pl-5">
          <a data-toggle="tab" href="#register" class="btn btn-primary">Login</a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div id="login" class="tab-pane">
        <h5 class="pt-5">REGISTER</h5>
        <div class="">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email </label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Confirm Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
      <div id="register" class="tab-pane fade in active">
        <h5 class="pt-5">LOGIN</h5>
        <div class="">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Username/Email </label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
