{% load wagtailcore_tags %}
<div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="faq-{{ faq.id }}" role="tabpanel" aria-labelledby="faq-{{ faq.id }}-tab">

  <h3 class="font-weight-bold mt-0 mb-3">{{ faq.question }}</h3>
  {{ faq.answer|richtext }}

  <p class="mb-0 mt-5">
    {% include 'takwimu/_includes/sections/faq/morebtn_detail.html' %}

    {% if faq.cta_two_name %}
    {% include 'takwimu/_includes/sections/faq/morebtn_detail.html' with cta_url=faq.cta_two_url cta_name=faq.cta_two_name %}
    {% endif %}
    
  </p>
</div>
