{% load wagtailcore_tags %}
<div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="faq-{{ id }}" role="tabpanel" aria-labelledby="faq-{{ id }}-tab">

  <p class="font-weight-bold" style="line-height: 24px; font-size: 21px; color: #000000; margin-bottom: 28px;">{{ faq.value.question }}</p>
  {{ faq.value.answer|richtext }}

  <p class="mb-0 mt-5">
    {% include 'takwimu/_includes/sections/faq/morebtn_detail.html' %}

    {% if faq.value.cta_two_name %}
    {% include 'takwimu/_includes/sections/faq/morebtn_detail.html' with cta_url=faq.value.cta_two_url cta_name=faq.value.cta_two_name %}
    {% endif %}

  </p>
</div>
