{% load wagtailcore_tags wagtailembeds_tags %}

{% embed value.document.file.url %}
<div id="doc_container" class="w-100 p-3">

</div>


<script>
    //doesn't block the load event
    function createIframe() {
        console.log('Loading doc');
        var i = document.createElement("iframe");
        i.src = "https://mozilla.github.io/pdf.js/web/viewer.html?file=" +
            "{{ HURUMAP.url }}{{ value.document.file.url }}";
        i.frameborder = "0";
        i.width = "100%";
        i.height = "500px";
        document.getElementById("doc_container").appendChild(i);
    };

    // Check for browser support of event handling capability
    if (window.addEventListener)
        window.addEventListener("load", createIframe, false);
    else if (window.attachEvent)
        window.attachEvent("onload", createIframe);
    else window.onload = createIframe;
</script>
