{% load wagtailcore_tags %}

<div class="cr-embed">
    <iframe id="cr-embed-country-{{value.data_country}}-{{value.data_id}}"
            class="census-reporter-embed"
            frameborder="0"
            width="100%"
            src="/embed/iframe.html?geoID=country-{{value.data_country}}&geoVersion=2009&chartDataID={{value.data_id}}&dataYear=2011&chartSourceLink={{value.data_source_link}}&chartSourceTitle={{value.data_source_title}}&chartType={{value.chart_type}}&chartHeight={% firstof value.chart_height 300%}&chartSourceLink{{value.data_source_link}}&chartSourceTitle{{value.data_source_title}}=&chartTitle={{value.title}}&chartSubtitle={{value.subtitle}}&initialSort=&statType={{value.data_stat_type}}"
            height="{% firstof value.widget_height 450%}"
            style="margin: 1em; max-width: 720px;"></iframe>

    <div class="small cr-embed-chart-qualifier">
    {{ value.chart_qualifier|richtext }}
    </div>
</div>

<style>
    .cr-embed-chart-qualifier ul {
        list-style: none;
    }
</style>

<script>

    // Work with a single iframe at a time
    function makeCensusEmbeds(selectors) {
        var embed = {
            embeds: {}
        };

        embed.init = function () {
            embed.containers = document.querySelectorAll(selectors);
            embed.numContainers = embed.containers.length;
            for (var i = 0; i < embed.numContainers; i++) {
                embed.embeds[embed.containers[i].id] = {
                    naturalWidth: embed.containers[i].width,
                    naturalHeight: embed.containers[i].height,
                    frameHeight: embed.containers[i].height
                }
            }
            embed.addListeners();
            embed.sendDataToFrames({ resize: 'resize' });
        }

        embed.addListeners = function () {
            var eventMethod = window.addEventListener ? 'addEventListener' : 'attachEvent',
                eventListener = window[eventMethod],
                messageEvent = (eventMethod == 'attachEvent') ? 'onmessage' : 'message',
                resizeEvent = (eventMethod == 'attachEvent') ? 'onresize' : 'resize';

            eventListener(messageEvent, embed.handleMessage, false);
            eventListener(resizeEvent, embed.resize);
        }

        embed.handleMessage = function (event) {
            try {
                var messageData = JSON.parse(event.data);
                if (messageData.chartHeight && messageData.containerID) {
                    embed.embeds[messageData.containerID].frameHeight = messageData.chartHeight;
                    embed.setFrameSizes();
                }
            } catch (err) {
            }
        }

        embed.debounce = function (func, wait, immediate) {
            var timeout;
            return function () {
                var context = this, args = arguments;
                var later = function () {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        };

        embed.resize = embed.debounce(function () {
            embed.setFrameSizes();
            embed.sendDataToFrames({ resize: 'resize' });
        }, 100);

        embed.setFrameSizes = function () {
            for (var i = 0; i < embed.numContainers; i++) {
                var thisContainer = embed.containers[i],
                    thisEmbed = embed.embeds[embed.containers[i].id],
                    parentWidth = thisContainer.offsetWidth;
                thisContainer.width = (parentWidth <= thisEmbed.naturalWidth) ? parentWidth : thisEmbed.naturalWidth;
                thisContainer.height = ((thisEmbed.frameHeight + 80) >= thisEmbed.naturalHeight) ? +thisEmbed.frameHeight + 80 : thisEmbed.naturalHeight;
            }
        }

        embed.sendDataToFrames = function (data) {
            // IE9 can only send strings
            for (var i = 0; i < embed.numContainers; i++) {
                embed.containers[i].contentWindow.postMessage(JSON.stringify(data), '*');
            }
        }

        embed.init();

        return embed;
    }

    // Create viz for all visible iframes
    var addEmbeds = function addEmbeds() {
        this.contentWindow.CensusReporterEmbeds = makeCensusEmbeds('#cr-embed-country-{{value.data_country}}-{{value.data_id}}');
    }
    var viz = document.getElementById('cr-embed-country-{{value.data_country}}-{{value.data_id}}');
    viz.addEventListener('load', addEmbeds);

    window.addEventListener('load', function() {

        // For all widgets in hidden tabs (on single indicator),
        // create them when they're shown
        $('.indicator .nav-link').on('shown.bs.tab', function(e) {
            widgetId = e.target.getAttribute('href');
            $(widgetId + ' .census-reporter-embed').each(function(){
                this.contentWindow.CensusReporterEmbeds = makeCensusEmbeds('#' + this.id);
            });
        });

        // For the active widget on a hidden indicator,
        // create it when the indicator is shown
        $('.dataindicators-nav .nav-link').on('shown.bs.tab', function(e) {
            indicatortId = e.target.getAttribute('href');
            $(indicatortId + ' .tab-pane.active .census-reporter-embed').each(function() {
                this.contentWindow.CensusReporterEmbeds = makeCensusEmbeds('#' + this.id);
            });
        });
    });
</script>
