{% load wagtailcore_tags %}

<div class="cr-embed">
    <iframe id="cr-embed-country-{{value.data_country}}-{{value.data_id}}"
            class="census-reporter-embed"
            frameborder="0"
            width="100%"
            src="/embed/iframe.html?geoID=country-{{value.data_country}}&geoVersion=2009&chartDataID={{value.data_id}}&dataYear=2011&chartSourceLink={{value.data_source_link}}&chartSourceTitle={{value.data_source_title}}&chartType={{value.chart_type}}&chartHeight={% firstof value.chart_height 300%}&chartSourceLink{{value.data_source_link}}&chartSourceTitle{{value.data_source_title}}=&chartTitle={{value.title}}&chartSubtitle={{value.subtitle}}&initialSort=&statType={{value.data_stat_type}}"
            height="{% firstof value.widget_height 450%}"
            style="margin: 1em; max-width: 680px;"></iframe>

    <div class="small cr-embed-chart-qualifier">
    {{ value.chart_qualifier|richtext }}
    </div>
</div>

<style>
    .cr-embed-chart-qualifier ul {
        list-style: none;
    }
</style>

<script>

    // Work with a single iframe at a time and only resize it to it's
    // "natural" dimensions
    function makeCensusEmbed(containerId) {
        var embed = {
            embed: {}
        };

        embed.init = function () {
            embed.container = document.getElementById(containerId);
            if (embed.container) {
                embed.embed = {
                    naturalWidth: embed.container.width,
                    naturalHeight: embed.container.height,
                    frameHeight: embed.container.height
                }
                embed.addListeners();
                embed.sendDataToFrame({ resize: 'resize' });
            }
        }

        embed.addListeners = function () {
            var eventMethod = window.addEventListener ? 'addEventListener' : 'attachEvent',
                eventListener = window[eventMethod],
                resizeEvent = (eventMethod == 'attachEvent') ? 'onresize' : 'resize';

            eventListener(resizeEvent, embed.resize);
        }

        embed.debounce = function debounce(func, wait, immediate) {
            var timeout;
            return function () {
                var context = this, args = arguments;
                var later = function () {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        };

        embed.resize = embed.debounce(function resizeEmbed() {
            embed.setFrameSize();
            embed.sendDataToFrame({ resize: 'resize' });
        }, 100);

        embed.setFrameSize = function setFrameSize() {
            var thisContainer = embed.container,
                thisEmbed = embed.embed,
                parentWidth = thisContainer.offsetWidth,
                minimumHeight = thisEmbed.frameHeight + 80;
            thisContainer.width = (parentWidth <= thisEmbed.naturalWidth) ? parentWidth : thisEmbed.naturalWidth;
            thisContainer.height = (minimumHeight >= thisEmbed.naturalHeight) ? minimumHeight : thisEmbed.naturalHeight;
        }

        embed.sendDataToFrame = function (data) {

            // IE9 can only send strings
            embed.container.contentWindow.postMessage(JSON.stringify(data), '*');
        }

        embed.init();

        return embed;
    }

    var embedWidgets = function embedWidgets() {
        var embedWidget = function embedWidget(selector) {
            $(selector).each(function(){
                this.contentWindow.CensusReporterEmbeds = makeCensusEmbed(this.id);
            });
        };

        // 1. ACTIVE INDICATOR, ACTIVE WIDGET
        $('.dataindicators-nav .nav-link.active').each(function() {
            // Need the written href and not the full href provided by this.href
            var widgetId = $(this).attr('href');
            embedWidget(widgetId + ' .census-reporter-embed');
        });

        // 2. ACTIVE INDICATOR, HIDDEN WIDGET
        // Embed the widget AFTER the widget tab is shown
        $('.indicator .nav-link').on('shown.bs.tab', function(e) {
            widgetId = e.target.getAttribute('href');
            embedWidget(widgetId + ' .census-reporter-embed');
        });

        // 3. HIDDEN INDICATOR
        // Embed the widget on the active tab (if any) AFTER the indicator
        // is shown
        $('.dataindicators-nav .nav-link').on('shown.bs.tab', function(e) {
            indicatorId = e.target.getAttribute('href');
            embedWidget(indicatorId + ' .indicator .tab-pane.active .census-reporter-embed');
        });
    };
    window.addEventListener('load', embedWidgets);
</script>
