{% load staticfiles %}

<div class="dropdowm-menu-lg-tag d-flex justify-content-center">
  <span></span>
</div>

<div class="dropdown-menu-lg text-light py-5 container-fluid shadow {% block dropdown_class %}{% endblock %}"
    id="{% block dropdown_id %}{% endblock %}"
    style="{% block dropdown_style %}{% endblock %}">

  <div class="container">
    <div class="row">
      <div class="col-lg-3 text-center text-lg-right pr-5">
        <h2 class="font-weight-bold text-underline">
          <a href="{% block dropdown_url %}#{% endblock %}">{% block dropdown_title %}Some title{% endblock %}</a>
        </h2>
        <p class="font-weight-light d-none d-lg-block">{% block dropdown_desc %}Lorem ipsum{% endblock %}</p>
      </div>
      <div class="col-lg-9 border-left d-flex align-items-center" style="border-left-style: dashed !important;">
        {% block dropdown_content %}{% endblock %}
      </div>
    </div>
  </div>
</div>
