{% load staticfiles cache %}
{% load datastructuretags %}

{% cache 600 navbar %}
<!-- Primary Navbar -->
<nav class="main-nav navbar navbar-expand-lg navbar-dark py-0 sticky-top bg-primary shadow"
    style="min-height:72px; z-index: 9999;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="pl-4" src="{% static 'img/logo-white-all.png' %}" style="max-height: 22px;">
      <span class="badge badge-pill badge-primary">beta</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-3 mr-auto">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle text-white text-uppercase font-weight-bold p-3 py-lg-4"
               href="#" role="button">
            Country Profiles
          </a>
          {% include 'takwimu/_includes/navbar/profiles.html' with button_name="Country Profiles" %}
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle text-white text-uppercase font-weight-bold px-3 py-4"
              href="/topics" role="button" aria-expanded="false">
            Topics
          </a>
          {% include 'takwimu/_includes/navbar/topics.html' with button_name="Topics" %}
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white text-uppercase font-weight-bold p-3 py-lg-4"
              href="#" role="button">
            Our Services
          </a>
          {% include 'takwimu/_includes/navbar/support_services.html' with button_name="Our Services" %}
        </li>
        <li class="nav-item">
            <a class="nav-link text-white text-uppercase font-weight-bold p-3 py-lg-4"
                href="/contact-us" role="button" aria-expanded="false">
              Contact Us
            </a>
        </li>
      </ul>
      <!-- Border on mobile -->
      <div class="border-top d-lg-none mx-2 mt-2" style="border-top-color: rgba(222,226,230,0.5) !important;"></div>

      <ul class="navbar-nav flex-row">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase font-weight-bold p-3 py-lg-4"
              href="#" role="button">
            About
          </a>
          {% include 'takwimu/_includes/navbar/about.html' with button_name="About Us" %}
        </li>

        <li class="nav-item dropdown ml-auto">
          <a class="nav-link p-3 py-lg-4" id="nav-search" href="#" role="button">
            <i class="fa fa-search fa-fw"></i>
          </a>
          {% include 'takwimu/_includes/navbar/search.html' %}
        </li>

        {% to_list 'twitter' 'facebook' as social_medias %}
        {% for social_media in social_medias %}
          {% if settings.takwimu.SocialMediaSetting|object_value:social_media %}
            <li>
              <a class="nav-link p-3 py-lg-4" href="{{ settings.takwimu.SocialMediaSetting|object_value:social_media }}" target="_blank" rel="noopener">
                <i class="fab fa-{{ social_media }} fa-fw"></i>
              </a>
            </li>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</nav>

<style>

  /* Beta Badge */
  .navbar-brand .badge {
    position: absolute;
    background-color: #1e4a7e;
    margin-left: -25px;
    margin-top: 25px;
    font-size: 10px;
  }

  .navbar .dropdown-menu-lg ul li[type="disc"] a {
    color:#7ab1f2;
    text-decoration: underline;
    line-height: 2.4;
  }
  .dropdown-menu-lg .social-icons .border-right {
    border-right-color: rgba(255, 255, 255, 0.1) !important;
  }

  .btn-close {
    font-size: 4rem;
    font-weight: 100;
    color: #fff;
    text-shadow: none;
    line-height: 0;
    opacity: 1;
  }
  .btn-close:focus {
    outline:0;
  }
  .btn-close:hover {
    color: #fff;
  }
  .btn-search {
      position: absolute;
      right: 1em;
      bottom: 1em;
      color: #fff;
      background: transparent;
      z-index: 10;
  }
  input[type="text"]#search-takwimu {
      width: 90%;
      font-size: 35px;
      font-weight: 300;
      background: transparent;
      border-bottom: solid 2px #ffffff!important;
      color: #fff;
  }
  input[type="text"]#search-takwimu:focus {
      box-shadow: none;
      outline: 0 none;
  }
  #search-takwimu::-webkit-input-placeholder,
  #search-takwimu:-moz-placeholder  {
      color: rgba(255, 255, 255, 0.45);
      font-size: 35px;
      font-weight: 300;
  }
</style>
{% endcache %}
