{% load staticfiles %}

<!-- Primary Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark py-0 fixed-top bg-primary" style="min-height:72px;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="pl-4" src="{% static 'img/logo-white-all.png' %}" style="max-height: 22px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-5 mr-auto">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle text-white text-uppercase font-weight-bold px-3 py-4"
              data-target="nav-profiles" href="#" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            Country Profiles
          </a>
          <!-- On large devices -->
          {% include 'takwimu/_includes/navbar/profiles.html' with button_name="Country Profiles" %}

          <!-- TODO: On small devices -->
          <div class="dropdown-menu d-none" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">WIP</a>
          </div>

        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white text-uppercase font-weight-bold px-3 py-4"
              href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            Topics
          </a>
          <!-- On large devices -->
          {% include 'takwimu/_includes/navbar/topics.html' with button_name="Topics" %}

          <!-- TODO: On small devices -->
          <div class="dropdown-menu d-none" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">WIP</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase font-weight-bold px-3 py-4"
              href="https://openafrica.net/organization/takwimuafrica" target="_blank" rel="noopener">
            Data
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase font-weight-bold px-3 py-4"
              href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            About Us
          </a>
          <!-- On large devices -->
          {% include 'takwimu/_includes/navbar/about.html' with button_name="About Us" %}

          <!-- TODO: On small devices -->
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about">About Takwimu</a>
            <a class="dropdown-item" href="/about/support-services">Support Services</a>
            <a class="dropdown-item" href="/about/media-center">Media Center</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://takwimu.zendesk.com/" target="_blank">Community</a>
            <a class="dropdown-item" href="https://takwimu.zendesk.com/" target="_blank">Help</a>
            <a class="dropdown-item" href="/about/contact">Contact Us</a>
            <a class="dropdown-item" href="/login">Login</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link py-4" href="https://twitter.com/TakwimuAfrica">
            <i class="fab fa-twitter fa-fw"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-4" href="https://facebook.com/TakwimuAfrica">
            <i class="fab fa-facebook fa-fw"></i>
          </a>
        </li>
    </div>
  </div>
</nav>