{% extends 'takwimu/_includes/navbar/_dropdown.html' %}

{% load staticfiles %}
{% load datastructuretags %}

{% block dropdown_id %}nav-about{% endblock %}
<div class="text-right pr-3"></div>
{% block dropdown_title %}About Takwimu{% endblock %}
{% block dropdown_desc %}Takwimu provides quality insights and data-driven analysis to empower African development champions.{% endblock %}

{% block dropdown_content %}
<div class="row pl-4 pb-5" style="width: 100%;">
  <div class="col-sm-4">
    <ul style="color:#7ab1f2; font-weight: bold;">
      <li class="pb-2" type="disc"><a href="{% url 'about_page' %}"><u>About Takwimu</u></a></li>
      <li class="pb-2" type="disc"><a href="/about/support-services"><u>Our Data Services</u></a></li>
      <li class="pb-2" type="disc"><a href="https://medium.com/takwimu-africa"><u>Insights &amp; Stories</u></a></li>
      <li class="pb-2" type="disc"><a href="/contact-us"><u>Contact Us</u></a></li>
      <li class="mb-0 pb-3" type="disc"><a href="/dashboard"><u>Dashboard (Admin)</u></a></li>
    </ul>
  </div>
  <div class="col-sm-8">
    <h6 class="font-weight-bold pb-0">Follow us</h6>
    <div class="mt-2 d-inline-block p-2 rounded" style="background-color:#1455a0;">

        <ul class="navbar-nav">
        {% to_list 'twitter' 'facebook' 'medium' 'github' as social_medias %}
        {% for social_media in social_medias %}
          {% if settings.takwimu.SocialMediaSetting|object_value:social_media %}
            <li class="nav-item">
              <a class="nav-link float-left" href="{{ settings.takwimu.SocialMediaSetting|object_value:social_media }}"
                target="_blank" rel="noopener">
                <i class="fab fa-{{ social_media }} fa-fw"></i>
              </a>
              {% if not forloop.last %}<div class="border-right m-2 float-right" style="height:24px; width:1px; opacity:0.2;"></div> {% endif %}
            </li>
          {% endif %}
        {% endfor %}
        </ul>
    </div>

    <div class="row pt-5">
      <div class="col-12">
        <h6 class="mb-0 text-truncate font-weight-bold">An initiative by </h6>
        <div class="row pl-1">
          <a href="http://www.africapractice.com/" target="_blank" rel="noopener"
              class="col partner-logo-container m-2 px-3 d-flex align-items-center justify-content-center">
            <img src="{% static 'img/logos/ap-footer-white.png' %}" class="img-responsive" alt="africapractice">
          </a>
          <a href="https://codeforafrica.org" target="_blank" rel="noopener"
              class="col partner-logo-container m-2 px-3 d-flex align-items-center justify-content-center">
            <img src="{% static 'img/logos/cfafrica-white.png' %}" class="img-responsive" alt="Code for Africa">
          </a>
          <a href="https://ihub.co.ke/" target="_blank" rel="noopener"
              class="col partner-logo-container m-2 px-3 d-flex align-items-center justify-content-center">
            <img src="{% static 'img/logos/ihub-white.png' %}" class="img-responsive" alt="iHub">
          </a>
          <div class="col-4">
          <p class="mb-0 pt-0 text-truncate text-center" style="opacity: 0.6; font-size: 16px;margin-top:-1.5rem;">Sponsored by:</p>
            <a href="https://www.gatesfoundation.org" target="_blank" rel="noopener"
              class="col ml-4 partner-logo-container m-2 px-3 d-flex align-items-center justify-content-center">
              <img src="{% static 'img/logos/bmgf-white.png' %}" class="img-responsive" alt="Bill and Melinda Gates Foundation">
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
