{% extends 'takwimu/_includes/navbar/_dropdown.html' %}

{% load staticfiles %}

{% block dropdown_id %}nav-about{% endblock %}

{% block dropdown_title %}About Takwimu{% endblock %}
{% block dropdown_desc %}Lorem ipsum{% endblock %}

{% block dropdown_content %}
<div class="row pl-4 pb-5" style="width: 100%;">
    <div class="col-sm-4">
      <ul style="opacity: 0.6;">
        <li class="pb-3" type="disc"><a href="/about"><u>About Takwimu</u></a></li>
        <li class="pb-3" type="disc"><a href="/about/support-services"><u>Support Services</u></a></li>
        <li class="pb-3" type="disc"><a href="/contact-us"><u>Contact Us</u></a></li>
        <li class="mb-0 pb-3" type="disc"><a href="/dashboard"><u>Dashboard (Admin)</u></a></li>
      </ul>
    </div>
  <div class="col-sm-4">
    <h5 class="pb-2">Follow us</h5>
    <div class="d-flex flex-row flex-start col-sm-12 h-27 rounded" style="background-color:#1455a0;">
        <ul class="navbar-nav">
            <li class="nav-item pt-3 pb-3">
              <a class="nav-link border-right" href="https://twitter.com/TakwimuAfrica"
                 target="_blank" rel="noopener">
                <i class="fab fa-twitter fa-fw text-white"></i>
              </a>
            </li>
            <li class="nav-item pt-3 pb-3">
              <a class="nav-link border-right" href="https://facebook.com/TakwimuAfrica"
                 target="_blank" rel="noopener">
                <i class="fab fa-facebook fa-fw text-white"></i>
              </a>
            </li>
            <li class="nav-item pt-3 pb-3">
              <a class="nav-link border-right" href="https://medium.com/takwimu-africa"
                 target="_blank" rel="noopener">
                <i class="fab fa-instagram fa-fw"></i>
              </a>
            </li>
            <li class="nav-item pt-3 pb-3">
                <a class="nav-link border-right" href="https://medium.com/takwimu-africa"
                   target="_blank" rel="noopener">
                  <i class="fab fa-slack fa-fw "></i>
                </a>
              </li> 
            <li class="nav-item pt-3 pb-3">
              <a class="nav-link" href="https://github.com/TakwimuAfrica"
                 target="_blank" rel="noopener">
                <i class="fab fa-github fa-fw"></i>
              </a>
            </li>
          </ul>
    </div>
    </div>

    <div class="row pt-5">
      <div class="col-12">
          <p class="mb-0 pl-5" style="font-size: 16px">Takwimu is an initiative by:</p>
          <div class="row pl-5">
            <a href="https://www.gatesfoundation.org" target="_blank" rel="noopener"
                class="col-2 partner-logo-container m-2 px-1 d-flex align-items-center justify-content-center">
              <img src="{% static 'img/logos/bmgf-white.png' %}" class="img-responsive" alt="Bill and Melinda Gates Foundation">
            </a>
            <a href="http://www.africapractice.com/" target="_blank" rel="noopener"
                class="col-2 partner-logo-container m-2 px-1 d-flex align-items-center justify-content-center">
              <img src="{% static 'img/logos/ap-white.png' %}" class="img-responsive" alt="africapractice">
            </a>
            <a href="https://codeforafrica.org" target="_blank" rel="noopener"
                class="col-2 partner-logo-container m-2 px-3 d-flex align-items-center justify-content-center">
              <img src="{% static 'img/logos/cfafrica-white.png' %}" class="img-responsive" alt="Code for Africa">
            </a>
            <a href="https://ihub.co.ke/" target="_blank" rel="noopener"
                class="col-2 partner-logo-container m-2 px-4 d-flex align-items-center justify-content-center">
              <img src="{% static 'img/logos/ihub-white.png' %}" class="img-responsive" alt="iHub">
            </a>
          </div>
    </div>
</div>
<style>
</style>
{% endblock %}