{% extends 'takwimu/_includes/navbar/_dropdown.html' %}

{% load staticfiles %}
{% load datastructuretags %}

{% block dropdown_id %}nav-support-services{% endblock %}

{% block dropdown_title %}Our Services{% endblock %}
{% block dropdown_desc %}Takwimu offers both free and premium services designed to help our users access and use high quality data and analysis.{% endblock %}

{% block dropdown_content %}
  <div class="row w-100">
    <div class="col-4">
      <h5 class="font-weight-bold pb-2">Standard Services</h5>
      <ul class="font-weight-bold"style="color:#7ab1f2;">
        {% for service in settings.takwimu.SupportServicesSetting.services %}
          {% if service.value.category == "Standard" %}
            <li class="pb-2" type="disc"><a href="/about/support-services">For {{ service.value.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-4">
      <h5 class="font-weight-bold pb-2">Premium Services</h5>
      <ul class="font-weight-bold"style="color:#7ab1f2;">
        {% for service in settings.takwimu.SupportServicesSetting.services %}
          {% if service.value.category == "Premium" %}
            <li class="pb-2" type="disc"><a href="/about/support-services">{{ service.value.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-4">
      <h5 class="font-weight-bold pb-2">Help and support</h5>
      <div class="mt-2 d-inline-block py-3 px-2 rounded social-icons" style="background-color:#1455a0;">
        <ul class="navbar-nav">
        {% to_list 'twitter' 'facebook' 'medium' 'slack' 'github' as social_medias %}
        {% for social_media in social_medias %}
          {% if settings.takwimu.SocialMediaSetting|object_value:social_media %}
            <li class="nav-item">
              <a class="nav-link py-0 px-3 {% if not forloop.last %} border-right {% endif %}"
		            href="{{ settings.takwimu.SocialMediaSetting|object_value:social_media }}" target="_blank" rel="noopener">
                <i class="fab fa-{{ social_media }} fa-fw"></i>
              </a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>

      <div class="mt-2 d-inline-block pt-2">
        <ul class="font-weight-bold pl-3" style="color:#7ab1f2;">
          <li class="pb-2" type="disc"><a href="/contact-us">General Enquiries</a></li>
          <li class="pb-2" type="disc">
            <a href="#" target="_blank">FAQ</a>
          </li>
          <li class="pb-2" type="disc">
            <a href="{{ settings.takwimu.SupportSetting.zendesk }}" target="_blank" rel="noopener">Technical Support Desk</a>
          </li>
          <li class="pb-2" type="disc"><a href="/about">About Us</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
