{% extends 'takwimu/_includes/navbar/_dropdown.html' %}

{% load staticfiles %}

{% block dropdown_id %}nav-topics{% endblock %}
{% block dropdown_url %}/topics{% endblock %}

{% block dropdown_title %}Explore data by topic{% endblock %}
{% block dropdown_desc %}
    Dolor ullamco amet nulla esse labore in non aliquip do deserunt commodo elit occaecat.
    Ex ad Lorem ullamco eu exercitation est ullamco.
    Dolore incididunt laboris amet officia labore reprehenderit velit occaecat.
{% endblock %}

{% block dropdown_content %}
<div class="row w-100">
    <div class="col-4">
      <h5 class="font-weight-bold pb-2">Key Topics</h5>
      <ul class="font-weight-bold" style="color:#7ab1f2;">
        <div class="nav flex-column" id="profile-sections-tab" role="tablist">
            {% for section in sections %}
            <li class="pb-1" type="disc">
                <a class="nav-link-explore-section"
                    id="{{ section.id }}"
                    href="/topics/#data-topics_{{ section.href }}"
                    aria-controls="{{ section.id }}"
                    role="tab" aria-selected="false">
                    {{ section.title }}
                </a>
            </li>
            {% endfor %}
        </div>
      </ul>
    </div>
    <div class="col-8">
      <h5 class="font-weight-bold pb-2">Sustainable Development Goals</h5>
      <div class="row" style="color:#7ab1f2;">
        {% for sdg in sdgs %}
            <div class="col-2 mx-0 p-1 grayscale">
            {% if forloop.counter <= 6 %}
                <a href="/sdgs/#sdgs-section-1_{{ sdg.short|slugify }}-collapse"
            {% elif forloop.counter >= 12 %}
                <a href="/sdgs/#sdgs-section-3_{{ sdg.short|slugify }}-collapse"
            {% else %}
                <a href="/sdgs/#sdgs-section-2_{{ sdg.short|slugify }}-collapse"
            {% endif %}
                   data-sector="{{ sdg.short }}"
                   data-target="#{{ sdg.short|slugify }}"
                   aria-controls="{{ sdg.short|slugify }}">
                    <img src="{% static sdg.icon_url %}" alt="{{ sdg.short }}" />
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
  </div>
{% endblock %}
