
{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TAKWIMU</title>
    <meta name="description" content="African Digital Service">
    <meta name="author" content="africapractice, Code for Africa, iHub">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css"
        rel="stylesheet">
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="./Leaflet-1.0.3/leaflet.css"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


  </head>
  <body>

    {% block main_content %}

    {% endblock %}

    {% include 'blocks/header.html' %}
    
     {% include 'blocks/map.html' %}

     {% include 'blocks/services.html' %}

    {% include 'blocks/stories.html' %}

    {% include 'blocks/partners.html' %}

    {% include 'blocks/footer.html' %}

  </body>
</html>