{% extends 'takwimu/_layouts/page.html' %}

{% block content %}

<div class="py-5 container" style="max-width: 800px;">
  <h1 class="text-center display-3">{{ page.title }}</h1>
  {{ page.content | safe }}
</div>

<div class="bg-light py-5">
  <div class="container lead text-center" style="max-width:700px; ">
      Evidence-based planning produces better impacts. Takwimu offers data-driven tools and analysis to help shape better informed decisions.
  </div>
</div>

{% include 'takwimu/_includes/partners.html' %}

{% include 'takwimu/_includes/sections/data-services.html' %}

{% include 'takwimu/_includes/sections/updates.html' %}

{% endblock %}
