{% extends 'takwimu/_layouts/page.html' %}

{% block content %}

<div class="bg-light py-5">
  <div class="container py-5">
      <h1 class="text-center">Contact Us</h1>
      <p class="text-center">Cras mattis consectetur purus sit amet fermentum.
        Maecenas sed diam eget risus varius blandit sit amet non magna.
        Vestibulum id ligula porta felis euismod semper. Nulla vitae elit
        libero, a pharetra augue.</p>
      <div class="row text-left">
        <div class="col-md-4">
          <h3>Key contacts</h3>
          <span class="d-block">General</span>
          <p><a  href="https://zendesk">hello@takwimu.africa</a></p>
          <span class="d-block">Help and Support</span>
          <p><a  href="mailto:support@takwimu.africa">support@takwimu.africa</a></p>
          <span class="d-block">Data Services</span>
          <p><a  href="mailto:admin@takwimu.africa">admin@takwimu.africa</a></p>
    
        </div>
        <div class="col-md-4">
          <h3>Address</h3>
          <ul class="list-unstyled text-left">
            <li>403 Placeholder Avenue</li>
            <li>Placeholder</li>
            <li>Placeholder</li>
            <br>
            <li>+00 3323 32323 2323</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Social</h3>
          <ul class="list-unstyled text-left">
            <li><i class="fab fa-facebook-square fa-2x mr-3"></i>Facebook</li>
            <li><i class="fab fa-twitter-square fa-2x mr-3"></i>Twitter</li>
            <li><i class="fab fa-youtube-square fa-2x mr-3"></i>YouTube</li>
            <li><i class="fab fa-instagram fa-2x mr-3"></i>Instagram</li>
            <li><i class="fab fa-github-square fa-2x mr-3"></i>GitHub</li>
          </ul>
        </div>
      </div>
    </div>
</div>

<div class="container py-5 text-center">
  <p class="p-0 m-0 lead">
    <a href="https://takwimu.zendesk.com/" target="_blank" rel="noopener" >
      <u>Get in touch with our support team.</u>
    </a>
  </p>
</div>

{% include 'takwimu/_includes/sections/data-services.html' %}

{% include 'takwimu/_includes/sections/updates.html' %}

{% endblock %}
