{% extends 'takwimu/_layouts/page.html' %}

{% load static jsonify wagtailcore_tags %}

{% block head_title %} {% if title %}{{ title }} - {% endif %}{{ HURUMAP.name }}{% endblock %}

{% block head_twitter_tags %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ twitter.title }}">
  <meta name="twitter:description" content="{{ twitter.description }}">
  <meta name="twitter:image" content="{{ twitter.image_url }}">
{% endblock %}

{% block body_id %}homepage{% endblock %}

{% block content %}

  <div id="takwimuHero"></div>
  <div id="takwimuFeaturedAnalysis"></div>
  <div id="takwimuFeaturedData"></div>
  <div id="takwimuWhatCanYouDo"></div>
  <div id="takwimuMakingOf"></div>
  <div id="takwimuLatestNewsStories"></div>
  <div id="takwimuWhereToNext"></div>

{% endblock content %}

{% block body_javascript_extra %}
  {{ block.super }}

  <script>
    var takwimu = window.takwimu || {};
    takwimu.page = takwimu.page || {};
    takwimu.page.name = 'home';
  </script>
{% endblock body_javascript_extra %}
