{% extends 'takwimu/_layouts/page.html' %}

{% load staticfiles %}

{% block content %}

  {% comment %}
  {% include 'takwimu/_includes/homepage/hero.html' %}

  {% include 'takwimu/_includes/sections/support-services/tabs.html' %}
  {% endcomment %}

  <div id="takwimuHero"></div>
  <div id="takwimuFeaturedAnalysis"></div>
  <div id="takwimuFeaturedData"></div>
  <div id="takwimuWhatCanYouDo"></div>
  <div id="takwimuMakingOf"></div>

  {% comment %}
  {% include 'takwimu/_includes/sections/how-it-works/index.html' %}
  
  {% include 'takwimu/_includes/sections/stories/index.html' %}

  {% include 'takwimu/_includes/sections/updates.html' %}

  {% include 'takwimu/_includes/sections/support-services/button.html' %}

  <!-- Country profiles explore -->
  {% include 'takwimu/_includes/sections/explore/_index.html' %}

  {% include 'takwimu/_includes/sections/faq/index.html' %}

  {% include 'takwimu/_includes/sections/testimonials.html' %}
  {% endcomment %}

  <div id="takwimuLatestNewsStories"></div>
  <div id="takwimuWhereToNext"></div>

{% endblock %}
