{% extends 'takwimu/_layouts/page.html' %}

{% block content %}

  {% include 'takwimu/_includes/header/report.html' %}

  {% include 'takwimu/_includes/profile/section_topics.html' %}

  <hr/>

  {% include 'takwimu/_includes/profile/sections_list.html' %}

  {% include 'takwimu/_includes/sections/data-services.html' %}

  {% include 'takwimu/_includes/sections/stories.html' %}

  <div class="container text-center py-5" style="max-width: 800px;">
    <h1>Country Profiles</h1>
    <p>Read our profiles from the 10 focus countries.</p>
    {% include 'takwimu/_includes/sections/explore/countries.html' %}
  </div>

  {% include 'takwimu/_includes/sections/updates.html' %}

{% endblock %}