{% extends 'takwimu/_layouts/page.html' %}

{% block content %}

  {% include 'takwimu/_includes/header/report.html' %}

  {% include 'takwimu/_includes/report/section_topics.html' %}

  <hr/>

  {% include 'takwimu/_includes/report/sections_list.html' %}

  {% include 'takwimu/_includes/sections/data-services.html' %}

  {% include 'takwimu/_includes/sections/stories.html' %}

  {% include 'takwimu/_includes/sections/updates.html' %}

  {% include 'takwimu/_includes/sections/explore/_index.html' %}

{% endblock %}