{% extends 'takwimu/_layouts/page.html' %}

{% load staticfiles %}

{% block content %}
<div style="background: #fff url('{% static 'img/bg/profile-hero-line.png' %}') no-repeat center; background-size: cover;">
  <div class="text-center py-3" style="background-color: rgba(255, 255, 255, 0.9)">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
          <li class="breadcrumb-item active">
            <div class="dropdown  d-inline">
              <button class="btn btn-primary dropdown-toggle" type="button" id="topicsSDG" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Data by topic
              </button>
              <div class="dropdown-menu" aria-labelledby="topicsSDG">
                <a class="dropdown-item active" href="/topics">Data by Topic</a>
                <a class="dropdown-item" href="/sdgs">Data by SDG Indicator</a>
              </div>
            </div>
          </li>
        </ol>
      </nav>
      <h1 class="display-3 py-2">Find data by topic</h1>
      <p class="p-4 line-height-md">
        All Takwimu data comes with analysis from our expert team, providing you with the insights you need.
      </p>
    </div>
  </div>
</div>
<div class="explore-topic container-fluid bg-secondary py-2">
  <div class="container">
    {% include 'takwimu/_includes/sections/explore/topics.html' %}
  </div>
</div>

<div class="clearfix container text-center py-5">
  <div class="wrapper p-3 mb-2">
    <h1>Explore the data by country</h1>
  </div>
  <div class="col-lg-8 col-md-10 mx-auto tab-pane fade show active"
    id="explore-countries" role="tabpanel" aria-labelledby="explore-countries-tab">
    {% include 'takwimu/_includes/sections/explore/countries.html' %}
  </div>
</div>

{% include 'takwimu/_includes/sections/support-services/button.html' %}

{% include 'takwimu/_includes/sections/stories/index.html' %}


{% include 'takwimu/_includes/sections/updates.html' %}
<style>
.breadcrumb {
  padding: 1rem;
}
.breadcrumb-item {
  padding-left: .1rem;
  letter-spacing: 0;
  font-size: 14px;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .1rem;
    color: #fff;
    content: "\00BB";
  }
.explore-topic h3 {
    font-size: 35px;
  }
.explore-topic .nav-pills .nav-link.active {
    background-color: #3673bb;
  }
.explore-topic a {
  font-size: 18px;
}
</style>

{% endblock %}
