<div class="nav" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active text-uppercase" id="nav-country-tab" data-toggle="tab" href="#nav-country" role="tab"
        aria-controls="nav-country" aria-selected="true">By Country</a>
    <a class="nav-item nav-link text-uppercase" id="nav-topic-tab" data-toggle="tab" href="#nav-topic" role="tab" aria-controls="nav-topic"
        aria-selected="false">By Topic</a>
    <a class="nav-item nav-link text-uppercase" id="nav-indicators-tab" data-toggle="tab" href="#nav-indicators" role="tab" aria-controls="nav-indicators"
        aria-selected="false">By SDG Indicator</a>
</div>