<div class="clearfix container content-container">
    <div class="wrapper text-center p-3">
        <h2>Explore other data</h2>
    </div>
    <nav class="d-flex justify-content-center">
        {% include 'takwimu/_includes/explore/_tabs.html' %}
    </nav>
    <div class="d-flex flex-wrap tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-country" role="tabpanel" aria-labelledby="nav-country-tab">
            {% include 'takwimu/_includes/explore/_country.html' %}            
        </div>
        <div class="tab-pane fade" id="nav-topic" role="tabpanel" aria-labelledby="nav-topic-tab">
            {% include 'takwimu/_includes/explore/_topic.html' %}            
        </div>
        <div class="tab-pane fade" id="nav-indicators" role="tabpanel" aria-labelledby="nav-indicators-tab">
            {% include 'takwimu/_includes/explore/_indicator.html' %}
        </div>
    </div>
</div>
