<div class="clearfix container text-center py-5">
    <div class="wrapper p-3">
        <h2>Explore other data</h2>
    </div>
    <nav class="d-flex justify-content-center">
        <div class="nav" id="country-nav-tab" role="tablist">
            <a class="nav-item nav-link active text-uppercase" id="nav-country-tab" data-toggle="tab" href="#nav-country" role="tab"
                aria-controls="nav-country" aria-selected="true">By Country</a>
            <a class="nav-item nav-link text-uppercase" id="nav-topic-tab" data-toggle="tab" href="#nav-topic" role="tab" aria-controls="nav-topic"
                aria-selected="false">By Topic</a>
            <a class="nav-item nav-link text-uppercase" id="nav-indicators-tab" data-toggle="tab" href="#nav-indicators" role="tab" aria-controls="nav-indicators"
                aria-selected="false">By SDG Indicator</a>
        </div>
    </nav>
    <div class="d-flex flex-wrap tab-content my-5 col-lg-8 col-md-10 mx-auto" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-country" role="tabpanel" aria-labelledby="nav-countries-tab">
            {% include 'takwimu/_includes/sections/explore/countries.html' %}            
        </div>
        <div class="tab-pane fade" id="nav-topic" role="tabpanel" aria-labelledby="nav-topics-tab">
            {% include 'takwimu/_includes/sections/explore/topics.html' %}            
        </div>
        <div class="tab-pane fade" id="nav-indicators" role="tabpanel" aria-labelledby="nav-indicators-tab">
            {% include 'takwimu/_includes/sections/explore/indicators.html' %}
        </div>
    </div>
</div>
