{% load staticfiles %}

<div class="container country-flag-links">
    <div class="row text-center">
        <div class="col">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">
                <img class="svg" src="{% static 'img/flags/burkina-faso.svg' %}" alt="Burkina Faso">
                <small class="text-uppercase mt-3 d-flex justify-content-center">Burkina Faso</small>
            </a>
        </div>
        <div class="col">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">
                <img class="svg" src="{% static 'img/flags/democratic-republic-of-congo.svg' %}" alt="DRC Congo">
                <small class="text-uppercase mt-3 d-flex justify-content-center">DRC Congo</small>
            </a>
        </div>

        <!-- Break point on smartphone view -->
        <div class="w-100 border-top d-block d-sm-none"></div>

        <div class="col">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">
                <img class="svg" src="{% static 'img/flags/ethiopia.svg' %}" alt="Ethiopia">
                <small class="text-uppercase mt-3 d-flex justify-content-center">Ethiopia</small>
            </a>
        </div>

        <!-- Break point on tablet view -->
        <div class="w-100 border-top d-none d-sm-block d-md-none"></div>

        <div class="col">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">
                <img class="svg" src="{% static 'img/flags/kenya.svg' %}" alt="Kenya">
                <small class="text-uppercase mt-3 d-flex justify-content-center">Kenya</small>
            </a>
        </div>

        <!-- Break point on smartphone view -->
        <div class="w-100 border-top d-block d-sm-none"></div>
        
        <div class="col" style="border-right: none;">
            <a href="/reports/nigeria">
                <img class="svg" src="{% static 'img/flags/nigeria.svg' %}" alt="Nigeria">
                <small class="text-uppercase mt-3 d-flex justify-content-center">Nigeria</small>
            </a>
        </div>

        <!-- Breakpoint on desktop view -->
        <div class="w-100 border-top d-none d-md-block d-lg-block"></div>

        <div class="col">
            <a href="/reports/senegal">
                <img class="svg" src="{% static 'img/flags/senegal.svg' %}" alt="Senegal">
                <small class="text-uppercase mt-3 d-flex justify-content-center">Senegal</small>
            </a>
        </div>

        <!-- Break point on smartphone view -->
        <div class="w-100 border-top d-block d-sm-none"></div>

        <!-- Break point on tablet view -->
        <div class="w-100 border-top d-none d-sm-block d-md-none"></div>

        <div class="col">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">
                <img class="svg" src="{% static 'img/flags/south-africa.svg' %}" alt="South Africa">
                <small class="text-uppercase mt-3 d-flex justify-content-center">South Africa</small>
            </a>
        </div>
        <div class="col">
            <a href="/reports/tanzania">
                <img class="svg" src="{% static 'img/flags/tanzania.svg' %}" alt="Tanzania">
                <small class="text-uppercase mt-3 d-flex justify-content-center">Tanzania</small>
            </a>
        </div>

        <!-- Break point on smartphone view -->
        <div class="w-100 border-top d-block d-sm-none"></div>

        <div class="col">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">
                <img class="svg" src="{% static 'img/flags/uganda.svg' %}" alt="Uganda">
                <small class="text-uppercase mt-3 d-flex justify-content-center">Uganda</small>
            </a>
        </div>

        <!-- Break point on tablet view -->
        <div class="w-100 border-top d-none d-sm-block d-md-none"></div>

        <div class="col" style="border-right: none;">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">
                <img class="svg" src="{% static 'img/flags/zambia.svg' %}" alt="Zambia">
                <small class="text-uppercase mt-3 d-flex justify-content-center">Zambia</small>
            </a>
        </div>
    </div>
</div>