{% load staticfiles %}

<div class="container text-center small country-flag-links">
    <div class="row">
        <div class="col">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">
                <img class="svg" src="{% static 'img/flags/burkina-faso.svg' %}" alt="Burkina Faso">
                <span class="text-uppercase">Burkina Faso</span>
            </a>
        </div>
        <div class="col">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">
                <img class="svg" src="{% static 'img/flags/democratic-republic-of-congo.svg' %}" alt="DRC Congo">
                <span class="text-uppercase">DRC Congo</span>
            </a>
        </div>

        <!-- Break point on smartphone view -->
        <div class="w-100 border-top d-block d-sm-none"></div>

        <div class="col">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">
                <img class="svg" src="{% static 'img/flags/ethiopia.svg' %}" alt="Ethiopia">
                <span class="text-uppercase">Ethiopia</span>
            </a>
        </div>

        <!-- Break point on tablet view -->
        <div class="w-100 border-top d-none d-sm-block d-md-none"></div>

        <div class="col">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">
                <img class="svg" src="{% static 'img/flags/kenya.svg' %}" alt="Kenya">
                <span class="text-uppercase">Kenya</span>
            </a>
        </div>

        <!-- Break point on smartphone view -->
        <div class="w-100 border-top d-block d-sm-none"></div>
        
        <div class="col" style="border-right: none;">
            <a href="/profiles/nigeria">
                <img class="svg" src="{% static 'img/flags/nigeria.svg' %}" alt="Nigeria">
                <span class="text-uppercase">Nigeria</span>
            </a>
        </div>

        <!-- Breakpoint on desktop view -->
        <div class="w-100 border-top d-none d-md-block d-lg-block"></div>

        <div class="col">
            <a href="/profiles/senegal">
                <img class="svg" src="{% static 'img/flags/senegal.svg' %}" alt="Senegal">
                <span class="text-uppercase">Senegal</span>
            </a>
        </div>

        <!-- Break point on smartphone view -->
        <div class="w-100 border-top d-block d-sm-none"></div>

        <!-- Break point on tablet view -->
        <div class="w-100 border-top d-none d-sm-block d-md-none"></div>

        <div class="col">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">
                <img class="svg" src="{% static 'img/flags/south-africa.svg' %}" alt="South Africa">
                <span class="text-uppercase">South Africa</span>
            </a>
        </div>
        <div class="col">
            <a href="/profiles/tanzania">
                <img class="svg" src="{% static 'img/flags/tanzania.svg' %}" alt="Tanzania">
                <span class="text-uppercase">Tanzania</span>
            </a>
        </div>

        <!-- Break point on smartphone view -->
        <div class="w-100 border-top d-block d-sm-none"></div>

        <div class="col">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">
                <img class="svg" src="{% static 'img/flags/uganda.svg' %}" alt="Uganda">
                <span class="text-uppercase">Uganda</span>
            </a>
        </div>

        <!-- Break point on tablet view -->
        <div class="w-100 border-top d-none d-sm-block d-md-none"></div>

        <div class="col" style="border-right: none;">
            <a href="#" data-toggle="tooltip" data-placement="top" title="Coming Soon">
                <img class="svg" src="{% static 'img/flags/zambia.svg' %}" alt="Zambia">
                <span class="text-uppercase">Zambia</span>
            </a>
        </div>
    </div>
</div>