{% load staticfiles geotags %}

<div class="country-flag-links container text-center small {{ extra_css_class }}">
    <div class="row">
        {% for country in countries %}
            <div class="col">
                {% if country.published %}
                    <a href="/profiles/{{ country.slug }}">
                {% else %}
                    <a href="#" data-toggle="tooltip" data-placement="top" data-container="{{ comingsoon_tooltip_data_container|default:'body' }}" title="Coming Soon">
                {% endif %}

                    <img class="svg" src="{% static 'img/flags/'|add:country.slug|add:'.svg' %}" alt="{{ country.name }}">

                    <span style="font-size: 20px;">{{ country.short_name }}</span>
                </a>
            </div>

            <!-- Mobile -->
            <!-- Borders -->
            {% if not forloop.counter|divisibleby:"2" %}
                <div class="border-left d-lg-none"></div>
            {% endif %}
            <!-- Break points -->
            {% if forloop.counter|divisibleby:"2" and not forloop.last %}
                <div class="w-100 border-top d-lg-none"></div>
            {% endif %}

            <!-- Desktop -->
            <!-- Borders -->
            {% if not forloop.counter|divisibleby:"5" %}
                <div class="border-left d-none d-lg-block"></div>
            {% endif %}
            <!-- Break points -->
            {% if forloop.counter|divisibleby:"5" and not forloop.last %}
                <div class="w-100 border-top d-none d-lg-block"></div>
            {% endif %}

        {% endfor %}
    </div>
</div>