{% extends 'profile/profile_detail_base.html' %}
{% load staticfiles sass_tags geotags %}

{% block profile_header_tail %}
{% endblock %}



{% block profile_detail %}

{# DEMOGRAPHICS #}
{% if not demographics.is_missing or not worldbank.youth_unemployment.is_missing or not worldbank.employment_to_population_ratio.is_missing %}
<article id="demographics" class="clearfix">
  <header class="section-contents"><h1>Demographics</h1></header>
  <div class="section-container">
    {% if not demographics.sex_dist.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters" id="chart-pie-demographics-sex_dist" data-stat-type="percentage" data-chart-title="Population by sex" data-initial-sort="-value" data-id="d23d5731-0db0-4ad4-b2a3-e741d1a6efc8"></div>
    </section>
    {% endif %}

    {% if not demographics.residence_dist.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-three-quarters" id="chart-histogram-demographics-residence_dist" data-stat-type="scaled-percentage" data-chart-title="Population by residence" data-initial-sort="-value" data-id="7955af7e-54ce-4d88-b112-58911cbb164b"></div>
      </section>
    {% endif %}

    {% if not demographics.child_births_dist.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Child births</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_child_births_dist stat_type='number' %}
        </div>
          <div class="column-three-quarters" id="chart-pie-demographics-child_births_by_size_dist" data-stat-type="percentage" data-chart-title="Percent distribution of all live births by size of child at birth" data-initial-sort="-value" data-id="7c0e3446-2be4-401e-b82c-301ebecf6d5f"></div>
      </section>
    {% endif %}

    {% if not worldbank.youth_unemployment.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-grouped_column-worldbank-youth_unemployment"
           data-stat-type=""
           data-chart-title="Unemployment, youth (% of labor force ages 15-24) (modeled ILO estimate)" data-id="f888d12d-d4e9-426f-ba1e-dc4aff7017ea">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.employment_to_population_ratio.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-grouped_column-worldbank-employment_to_population_ratio"
           data-stat-type=""
           data-chart-title="Employment to population ratio, 15+, (%) (modeled ILO estimate)" data-id="44574569-14cd-4ce3-a2ce-2adc5e56dc7c">
      </div>
    </section>
    {% endif %}

  </div>
</article>
{% endif %}


{# ELECTIONS #}
{% if not elections.is_missing %}
<article id="elections" class="clearfix">
  <header class="section-contents"><h1>Elections</h1></header>
  <div class="section-container">
    {% if not elections.valid_invalid_dist.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters" id="chart-pie-elections-valid_invalid_dist" data-stat-type="percentage" data-chart-title="Valid vs invalid votes" data-initial-sort="-value" data-id="2c98267e-9073-4d58-a621-c9ed6c0de49d"></div>
    </section>
    {% endif %}

    {% if not elections.valid_invalid_dist.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters" id="chart-pie-elections-registered_accred_dist" data-stat-type="percentage" data-chart-title="Registered voters vs total votes cast" data-initial-sort="-value" data-id="9786ae6a-c4ab-4de0-a941-53ecf5cbc5ee"></div>
    </section>
    {% endif %}

    {% if not elections.candidate_dist.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters" id="chart-histogram-elections-candidate_dist" data-stat-type="scaled-percentage" data-chart-title="Percentage votes per candidate" data-initial-sort="-value" data-id="18aff6e1-020f-4921-8a4b-96cff4a0c2b3"></div>
    </section>
   {% endif %}
  </div>
</article>
{% endif %}

{# HEALTH #}
{% if not fgm.is_missing or not worldbank.maternal_mortality.is_missing or not worldbank.prevalence_of_undernourishment.is_missing or not worldbank.life_expectancy_at_birth.is_missing or not worldbank.maternal_mortality.is_missing or not worldbank.hiv_prevalence.is_missing or not worldbank.births_attended_by_skilled_health_staff.is_missing or not worldbank.fgm_prevalence.is_missing or not worldbank.nurses_and_midwives.is_missing or not worldbank.incidence_of_malaria_per_1000_pop_at_risk.is_missing  %}
<article id="health" class="clearfix">
  <header class="section-contents"><h1>Health</h1></header>
  <div class="section-container">
    {% if not worldbank.access_to_basic_services.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-access_to_basic_services"
           data-stat-type=""
           data-chart-title="People using at least basic drinking water services (% of population)" data-id="6d232e9e-8d09-477b-b240-ecaf7eda13a4">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.prevalence_of_undernourishment.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-prevalence_of_undernourishment"
           data-stat-type="scaled-percentage"
           data-chart-title="Prevalence of undernourishment (% of population)" data-id="7eb62d56-81f1-46bc-9dfe-272a398544b">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.life_expectancy_at_birth.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-grouped_column-worldbank-life_expectancy_at_birth"
           data-stat-type=""
           data-chart-title="Life expectancy at birth (years)" data-id="8fe53e9f-ce86-4436-84b3-84f28458ba2f">
      </div>
    </section>
    {% endif %}

    {% if not fgm.fgm_age_dist.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
       <div class="column-three-quarters"
            id="chart-histogram-fgm-fgm_age_dist"
            data-stat-type="scaled-percentage"
            data-chart-title="Percentage of women that have undergone FGM by age" data-id="3e52a9fd-f26d-46a8-8b66-27fbf4e03ecf">
     </div>
    </section>
    {% endif %}

    {% if not worldbank.maternal_mortality.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-maternal_mortality"
           data-stat-type=""
           data-chart-title="Maternal mortality ratio (modeled estimate, per 100,000 live births)" data-id="c71e03c5-7b64-4926-b5f4-a0fb271e9b01">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.hiv_prevalence.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-grouped_column-worldbank-hiv_prevalence"
           data-stat-type=""
           data-chart-title="Prevalence of HIV, (% ages 15-24)" data-id="206ca7ec-1a2e-4ef6-a2b2-25d933ed13f0">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.births_attended_by_skilled_health_staff.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-births_attended_by_skilled_health_staff"
           data-stat-type=""
           data-chart-title="Births attended by skilled health staff (% of total)" data-id="26e7c9fd-53b0-4cb9-8949-368b572e8568">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.fgm_prevalence.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-fgm_prevalence"
           data-stat-type=""
           data-chart-title="Female Genital Mutilation Prevelence (%)" data-id="6d81e95d-3c02-4b89-8376-534f297ef0e7">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.nurses_and_midwives.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-nurses_and_midwives"
           data-stat-type="scaled-percentage"
           data-chart-title="Nurses and midwives (per 1,000 people)" data-id="a39a076b-79b9-4674-9e83-e6b0557073e3">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.incidence_of_malaria_per_1000_pop_at_risk.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-incidence_of_malaria_per_1000_pop_at_risk"
           data-stat-type=""
           data-chart-title="Incidence of malaria per 1000 population at risk" data-id="fde8a5eb-2132-4883-b89c-14248b2bd021">
      </div>
    </section>
    {% endif %}

  </div>
</article>
{% endif %}

{# CROPS #}
{% if not crops.crop_distribution.is_missing or not worldbank.is_missing %}
<article id="agriculture" class="clearfix">
  <header class="section-contents"><h1>Agriculture</h1></header>
  <div class="section-container">
    {% if not crops.crop_distribution.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters" id="chart-histogram-crops-crop_distribution" data-stat-type="scaled-percentage" data-chart-title="Crop production in tonnes" data-initial-sort="-value" data-id="9f93f360-5fce-4fa1-a1f9-6fe3292ef90b"></div>
    </section>
    {% endif %}
    {% if not worldbank.cereal_yield_kg_per_hectare.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-cereal_yield_kg_per_hectare"
           data-stat-type=""
           data-chart-title="Cereal yield in kg per hectare (Thousands)" data-id="79ce38da-2aaf-4e68-adb5-eacd33e2b5a6">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.agricultural_land.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-agricultural_land"
           data-stat-type="scaled-percentage"
           data-chart-title="Agricultural land (% of land area)" data-id="64be0af8-13d0-4b54-bbf6-6481b3777141">
      </div>
    </section>
    {% endif %}
  </div>
</article>
{% endif %}

{% if not health_workers.health_workers_dist.is_missing %}
  <article id="health_workers_distribution" class="clearfix">
    <header class="section-contents">
      <h1>Health workers distribution</h1>
    </header>
    <div class="section-container">
      <section class="clearfix stat-row">
        <div class="column-three-quarters">
          {% include 'profile/_blocks/_stat_list.html' with stat=health_workers.hrh_patient_ratio_dist stat_type='number' %}
        </div>
        <div class="column-full">
          <div id="chart-histogram-health_workers-health_workers_dist" data-stat-type="scaled-percentage" data-chart-title="Number of health workers by profession(2014)" data-id="e7dd9db6-fc19-495b-8498-737b5e2a0777"></div>
        </div>
      </section>
    </div>
  </article>
{% endif %}

{% if not causes_of_death.is_missing %}
  <article id="causes_of_death" class="clearfix">
    <header class="section-contents">
      <h1>Causes of death </h1>
    </header>
    <div class="section-container">
      {% if not causes_of_death.causes_of_death_under_five_dist.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-histogram-causes_of_death-causes_of_death_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Causes of death among persons under five years of age (2013)" data-id="e6841172-0a72-48c0-9dbf-0cf65a837fca"></div>
          </div>
        </section>
      {% endif %}
      {% if not causes_of_death.causes_of_death_over_five_dist.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-histogram-causes_of_death-causes_of_death_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Causes of death among persons over five years of age (2013)" data-id="12292b5c-1a21-4088-9b54-b802970ca27c"></div>
          </div>
        </section>
      {% endif %}
      {% if not causes_of_death.inpatient_diagnosis_under_five_dist.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-histogram-causes_of_death-inpatient_diagnosis_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Inpatient diagnosis among persons under five years of age (2014)" data-id="621fac3a-799e-44ea-929e-0d911c9c6e00"></div>
          </div>
        </section>
      {% endif %}
      {% if not causes_of_death.inpatient_diagnosis_over_five_dist.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-histogram-causes_of_death-inpatient_diagnosis_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Inpatient diagnosis among persons over five years of age (2014)" data-id="100e4169-ac11-451a-9f1e-47075645f1e8"></div>
          </div>
        </section>
      {% endif %}
      {% if not causes_of_death.outpatient_diagnosis_under_five_dist.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-histogram-causes_of_death-outpatient_diagnosis_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Outpatient diagnosis among persons under five years of age (2014)" data-id="b9d6886b-e739-4505-a3b7-92763e6161a1"></div>
          </div>
        </section>
      {% endif %}
      {% if not causes_of_death.outpatient_diagnosis_over_five_dist.is_missing %}
        <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-histogram-causes_of_death-outpatient_diagnosis_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Outpatient diagnosis among persons over five years of age (2014)" data-id="9d67d617-f69a-4f21-9e2b-fb9008a15c97"></div>
          </div>
        </section>
      {% endif %}
    </div>
  </article>
{% endif %}

{# ODA #}
{% if not donors.is_missing or not worldbank.is_missing %}
<article id="oda" class="clearfix">
  <header class="section-contents"><h1>Development Assistance</h1></header>
  <div class="section-container">
    {% if not worldbank.foreign_direct_investment_net_inflows.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-foreign_direct_investment_net_inflows"
           data-stat-type=""
           data-chart-title="Foreign direct investment, net inflows (% of GDP)" data-id="24d80a76-e3c7-4140-80c8-c80fed352cae">
      </div>
    </section>
    {% endif %}

    {% if not donors.donor_assistance_dist.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-donors-donor_assistance_dist"
           data-chart-title="Percentage contribution by principal donors"
           data-stat-type="scaled-percentage" data-id="ac229fee-733a-4b7e-8576-9c03489eea8c"></div>
    </section>
    {% endif %}

    {% if not donors.donor_programmes_dist.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-grouped_column-donors-donor_programmes_dist"
           data-chart-title="Percentage contribution by programme"
           data-stat-type="scaled-percentage" data-id="ee5b3c8a-3497-44ee-b4e0-1ae9170fb48b"></div>
    </section>
    {% endif %}
  </div>
</article>
{% endif %}

{# HOUSEHOLDS #}
{% if not poverty.is_missing %}
<article id="households" class="clearfix">
  <header class="section-contents"><h1>Households</h1></header>
  <div class="section-container">
    {% if not poverty.poverty_residence_dist.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-grouped_column-poverty-poverty_residence_dist"
           data-stat-type="scaled-percentage"
           data-chart-title="Percentage of population in poverty" data-id="81a26005-c7b5-4f55-bec7-8e97662005a6">
      </div>
    </section>
    {% endif %}

    {% if not poverty.poverty_age_dist.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-grouped_column-poverty-poverty_age_dist"
           data-stat-type="scaled-percentage"
           data-chart-title="Percentage of population living in poverty by age and residence" data-id="53179714-02d8-447f-92df-688b1841e31a">
      </div>
    </section>
    {% endif %}
  </div>
</article>
{% endif %}

{# EDUCATION #}
{% if not worldbank.primary_school_enrollment.is_missing or not worldbank.adult_literacy_rate.is_missing or not worldbank.primary_education_completion_rate.is_missing or not worldbank.secondary_school_enrollment.is_missing  %}
<article id="education" class="clearfix" data-tab="Education">
  <header class="section-contents"><h1>Education</h1></header>
  <div class="section-container">
    {% if not worldbank.primary_school_enrollment.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-grouped_column-worldbank-primary_school_enrollment"
           data-stat-type=""
           data-chart-title="School enrollment, primary, male (% gross)" data-id="7055880a-7b34-4569-b070-c26932e69522">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.adult_literacy_rate.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-grouped_column-worldbank-adult_literacy_rate"
           data-stat-type=""
           data-chart-title="Literacy rate, adult (% of population ages 15 and above)" data-id="9cc7b3da-83f3-4d7e-9f9b-b16b405961c1">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.primary_education_completion_rate.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-primary_education_completion_rate"
           data-stat-type=""
           data-chart-title="Primary completion rate,(% of relevant age group)" data-id="35da2a4c-0c2d-403d-b57d-0df33a061644">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.secondary_school_enrollment.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-grouped_column-worldbank-secondary_school_enrollment"
           data-stat-type=""
           data-chart-title="School enrollment, secondary (% gross)" data-id="f0c46ae2-5f83-43ff-8861-151be98bb844">
      </div>
    </section>
    {% endif %}
  </div>
</article>
{% endif %}


{# CRIME REPORS #}
{% if not security.is_missing %}
<article id="crime-reports" class="clearfix" data-tab="Crime Reports">
  <header class="section-contents"><h1>Crime Reports</h1></header>
  <div class="section-container">
    {% if not security.is_missing and not security.seized_firearms_dist.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-grouped_column-security-seized_firearms_dist"
           data-stat-type="scaled-percentage"
           data-chart-title="Seized firearms" data-id="05db745d-d8bf-4381-8db5-eb53cbc79f5f">
      </div>
    </section>
  {% endif %}
  </div>
</article>
{% endif %}


{# FINANCIAL INCLUSION #}
{% if not worldbank.is_missing %}
<article id="financial-inclusion" class="clearfix" data-tab="Financial Inclusion">
  <header class="section-contents"><h1>Financial Inclusions</h1></header>
  <div class="section-container">
    {% if not worldbank.account_ownership.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-grouped_column-worldbank-account_ownership"
           data-stat-type=""
           data-chart-title="Account ownership at a financial institution or with a mobile-money-service provider, (% of population ages 15+)" data-id="76f69b31-1022-4280-a267-b5665177b1b1">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.mobile_phone_subscriptions.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-mobile_phone_subscriptions"
           data-stat-type=""
           data-chart-title="Mobile phone subscriptions (per 100 people)" data-id="f9cbb4a6-c43a-46ef-9568-b13429172ead">
      </div>
    </section>
    {% endif %}
  </div>
</article>
{% endif %}

{# BUDGET #}
{% if not budget.is_missing %}
<article id="budget" class="clearfix">
  <header class="section-contents"><h1>Budget</h1></header>
  <div class="section-container">
    {% if not budget.government_expenditure_dist.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
         <h3 class="chart-header">Population</h3>
         {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-grouped_column-budget-government_expenditure_dist"
           data-stat-type="scaled-percentage"
           data-chart-title="Government spending" data-id="ff06fa89-778e-46a4-a054-091711a1c84b">
      </div>
    </section>
    {% endif %}
  </div>
</article>
{% endif %}


{# PUBLIC FINANCES #}
{% if not worldbank.is_missing %}
<article id="public-finances" class="clearfix" data-tab="Public Finances">
  <header class="section-contents"><h1>Public Finances</h1></header>
  <div class="section-container">

    {% if not worldbank.gini_index.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-gini_index"
           data-stat-type=""
           data-chart-title="GINI index" data-id="10fb9a5a-453f-4083-ac98-cf91cdea1bea">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.gdp_per_capita.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-gdp_per_capita"
           data-stat-type=""
           data-chart-title="GDP per capita (current US$)" data-id="9e9d51c9-a1c0-49e8-8f8b-d7b98c80aa60">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.gdp_per_capita_growth.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-gdp_per_capita_growth"
           data-stat-type=""
           data-chart-title="GDP per capita growth (annual %)" data-id="2cca19d5-17b8-4ea4-9c03-b6bab711d369">
      </div>
    </section>
    {% endif %}

   {% if not worldbank.tax_as_percentage_of_gdp.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-tax_as_percentage_of_gdp"
           data-stat-type=""
           data-chart-title="Tax as percentage of GDP" data-id="55a0b2e1-2d4b-4032-9a84-632ad02a0615">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.tax_revenue.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-tax_revenue"
           data-stat-type=""
           data-chart-title="Tax revenue (current LCU)" data-id="7c485e6a-e0e4-479d-a210-1466526f4a30">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.gdp.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-gdp"
           data-stat-type=""
           data-chart-title="GDP" data-id="e8047470-23a9-4b39-8bbc-f1bb8c5a5ee0">
      </div>
    </section>
    {% endif %}

    {% if not worldbank.gdp_growth.is_missing %}
    <section class="clearfix stat-row">
      <div class="column-quarter">
        <h3 class="chart-header">Population</h3>
        {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
      </div>
      <div class="column-three-quarters"
           id="chart-histogram-worldbank-gdp_growth"
           data-stat-type=""
           data-chart-title="GDP Growth" data-id="e4822710-fd3e-4f1d-b017-b385102e9068">
      </div>
    </section>
    {% endif %}
  </div>
</article>
{% endif %}

{% endblock %}
