{% extends 'profile/profile_detail_base.html' %}
{% load staticfiles sass_tags geotags %}

{% block profile_header_tail %}
<div class="column-full">
    <strong>{{ primary_releases.active.name }} {{ primary_releases.active.year }}</strong>
    {% if primary_releases.other %}
    <div class="tool-group toggle-sub-group release-list">
        <a>Change release<i class="fa fa-chevron-circle-down"></i></a>
        <ul class="sub-group" style="display: none;">
        {% for release in primary_releases.other %}
            <li><a href="{{ request.path }}?release={{release.year}}">{{ release.name }} {{ release.year }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block profile_detail %}

{# DEMOGRAPHICS #}
{% if not demographics.is_missing %}
  
  {% if not demographics.sex_dist.is_missing %}
    <article class="clearfix">
        <section class="clearfix stat-row">
          <div class="column-quarter">
            <h3 class="chart-header">Population</h3>
            {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
          </div>
          <div class="column-half" id="chart-pie-demographics-sex_dist" data-stat-type="percentage" data-chart-title="Population by sex" data-initial-sort="-value"></div>
        </section>
    </article>
  {% endif %}

  {% if not demographics.residence_dist.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half" id="chart-histogram-demographics-residence_dist" data-stat-type="scaled-percentage" data-chart-title="Population by residence" data-initial-sort="-value"></div>
      </section>
    </article>
  {% endif %}

  {% if not demographics.child_births_dist.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Child births</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_child_births_dist stat_type='number' %}
        </div>
          <div class="column-half" id="chart-pie-demographics-child_births_by_size_dist" data-stat-type="percentage" data-chart-title="Percent distribution of all live births by size of child at birth" data-initial-sort="-value"></div>
        </section>
    </article>
  {% endif %}
{% endif %}

{% comment %}
  {% if not demographics.is_missing %}
    <article class="clearfix">
      <header class="section-contents">
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <h2 class="header-for-columns">Population </h2>
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
          </div>

          {% if not demographics.sex_dist.is_missing %}
            <div class="column-full" id="chart-pie-demographics-sex_dist" data-stat-type="percentage" data-chart-title="Population by sex" data-initial-sort="-value"></div>
          {% endif %}
          {% if not demographics.residence_dist.is_missing %}
            <div class="column-full" id="chart-histogram-demographics-residence_dist" data-stat-type="scaled-percentage" data-chart-title="Population by residence" data-initial-sort="-value"></div>
          {% endif %}
        </section>

        {% if not demographics.child_births_dist.is_missing %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Fertility and Births</h2>
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_child_births_dist stat_type='number' %}
            </div>
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_reported_birth_weights_dist stat_type='percentage' %}
            </div>
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_low_birth_weights_dist stat_type='percentage' %}
            </div>
          </section>
          <section class="clearfix stat-row">
            <div class="column-half" id="chart-pie-demographics-child_births_by_size_dist" data-stat-type="percentage" data-chart-title="Percent distribution of all live births by size of child at birth" data-initial-sort="-value"></div>
          </section>
        {% endif %}
      </div>
    </article>
  {% endif %}
{% endcomment %}


{# ELECTIONS #}
{% if not elections.is_missing %}
  {% if not elections.valid_invalid_dist.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half" id="chart-pie-elections-valid_invalid_dist" data-stat-type="percentage" data-chart-title="Valid vs invalid votes" data-initial-sort="-value"></div>
      </section>
    </article>
  {% endif %}

  {% if not elections.valid_invalid_dist.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half" id="chart-pie-elections-registered_accred_dist" data-stat-type="percentage" data-chart-title="Registered voters vs total votes cast" data-initial-sort="-value"></div>
      </section>
    </article>
  {% endif %}

  {% if not elections.candidate_dist.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half" id="chart-histogram-elections-candidate_dist" data-stat-type="scaled-percentage" data-chart-title="Percentage votes per candidate" data-initial-sort="-value"></div>
      </section>
    </article>
  {% endif %}
{% endif %}

{% comment %}
  {% if not elections.is_missing %}
    <article class="clearfix">
      <header class="section-contents">
        <!-- <h1>Elections</h1> -->
      </header>
      <div class="section-container">
        {% if not elections.valid_invalid_dist.is_missing or not elections.registered_accred_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full" id="chart-pie-elections-valid_invalid_dist" data-stat-type="percentage" data-chart-title="Valid vs invalid votes" data-initial-sort="-value"></div>
            <div class="column-full" id="chart-pie-elections-registered_accred_dist" data-stat-type="percentage" data-chart-title="Registered voters vs total votes cast" data-initial-sort="-value"></div>
          </section>
        {% endif %}
        {% if not elections.candidate_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full" id="chart-histogram-elections-candidate_dist" data-stat-type="scaled-percentage" data-chart-title="Percentage votes per candidate" data-initial-sort="-value"></div>
          </section>
          </div>
        {% endif %}
    </article>
  {% endif %}
{% endcomment %}


{# CROPS #}
{% if not crops.crop_distribution.is_missing %}

  {% if not crops.crop_distribution.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
          <div class="column-half" id="chart-histogram-crops-crop_distribution" data-stat-type="scaled-percentage" data-chart-title="Crop production in tonnes" data-initial-sort="-value"></div>
      </section>
    </article>
  {% endif %}
{% endif %}


{#  {% if not health_centers.is_missing %}#}
{#    <article id="health_centers_distribution" class="clearfix">#}
{#      <header class="section-contents">#}
{#        <h1>Health centers distribution</h1>#}
{#      </header>#}
{#      {% if not health_centers.health_centers_dist.is_missing or not health_centers.hiv_health_centers_dist.is_missing or not health_centers.health_centers_ownership_dist.is_missing or not health_centers.health_centers_dist.is_missing %}#}
{#        <div class="section-container">#}
{#          <section class="clearfix stat-row">#}
{#            {% if not health_centers.health_centers_dist.is_missing %}#}
{#              <div class="column-third">#}
{#                {% include 'profile/_blocks/_stat_list.html' with stat=health_centers.total_health_centers_dist stat_type='number' %}#}
{#              </div>#}
{#            {% endif %}#}
{#            {% if not health_centers.hiv_health_centers_dist.is_missing %}#}
{#              <div class="column-third">#}
{#                {% include 'profile/_blocks/_stat_list.html' with stat=health_centers.total_hiv_health_centers_dist stat_type='number' %}#}
{#              </div>#}
{#            {% endif %}#}
{#            {% if not health_centers.health_centers_ownership_dist.is_missing %}#}
{#              <div class="column-third" id="chart-pie-health_centers-health_centers_ownership_dist" data-initial-sort="-value" data-stat-type="scaled-percentage" data-initial-sort="-value" data-chart-title="Ownership"></div>#}
{#            {% endif %}#}
{#            {% if not health_centers.health_centers_dist.is_missing %}#}
{#              <div class="column-full">#}
{#                <div id="chart-histogram-health_centers-health_centers_dist" data-stat-type="scaled-percentage" data-chart-title="Number of health centers by types (2014)"></div>#}
{#              </div>#}
{#            {% endif %}#}
{#          </section>#}
{#        </div>#}
{#      {% endif %}#}
{#      {% if not health_centers.prevention_methods_dist.is_missing %}#}
{#        <div class="section-container">#}
{#          <section class="clearfix stat-row">#}
{#            <h2 class="header-for-columns">Knowledge of HIV Prevention#}
{#              Methods</h2>#}
{#            <div class="column-full">#}
{#              <div id="chart-grouped_column-health_centers-prevention_methods_dist"#}
{#                   data-stat-type="scaled-percentage"#}
{#                   data-chart-title=""></div>#}
{#            </div>#}
{#          </section>#}
{#        </div>#}
{#      {% endif %}#}
{#    </article>#}
{#  {% endif %}#}

  {% if not health_workers.health_workers_dist.is_missing %}
    <article id="health_workers_distribution" class="clearfix">
      <header class="section-contents">
        <h1>Health workers distribution</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=health_workers.hrh_patient_ratio_dist stat_type='number' %}
          </div>
          <div class="column-full">
            <div id="chart-histogram-health_workers-health_workers_dist" data-stat-type="scaled-percentage" data-chart-title="Number of health workers by profession(2014)"></div>
          </div>
        </section>
      </div>
    </article>
  {% endif %}

  {% if not causes_of_death.is_missing %}
    <article id="causes_of_death" class="clearfix">
      <header class="section-contents">
        <h1>Causes of death </h1>
      </header>
      <div class="section-container">
        {% if not causes_of_death.causes_of_death_under_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-causes_of_death_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Causes of death among persons under five years of age (2013)"></div>
            </div>
          </section>
        {% endif %}
        {% if not causes_of_death.causes_of_death_over_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-causes_of_death_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Causes of death among persons over five years of age (2013)"></div>
            </div>
          </section>
        {% endif %}
        {% if not causes_of_death.inpatient_diagnosis_under_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-inpatient_diagnosis_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Inpatient diagnosis among persons under five years of age (2014)"></div>
            </div>
          </section>
        {% endif %}
        {% if not causes_of_death.inpatient_diagnosis_over_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-inpatient_diagnosis_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Inpatient diagnosis among persons over five years of age (2014)"></div>
            </div>
          </section>
        {% endif %}
        {% if not causes_of_death.outpatient_diagnosis_under_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-outpatient_diagnosis_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Outpatient diagnosis among persons under five years of age (2014)"></div>
            </div>
          </section>
        {% endif %}
        {% if not causes_of_death.outpatient_diagnosis_over_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-outpatient_diagnosis_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Outpatient diagnosis among persons over five years of age (2014)"></div>
            </div>
          </section>
        {% endif %}
      </div>
    </article>
  {% endif %}

{# DONORS #}
{% if not donors.is_missing %}

  {% if not donors.donor_assistance_dist.is_missing %}
    <article class="clearfix">
        <section class="clearfix stat-row">
          <div class="column-quarter">
            <h3 class="chart-header">Population</h3>
            {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
          </div>
          <div class="column-half"
               id="chart-histogram-donors-donor_assistance_dist"
               data-chart-title="Percentage contribution by principal donors"
               data-stat-type="scaled-percentage"></div>
        </section>
    </article>
  {% endif %}

  {% if not donors.donor_programmes_dist.is_missing %}
    <article class="clearfix">
        <section class="clearfix stat-row">
          <div class="column-quarter">
            <h3 class="chart-header">Population</h3>
            {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
          </div>
          <div class="column-half"
               id="chart-grouped_column-donors-donor_programmes_dist"
               data-chart-title="Percentage contribution by programme"
               data-stat-type="scaled-percentage"></div>
        </section>
    </article>
  {% endif %}
{% endif %}


{# POVERTY #}
{% if not poverty.is_missing %}

  {% if not poverty.poverty_residence_dist.is_missing %}
    <article class="clearfix">
        <section class="clearfix stat-row">
          <div class="column-quarter">
            <h3 class="chart-header">Population</h3>
            {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
          </div>
          <div class="column-half"
               id="chart-grouped_column-poverty-poverty_residence_dist"
               data-stat-type="scaled-percentage"
               data-chart-title="Percentage of population in poverty">
          </div>
        </section>
    </article>
  {% endif %}

  {% if not poverty.poverty_age_dist.is_missing %}
    <article class="clearfix">
        <section class="clearfix stat-row">
          <div class="column-quarter">
            <h3 class="chart-header">Population</h3>
            {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
          </div>
          <div class="column-half"
               id="chart-grouped_column-poverty-poverty_age_dist"
               data-stat-type="scaled-percentage"
               data-chart-title="Percentage of population living in poverty by age and residence">
          </div>
        </section>
    </article>
  {% endif %}
{% endif %}


{# FGM #}
{% if not fgm.is_missing %}

  {% if not fgm.fgm_age_dist.is_missing %}
    <article class="clearfix">
        <section class="clearfix stat-row">
          <div class="column-quarter">
            <h3 class="chart-header">Population</h3>
            {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
          </div>
          <div class="column-half"
               id="chart-histogram-fgm-fgm_age_dist"
               data-stat-type="scaled-percentage"
               data-chart-title="Percentage of women that have undergone FGM by age">
          </div>
        </section>
    </article>
  {% endif %}
{% endif %}

  {% if not security.is_missing and not security.seized_firearms_dist.is_missing %}
    <article class="clearfix">
      <header class="section-contents">
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <h2 class="header-for-columns"></h2>
          <div class="column-full"
               id="chart-grouped_column-security-seized_firearms_dist"
               data-stat-type="scaled-percentage"
               data-chart-title="Seized firearms">
          </div>
        </section>
      </div>
    </article>
  {% endif %}


{# BUDGET #}
{% if not budget.is_missing %}

  {% if not budget.government_expenditure_dist.is_missing %}
    <article class="clearfix">
        <section class="clearfix stat-row">
          <div class="column-quarter">
            <h3 class="chart-header">Population</h3>
            {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
          </div>
          <div class="column-half"
               id="chart-grouped_column-budget-government_expenditure_dist"
               data-stat-type="scaled-percentage"
               data-chart-title="Government spending">
          </div>
        </section>
    </article>
  {% endif %}
{% endif %}


{# WORLD BANK #}
{% if not worldbank.is_missing %}

  {% if not worldbank.cereal_yield_kg_per_hectare.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-cereal_yield_kg_per_hectare"
             data-stat-type=""
             data-chart-title="Cereal yield in kg per hectare (Thousands)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.agricultural_land.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-agricultural_land"
             data-stat-type="scaled-percentage"
             data-chart-title="Agricultural land (% of land area)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.gini_index.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-gini_index"
             data-stat-type=""
             data-chart-title="GINI index">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.access_to_basic_services.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-access_to_basic_services"
             data-stat-type=""
             data-chart-title="People using at least basic drinking water services (% of population)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.primary_school_enrollment.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-grouped_column-worldbank-primary_school_enrollment"
             data-stat-type=""
             data-chart-title="School enrollment, primary, male (% gross)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.account_ownership.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-grouped_column-worldbank-account_ownership"
             data-stat-type=""
             data-chart-title="Account ownership at a financial institution or with a mobile-money-service provider, (% of population ages 15+)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.youth_unemployment.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-grouped_column-worldbank-youth_unemployment"
             data-stat-type=""
             data-chart-title="Unemployment, youth (% of labor force ages 15-24) (modeled ILO estimate)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.adult_literacy_rate.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-grouped_column-worldbank-adult_literacy_rate"
             data-stat-type=""
             data-chart-title="Literacy rate, adult (% of population ages 15 and above)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.foreign_direct_investment_net_inflows.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-foreign_direct_investment_net_inflows"
             data-stat-type=""
             data-chart-title="Foreign direct investment, net inflows (% of GDP)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.maternal_mortality.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-maternal_mortality"
             data-stat-type=""
             data-chart-title="Maternal mortality ratio (modeled estimate, per 100,000 live births)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.hiv_prevalence.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-grouped_column-worldbank-hiv_prevalence"
             data-stat-type=""
             data-chart-title="Prevalence of HIV, (% ages 15-24)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.employment_to_population_ratio.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-grouped_column-worldbank-employment_to_population_ratio"
             data-stat-type=""
             data-chart-title="Employment to population ratio, 15+, (%) (modeled ILO estimate)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.gdp_per_capita.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-gdp_per_capita"
             data-stat-type=""
             data-chart-title="GDP per capita (current US$)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.primary_education_completion_rate.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-primary_education_completion_rate"
             data-stat-type=""
             data-chart-title="Primary completion rate,(% of relevant age group)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.secondary_school_enrollment.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-grouped_column-worldbank-secondary_school_enrollment"
             data-stat-type=""
             data-chart-title="School enrollment, secondary (% gross)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.nurses_and_midwives.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-nurses_and_midwives"
             data-stat-type="scaled-percentage"
             data-chart-title="Nurses and midwives (per 1,000 people)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.mobile_phone_subscriptions.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-mobile_phone_subscriptions"
             data-stat-type=""
             data-chart-title="Mobile phone subscriptions (per 100 people)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.gdp_per_capita_growth.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-gdp_per_capita_growth"
             data-stat-type=""
             data-chart-title="GDP per capita growth (annual %)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.prevalence_of_undernourishment.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-prevalence_of_undernourishment"
             data-stat-type="scaled-percentage"
             data-chart-title="Prevalence of undernourishment (% of population)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.life_expectancy_at_birth.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-grouped_column-worldbank-life_expectancy_at_birth"
             data-stat-type=""
             data-chart-title="Life expectancy at birth (years)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.tax_as_percentage_of_gdp.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-tax_as_percentage_of_gdp"
             data-stat-type=""
             data-chart-title="Tax as percentage of GDP">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.births_attended_by_skilled_health_staff.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-births_attended_by_skilled_health_staff"
             data-stat-type=""
             data-chart-title="Births attended by skilled health staff (% of total)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.incidence_of_malaria_per_1000_pop_at_risk.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-incidence_of_malaria_per_1000_pop_at_risk"
             data-stat-type=""
             data-chart-title="Incidence of malaria per 1000 population at risk">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.tax_revenue.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-tax_revenue"
             data-stat-type=""
             data-chart-title="Tax revenue (current LCU)">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.gdp.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-gdp"
             data-stat-type=""
             data-chart-title="GDP">
        </div>
      </section>
    </article>
  {% endif %}

  {% if not worldbank.gdp_growth.is_missing %}
    <article class="clearfix">
      <section class="clearfix stat-row">
        <div class="column-quarter">
          <h3 class="chart-header">Population</h3>
          {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
        </div>
        <div class="column-half"
             id="chart-histogram-worldbank-gdp_growth"
             data-stat-type=""
             data-chart-title="GDP Growth">
        </div>
      </section>
    </article>
  {% endif %}
{% endif %}

{% endblock %}
