{% extends 'profile/profile_detail.html' %}
{% load staticfiles sass_tags jsonify geotags %}

{# HEAD #}

{% block head_meta_description %}{{ HURUmap.description }}{% endblock %}

{% block head_css %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% sass_src 'css/takwimu.scss' %}">
{% endblock %}

{# BODY #}

{% block header %}
  {# Navbar #}
  {% include 'takwimu/_includes/navbar/_index.html' %}

  {% block header_content %}
  <div id="takwimuProfileDetail"></div>
  <div id="cover-map" class="clearfix">
      <div id="slippy-map"></div>
  </div>
  {% endblock %}
{% endblock %}


{% block content_container %}
  <div id="takwimuProfile"></div>

  <div class="content-container wrapper clearfix">
    {% block profile_preamble %}
    {% endblock %}

    {% block profile_detail %}

    {% endblock %}
  </div>

  {% comment %}
  {% if geography.this.geo_level == 'country' %}
    {% for country in countries %}
      {% if country.published %}
        {% include 'takwimu/_includes/profile/country_section.html' with country_name=country.name country_slug=country.slug %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% if geography.parents %}
      {% for level, g in geography.parents.items %}
        {% if g.geo_level == 'country' %}
          {% include 'takwimu/_includes/profile/country_section.html' with country_name=g.name country_slug=g.short_name|lower title='long' %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}

  {% include 'takwimu/_includes/sections/support-services/button.html' %}

  <!-- Country profile country select -->
  {% include 'takwimu/_includes/sections/explore/_index.html' with extra_css_class="grayscale" %}

  {% include 'takwimu/_includes/sections/updates.html' %}
  {% endcomment %}

  {# Footer #}
  {% include 'takwimu/_includes/footer.html' %}

  <style>
    #profile {
      background-color: #ffffff;
    }

    .country-container {
      background-color: #f9f9f9;
      height: 400px;
    }

    #page-footer {
      display: none;
    }

    .updates {
      margin-bottom: 0;
    }

    article {
      display: block;
      overflow: auto;
      padding-bottom: 10px;
    }

    #cover-profile article {
      padding: .67em 1.25em .67em;
    }

    .dropdown-item:active,
    .dropdown-item.active {
      background-color: #17a2b8
    }

    .chart-qualifier {
      clear: both;
    }
  </style>
{% endblock content_container %}

{% block body_javascript_extra %}
  <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8=" crossorigin="anonymous"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/svg.js' %}"></script>
  <script defer data-search-pseudo-elements src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>

  {{ block.super }}

    <!-- Takwimu & HURUmap  -->
    <script>
      // I. Takwimu 
      var takwimu = window.takwimu || {};
      takwimu.page = takwimu.page || {};
      takwimu.page.id = 'topic';
      takwimu.url = '{{ HURUMAP.url }}';
      takwimu.countries = {{ countries|jsonify|safe }};
      takwimu.settings = {
        support: {
          hello: '{{ settings.takwimu.SupportSetting.hello|safe }}',
          support: '{{ settings.takwimu.SupportSetting.support|safe }}'
        },
        socialMedia: {
          facebook: '{{ settings.takwimu.SocialMediaSetting.facebook|safe }}',
          twitter: '{{ settings.takwimu.SocialMediaSetting.twitter|safe }}',
          medium: '{{ settings.takwimu.SocialMediaSetting.medium|safe }}',
          linkedin: '{{ settings.takwimu.SocialMediaSetting.linkedin|safe }}'
        }
      };

      // II. HURUmap
      // profileData is created in hurumap/profile_detail.html
      var profileData = window.profileData || {}
      profileData.tabs = [{ name: 'All', href: ''}];
      if (!profileData.demographics.is_missing){
          profileData.tabs.push({ name: 'Demographics', href: '#demographics'});
      }
      if (!profileData.elections.is_missing) {
          profileData.tabs.push({ name: 'Elections', href: '#elections'});
      }
      if (!profileData.crops.crop_distribution.is_missing) {
          profileData.tabs.push({ name: 'Agriculture', href: '#agriculture'});
      }
      if (!profileData.donors.is_missing) {
          profileData.tabs.push({ name: 'ODA', href: '#oda'});
      }
      if (!profileData.poverty.is_missing) {
          profileData.tabs.push({ name: 'Households', href: '#households'});
      }
      if (!profileData.fgm.is_missing) {
          profileData.tabs.push({ name: 'Health', href: '#health'});
      }
      if (!profileData.security.is_missing) {
          profileData.tabs.push({ name: 'Crime Reports', href: '#crime-reports'});
      }
      if (!profileData.budget.is_missing) {
          profileData.tabs.push({ name: 'Budget', href: '#budget'});
      }
      if (!profileData.worldbank.is_missing) {
          profileData.tabs.push({ name: 'World Bank', href: '#worldbank'});
      }

      // While viz are created outside React, lets stick to using jQuery
      // for handling Profile Tabs
      // i. Function to switch tabs on client side
      profileData.switchToTab = function switchToProfileTab(index) {
        var i = Number.parseInt(index);
        if (Number.isNaN(i) || i >= profileData.tabs.length) {
          return;
        }
        var $tabs = $('#profile article');
        if (i === 0) {
          $tabs.find('header').show();
          $tabs.show();
        } else {
          var tab = profileData.tabs[i];
          var $tab = $(tab.href);
          $tabs.hide();
          if ($tab) {
            $tab.find('header').hide();
            $tab.show();
          }
        }
      };
    </script>

  <!-- Bootstrap: Enable Tooltips -->
  <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })
  </script>

  <script type="text/javascript">
  $('.release-list').hover(function() {
      $(this).find('.sub-group').toggle();
  });
  </script>

  <!-- React UI -->
  <script src="{% static asset_manifest.runtime %}"></script>
  <script src="{% static asset_manifest.vendor %}"></script>
  <script src="{% static asset_manifest.main %}"></script>

  <!-- Usersnap -->
  <script type="text/javascript">
    (function() { var s = document.createElement("script"); s.type = "text/javascript"; s.async = true; s.src = '//api.usersnap.com/load/03fa7bc6-84b1-4c96-8f01-258f14ddf4af.js';
    var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
  </script>
{% endblock body_javascript_extra %}
