{% extends 'profile/profile_detail_base.html' %}
{% load staticfiles sass_tags geotags %}

{% block profile_detail %}

  {% if not demographics.is_missing %}
    <article class="clearfix">
      <header class="section-contents">
        <h1>Demographics</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <h2 class="header-for-columns">Population </h2>
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
          </div>
          {% if not demographics.sex_dist.is_missing %}
            <div class="column-third" id="chart-pie-demographics-sex_dist" data-stat-type="percentage" data-chart-title="Sex" data-initial-sort="-value"></div>
          {% endif %}
          {% if not demographics.residence_dist.is_missing %}
            <div class="column-third" id="chart-histogram-demographics-residence_dist" data-stat-type="scaled-percentage" data-chart-title="Residence" data-initial-sort="-value"></div>
          {% endif %}
        </section>

        {% if not demographics_by_gender.is_missing %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Demographics by Gender </h2>
            <div class="column-half" id="chart-pie-demographics_by_gender-gender_ratio" data-stat-type="percentage" data-chart-title="Gender"></div>
            <div class="column-quarter" id="chart-grouped_column-demographics_by_gender-rural_distribution" data-stat-type="scaled-percentage" data-chart-title="Rural vs Urban"></div>
          </section>
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">
              <a class="permalink" href="#age" id="age">Age
                <i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
              {% include 'profile/_blocks/_stat_list.html' with stat=demographics_by_gender.under_15 stat_type='number' %}
            </div>
            <div class="column-half">
              <div id="chart-histogram-demographics_by_gender-age_group_distribution" data-stat-type="scaled-percentage" data-chart-title="Population by age range"></div>
            </div>
            <div class="column-quarter" id="chart-pie-demographics_by_gender-age_group_distribution" data-stat-type="percentage" data-chart-title="Population by age category"></div>
          </section>

        {% endif %} <!-- end if -->

        {% if not demographics.child_births_dist.is_missing %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Fertility and Births</h2>
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_child_births_dist stat_type='number' %}
            </div>
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_reported_birth_weights_dist stat_type='percentage' %}
            </div>
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_low_birth_weights_dist stat_type='percentage' %}
            </div>
          </section>
          <section class="clearfix stat-row">
            <div class="column-half" id="chart-pie-demographics-child_births_by_size_dist" data-stat-type="percentage" data-chart-title="Percent distribution of all live births by size of child at birth" data-initial-sort="-value"></div>
          </section>
        {% endif %}

      </div>
    </article>
  {% endif %}


  {% if not elections.is_missing %}
    <article class="clearfix">
      <header class="section-contents">
        <h1>Elections</h1>
      </header>
      <div class="section-container">
        {% if not elections.valid_invalid_dist.is_missing or not elections.registered_accred_dist.is_missing %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Votes Distribution </h2>
            <div class="column-half" id="chart-pie-elections-valid_invalid_dist" data-stat-type="percentage" data-chart-title="Valid Votes Vs Invalid Votes" data-initial-sort="-value"></div>
            <div class="column-half" id="chart-pie-elections-registered_accred_dist" data-stat-type="percentage" data-chart-title="Registered Voters Vs Total Votes Cast" data-initial-sort="-value"></div>
          </section>
        {% endif %}
        {% if not elections.candidate_dist.is_missing %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Total Votes Per Candidate </h2>
            <div class="column-full" id="chart-histogram-elections-candidate_dist" data-stat-type="scaled-percentage" data-chart-title="Percentage Votes Per Candidate" data-initial-sort="-value"></div>
          </section>
          </div>
        {% endif %}
    </article>
  {% endif %}

  {% if not crops.crop_distribution.is_missing %}
    <article class="clearfix">
      <header class="section-contents">
        <h1>Crops</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <h2 class="header-for-columns">Crop Production in Tonnes </h2>
          <div class="column-full" id="chart-histogram-crops-crop_distribution" data-stat-type="scaled-percentage" data-chart-title="Crop Production" data-initial-sort="-value"></div>
        </section>
      </div>
    </article>
  {% endif %}

  {% if not health_centers.is_missing %}
    <article id="health_centers_distribution" class="clearfix">
      <header class="section-contents">
        <h1>Health centers distribution</h1>
      </header>
      {% if not health_centers.health_centers_dist.is_missing or not health_centers.hiv_health_centers_dist.is_missing or not health_centers.health_centers_ownership_dist.is_missing or not health_centers.health_centers_dist.is_missing %}
        <div class="section-container">
          <section class="clearfix stat-row">
            {% if not health_centers.health_centers_dist.is_missing %}
              <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=health_centers.total_health_centers_dist stat_type='number' %}
              </div>
            {% endif %}
            {% if not health_centers.hiv_health_centers_dist.is_missing %}
              <div class="column-third">
                {% include 'profile/_blocks/_stat_list.html' with stat=health_centers.total_hiv_health_centers_dist stat_type='number' %}
              </div>
            {% endif %}
            {% if not health_centers.health_centers_ownership_dist.is_missing %}
              <div class="column-third" id="chart-pie-health_centers-health_centers_ownership_dist" data-initial-sort="-value" data-stat-type="scaled-percentage" data-initial-sort="-value" data-chart-title="Ownership"></div>
            {% endif %}
            {% if not health_centers.health_centers_dist.is_missing %}
              <div class="column-full">
                <div id="chart-histogram-health_centers-health_centers_dist" data-stat-type="scaled-percentage" data-chart-title="Number of health centers by types (2014)"></div>
              </div>
            {% endif %}
          </section>
        </div>
      {% endif %}
      {% if not health_centers.prevention_methods_dist.is_missing %}
        <div class="section-container">
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Knowledge of HIV Prevention
              Methods</h2>
            <div class="column-full">
              <div id="chart-grouped_column-health_centers-prevention_methods_dist"
                   data-stat-type="scaled-percentage"
                   data-chart-title=""></div>
            </div>
          </section>
        </div>
      {% endif %}
    </article>
  {% endif %}

  {% if not health_workers.health_workers_dist.is_missing %}
    <article id="health_workers_distribution" class="clearfix">
      <header class="section-contents">
        <h1>Health workers distribution</h1>
      </header>
      <div class="section-container">
        <section class="clearfix stat-row">
          <div class="column-third">
            {% include 'profile/_blocks/_stat_list.html' with stat=health_workers.hrh_patient_ratio_dist stat_type='number' %}
          </div>
          <div class="column-full">
            <div id="chart-histogram-health_workers-health_workers_dist" data-stat-type="scaled-percentage" data-chart-title="Number of health workers by profession(2014)"></div>
          </div>
        </section>
      </div>
    </article>
  {% endif %}

  {% if not causes_of_death.is_missing %}
    <article id="causes_of_death" class="clearfix">
      <header class="section-contents">
        <h1>Causes of death </h1>
      </header>
      <div class="section-container">
        {% if not causes_of_death.causes_of_death_under_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-causes_of_death_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Causes of death among persons under five years of age (2013)"></div>
            </div>
          </section>
        {% endif %}
        {% if not causes_of_death.causes_of_death_over_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-causes_of_death_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Causes of death among persons over five years of age (2013)"></div>
            </div>
          </section>
        {% endif %}
        {% if not causes_of_death.inpatient_diagnosis_under_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-inpatient_diagnosis_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Inpatient diagnosis among persons under five years of age (2014)"></div>
            </div>
          </section>
        {% endif %}
        {% if not causes_of_death.inpatient_diagnosis_over_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-inpatient_diagnosis_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Inpatient diagnosis among persons over five years of age (2014)"></div>
            </div>
          </section>
        {% endif %}
        {% if not causes_of_death.outpatient_diagnosis_under_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-outpatient_diagnosis_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Outpatient diagnosis among persons under five years of age (2014)"></div>
            </div>
          </section>
        {% endif %}
        {% if not causes_of_death.outpatient_diagnosis_over_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-outpatient_diagnosis_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Outpatient diagnosis among persons over five years of age (2014)"></div>
            </div>
          </section>
        {% endif %}
      </div>
    </article>
  {% endif %}

  {% if not donors.is_missing %}
    <article class="clearfix">
      <header class="section-contents">
        <h1>Official Development Assistance</h1>
      </header>
      <div class="section-container">
        {% if not donors.donor_assistance_dist.is_missing %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Principle Donors</h2>
            <div class="column-full"
                 id="chart-histogram-donors-donor_assistance_dist"
                 data-chart-title="Percentage Contribution by Principal Donors"
                 data-stat-type="scaled-percentage"></div>
          </section>
        {% endif %}
        {% if not donors.donor_programmes_dist.is_missing %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Contributions</h2>
            <div class="column-full"
                 id="chart-grouped_column-donors-donor_programmes_dist"
                 data-chart-title="Percentage Contribution by Programme"
                 data-stat-type="scaled-percentage"></div>
          </section>
        {% endif %}
      </div>
    </article>
  {% endif %}

  {% if not poverty.is_missing %}
    <article class="clearfix">
      <header class="section-contents">
        <h1>Poverty</h1>
      </header>
      <div class="section-container">
        {% if not poverty.poverty_residence_dist.is_missing %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Percentage of Population in
              Poverty</h2>
            <div class="column-full"
                 id="chart-grouped_column-poverty-poverty_residence_dist"
                 data-stat-type="scaled-percentage">
            </div>
          </section>
        {% endif %}
        {% if not poverty.poverty_age_dist.is_missing %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Percentage of Population living in
              Poverty by Age and Residence</h2>
            <div class="column-full"
                 id="chart-grouped_column-poverty-poverty_age_dist"
                 data-stat-type="scaled-percentage">
            </div>
          </section>
        {% endif %}
      </div>
    </article>
  {% endif %}

  {% if not fgm.is_missing %}
    <article class="clearfix">
      <header class="section-contents">
        <h1>Female Genital Mutilation</h1>
      </header>
      <div class="section-container">
        {% if not fgm.fgm_age_dist.is_missing %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Percentage of Women that have
              undergone FGM by age</h2>
            <div class="column-full"
                 id="chart-histogram-fgm-fgm_age_dist"
                 data-stat-type="scaled-percentage">
            </div>
          </section>
        {% endif %}
      </div>
    </article>
  {% endif %}

  {% if not security.is_missing %}
    <article class="clearfix">
      <header class="section-contents">
        <h1>Security</h1>
      </header>
      <div class="section-container">
        {% if not security.seized_firearms_dist.is_missing %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Seized Firearms</h2>
            <div class="column-full"
                 id="chart-grouped_column-security-seized_firearms_dist"
                 data-stat-type="scaled-percentage">
            </div>
          </section>
        {% endif %}
      </div>
    </article>
  {% endif %}

  {% if not budget.is_missing %}
    <article class="clearfix">
      <header class="section-contents">
        <h1>Budget</h1>
      </header>
      <div class="section-container">
        {% if not budget.government_expenditure_dist.is_missing %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Government Spending</h2>
            <div class="column-full"
                 id="chart-grouped_column-budget-government_expenditure_dist"
                 data-stat-type="scaled-percentage">
            </div>
          </section>
        {% endif %}
      </div>
    </article>
  {% endif %}

{% endblock %}
