{% extends 'profile/profile_detail_base.html' %}
{% load staticfiles sass_tags geotags %}

{% block profile_detail %}
  {% if not crops.crop_distribution.is_missing %}
      <article class="clearfix">
        <header class="section-contents">
          <h1>{{ sdg.zero_hunger.short }}</h1>
          <img src="{{ sdg.zero_hunger.icon_url }}" alt="sdg_icon_{{ sdg.zero_hunger.short }}" width="100%">
        </header>
        <div class="section-container">
          <h2>{{ sdg.zero_hunger.title }}</h2>
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Crop Production in Tonnes </h2>
            <div class="column-full" id="chart-histogram-crops-crop_distribution" data-stat-type="scaled-percentage" data-chart-title="Crop Production" data-initial-sort="-value" data-id="0316dc91-90fb-482c-bacd-a5013e417c49"></div>
          </section>
        </div>
      </article>
    {% endif %}
  {% if not causes_of_death.is_missing %}
  <article id="causes_of_death" class="clearfix">
    <header class="section-contents">
      <h1>{{ sdg.good_health_and_wellbeing.short }}</h1>
      <img src="{{ sdg.good_health_and_wellbeing.icon_url }}" alt="sdg_icon_{{ sdg.good_health_and_wellbeing.short }}" width="100%">
    </header>
    <div class="section-container">
    <h2>{{ sdg.good_health_and_wellbeing.title }}</h2>
      {% if not causes_of_death.causes_of_death_under_five_dist.is_missing %}
      <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-histogram-causes_of_death-causes_of_death_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Causes of death among persons under five years of age (2013)" data-id="76002647-a575-443c-ac71-c542edb540db"></div>
          </div>
      </section>
      {% endif %}
      {% if not causes_of_death.causes_of_death_over_five_dist.is_missing %}
      <section class="clearfix stat-row">
          <div class="column-full">
            <div id="chart-histogram-causes_of_death-causes_of_death_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Causes of death among persons over five years of age (2013)" data-id="6907913f-7045-469d-8897-a44e756b4e01"></div>
          </div>
      </section>
      {% endif %}
      {% if not causes_of_death.inpatient_diagnosis_under_five_dist.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-full">
          <div id="chart-histogram-causes_of_death-inpatient_diagnosis_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Inpatient diagnosis among persons under five years of age (2014)" data-id="eb02ec92-07ca-4b64-afc9-8e38f9fbe089"></div>
        </div>
      </section>
      {% endif %}
      {% if not causes_of_death.inpatient_diagnosis_over_five_dist.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-full">
          <div id="chart-histogram-causes_of_death-inpatient_diagnosis_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Inpatient diagnosis among persons over five years of age (2014)" data-id="b57c3da6-e64c-4802-b8ec-5d27f1ab8e1b"></div>
        </div>
      </section>
      {% endif %}
      {% if not causes_of_death.outpatient_diagnosis_under_five_dist.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-full">
          <div id="chart-histogram-causes_of_death-outpatient_diagnosis_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Outpatient diagnosis among persons under five years of age (2014)" data-id="704cfdbe-fda9-49f7-92e8-7f6f894d9b29"></div>
        </div>
      </section>
      {% endif %}
      {% if not causes_of_death.outpatient_diagnosis_over_five_dist.is_missing %}
      <section class="clearfix stat-row">
        <div class="column-full">
          <div id="chart-histogram-causes_of_death-outpatient_diagnosis_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Outpatient diagnosis among persons over five years of age (2014)" data-id="5488a342-3620-42ea-b740-f9896012edc8"></div>
        </div>
      </section>
      {% endif %}
    </div>
  </article>
  {% endif %}
{% endblock %}
