{% extends 'profile/profile_detail.html' %}
{% load staticfiles sass_tags %}

{# HEAD #}

{% block head_meta_description %}{{ HURUmap.description }}{% endblock %}

{% block head_css %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% sass_src 'css/takwimu.scss' %}">
{% endblock %}

{# BODY #}

{% block header %}
  {# Navbar #}
  {% include 'takwimu/_includes/navbar/_index.html' %}

  {% block header_content %}
    {% block secondary_nav %} {% endblock %}
    {{ block.super }}
  {% endblock %}
{% endblock %}

{% block profile_header_tail %}
  <div class="column-full">
    <p class="caption"><strong>Census data:</strong> 2014</p>
  </div>
{% endblock %}

{% block content_container %}
  <div class="content-container wrapper clearfix">
    {% block profile_preamble %} {% endblock %}

    {% block profile_detail %}

      {% if not population.is_missing %}
      <article class="clearfix">
        <header class="section-contents">
          <h1>Demographics</h1>
        </header>
        <div class="section-container">
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Population </h2>
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
            </div>
            {% if not demographics.sex_dist.is_missing %}
            <div class="column-third" id="chart-pie-demographics-sex_dist" data-stat-type="percentage" data-chart-title="Sex" data-initial-sort="-value"></div>
            {% endif %}
            {% if not demographics.residence_dist.is_missing %}
            <div class="column-third" id="chart-histogram-demographics-residence_dist" data-stat-type="scaled-percentage" data-chart-title="Residence" data-initial-sort="-value"></div>
            {% endif %}
          </section>
        </div>
      </article>
      {% endif %}

      {% if not elections.is_missing %}
      <article class="clearfix">
        <header class="section-contents">
          <h1>Elections</h1>
        </header>
        <div class="section-container">
          {% if not elections.valid_invalid_dist.is_missing or not elections.registered_accred_dist.is_missing %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Votes Distribution </h2>
            <div class="column-half" id="chart-pie-elections-valid_invalid_dist" data-stat-type="percentage" data-chart-title="Valid Votes Vs Invalid Votes" data-initial-sort="-value"></div>
            <div class="column-half" id="chart-pie-elections-registered_accred_dist" data-stat-type="percentage" data-chart-title="Registered Voters Vs Total Votes Cast" data-initial-sort="-value"></div>
          </section>
          {% endif %}
          {% if not elections.candidate_dist.is_missing %}
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Total Votes Per Candidate </h2>
            <div class="column-full" id="chart-histogram-elections-candidate_dist" data-stat-type="scaled-percentage" data-chart-title="Percentage Votes Per Candidate" data-initial-sort="-value"></div>
          </section>
        </div>
        {% endif %}
      </article>
      {% endif %}

      {% if not crops.crop_distribution.is_missing %}
      <article class="clearfix">
        <header class="section-contents">
          <h1>Crops</h1>
        </header>
        <div class="section-container">
          <section class="clearfix stat-row">
            <h2 class="header-for-columns">Crop Production in Tonnes </h2>
            <div class="column-full" id="chart-histogram-crops-crop_distribution" data-stat-type="scaled-percentage" data-chart-title="Crop Production" data-initial-sort="-value"></div>
          </section>
        </div>
      </article>
      {% endif %}

      {% if not health_centers.is_missing %}
      <article id="health_centers_distribution" class="clearfix">
        <header class="section-contents">
          <h1>Health centers distribution</h1>
        </header>
        <div class="section-container">
          <section class="clearfix stat-row">
            {% if not health_centers.health_centers_dist.is_missing %}
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=health_centers.total_health_centers_dist stat_type='number' %}
            </div>
            {% endif %}
            {% if not health_centers.hiv_health_centers_dist.is_missing %}
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=health_centers.total_hiv_health_centers_dist stat_type='number' %}
            </div>
            {% endif %}
            {% if not health_centers.health_centers_ownership_dist.is_missing %}
            <div class="column-third" id="chart-pie-health_centers-health_centers_ownership_dist" data-initial-sort="-value" data-stat-type="scaled-percentage" data-initial-sort="-value" data-chart-title="Ownership"></div>
            {% endif %}
          </section>
          {% if not health_centers.health_centers_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-health_centers-health_centers_dist" data-stat-type="scaled-percentage" data-chart-title="Number of health centers by types (2014)"></div>
            </div>
          </section>
          {% endif %}
        </div>
      </article>
      {% endif %}

      {% if not health_workers.health_workers_dist.is_missing %}
      <article id="health_workers_distribution" class="clearfix">
        <header class="section-contents">
          <h1>Health workers distribution</h1>
        </header>
        <div class="section-container">
          <section class="clearfix stat-row">
            <div class="column-third">
              {% include 'profile/_blocks/_stat_list.html' with stat=health_workers.hrh_patient_ratio_dist stat_type='number' %}
            </div>
            <div class="column-full">
              <div id="chart-histogram-health_workers-health_workers_dist" data-stat-type="scaled-percentage" data-chart-title="Number of health workers by profession(2014)"></div>
            </div>
          </section>
        </div>
      </article>
      {% endif %}

      {% if not causes_of_death.is_missing %}
      <article id="causes_of_death" class="clearfix">
        <header class="section-contents">
          <h1>Causes of death </h1>
        </header>
        <div class="section-container">
          {% if not causes_of_death.causes_of_death_under_five_dist.is_missing %}
          <section class="clearfix stat-row">
              <div class="column-full">
                <div id="chart-histogram-causes_of_death-causes_of_death_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Causes of death among persons under five years of age (2013)"></div>
              </div>
          </section>
          {% endif %}
          {% if not causes_of_death.causes_of_death_over_five_dist.is_missing %}
          <section class="clearfix stat-row">
              <div class="column-full">
                <div id="chart-histogram-causes_of_death-causes_of_death_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Causes of death among persons over five years of age (2013)"></div>
              </div>
          </section>
          {% endif %}
          {% if not causes_of_death.inpatient_diagnosis_under_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-inpatient_diagnosis_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Inpatient diagnosis among persons under five years of age (2014)"></div>
            </div>
          </section>
          {% endif %}
          {% if not causes_of_death.inpatient_diagnosis_over_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-inpatient_diagnosis_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Inpatient diagnosis among persons over five years of age (2014)"></div>
            </div>
          </section>
          {% endif %}
          {% if not causes_of_death.outpatient_diagnosis_under_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-outpatient_diagnosis_under_five_dist" data-stat-type="scaled-percentage" data-chart-title="Outpatient diagnosis among persons under five years of age (2014)"></div>
            </div>
          </section>
          {% endif %}
          {% if not causes_of_death.outpatient_diagnosis_over_five_dist.is_missing %}
          <section class="clearfix stat-row">
            <div class="column-full">
              <div id="chart-histogram-causes_of_death-outpatient_diagnosis_over_five_dist" data-stat-type="scaled-percentage" data-chart-title="Outpatient diagnosis among persons over five years of age (2014)"></div>
            </div>
          </section>
          {% endif %}
        </div>
      </article>
      {% endif %}
    {% endblock %}
  </div>

  {% if geography.this.geo_level == 'country' %}
    {% include 'takwimu/_includes/profile/country_section.html' with country=geography.this.short_name|lower title='long' %}
  {% else %}
    {% if geography.parents %}
      {% for level, g in geography.parents.items %}
        {% if g.geo_level == 'country' %}
          {% include 'takwimu/_includes/profile/country_section.html' with country=g.short_name|lower title='long' %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}

  {% include 'takwimu/_includes/sections/support-services/button.html' %}

  <!-- Country profile country select -->
  {% include 'takwimu/_includes/sections/explore/_index.html' with extra_css_class="grayscale" %}

  {% include 'takwimu/_includes/sections/updates.html' %}

  {# Footer #}
  {% include 'takwimu/_includes/footer.html' %}

  <style>
    #profile {
      background-color: #ffffff;
    }

    .country-container {
      background-color: #f9f9f9;
      height: 400px;
    }

    #page-footer {
      display: none;
    }

    .updates {
      margin-bottom: 0;
    }

    article {
      display: block;
      overflow: auto;
      padding-bottom: 10px;
    }
  </style>
{% endblock %}

{% block body_javascript %}
  <script src="{% static 'js/vendor/modernizr-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8=" crossorigin="anonymous"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/svg.js' %}"></script>
  <script defer data-search-pseudo-elements src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>

  <!-- Start of takwimu Zendesk Widget script -->
  <script>/*<![CDATA[*/
  window.zE || (function (e, t, s) {
      var n = window.zE = window.zEmbed = function () {
          n._.push(arguments)
      }, a = n.s = e.createElement(t), r = e.getElementsByTagName(t)[0];
      n.set = function (e) {
          n.set._.push(e)
      }, n._ = [], n.set._ = [], a.async = true, a.setAttribute("charset", "utf-8"), a.src = "https://static.zdassets.com/ekr/asset_composer.js?key=" + s, n.t = +new Date, a.type = "text/javascript", r.parentNode.insertBefore(a, r)
  })(document, "script", "db3ec064-4699-489e-a829-d337d290b7e7");
  /*]]>*/</script>
  <!-- End of takwimu Zendesk Widget script -->

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
      window.ga = function () {
          ga.q.push(arguments)
      };
      ga.q = [];
      ga.l = +new Date;
      ga('create', '{{ HURUmap.ga_tracking_id }}', 'auto');
      ga('send', 'pageview')
      {% for ga_tracking_id in HURUMAP.ga_tracking_ids %}
          ga('create', '{{ ga_tracking_id }}', 'auto', {'name': 't{{ forloop.counter }}'});
          ga('t{{ forloop.counter }}.send', 'pageview');
      {% endfor %}
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>

  <!-- Bootstrap: Enable Tooltips -->
  <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })
  </script>

  {% block body_javascript_extra %}
    {{ block.super }}
  {% endblock %}

  {{ block.super }}

{% endblock body_javascript %}
