{% load staticfiles %}

{% with countries='nigeria tanzania senegal' status='beta' %}
{% if status == 'beta' %}
<div class="carousel-item p-5 active">
    <div>
        <div class="bullhorn-img float-right" >
          <img src="{% static 'img/icons/icon-notification.svg' %}" class="rounded-0"/>
        </div>
      <p class="text-uppercase" style="font-weight: 400; font-size:13px;">News</p>
      <h2 style="font-weight: 600;">We want yout feedback!</h2>
      <p class="pt-2">
        Takwimu is now released in beta: your feedback on all aspects of the site will help us to improve
        before launching.
      </p>
      <p>
        <a href="/contact us" class="btn btn-info px-4 text-uppercase" style="font-size: 80%; height: 44px; line-height: 2.4">
          Send your comments &nbsp; <img class="border-0" src="{% static 'img/icons/button-arrow.svg' %}" alt="button arrow" style="height:15px; width: 23px; box-shadow: none; object-fit: contain;">
        </a>
      </p>
    </div>
  </div>
  {% endif %}
  {% for country in countries.split %}
<div class="carousel-item p-5 {% if forloop.first and status != 'beta' %}active{% endif %}">
  <div>
    <div class="overlay flag-img float-right">
      <img src="{% static 'img/flags/'|add:country|add:'.svg' %}" class="float-right"/>
    </div>
    <p class="text-uppercase" style="font-weight: 400; font-size:13px;">New Country</p>
    <h2 style="font-weight: 600;">{{ country|title }} country profile now available</h2>
    <p class="pt-2">Explore human development data and analysis for {{ country|title }}.</p>
    <p>
      <a href="/profiles/{{ country }}" class="btn btn-info px-4 text-uppercase" style="font-size: 80%; height: 44px; line-height: 2.4">
        View Country Profile &nbsp; <img class="border-0" src="{% static 'img/icons/button-arrow.svg' %}" alt="button arrow" style="height:15px; width: 23px; box-shadow: none; object-fit: contain;">
      </a>
    </p>
  </div>
</div>
{% endfor %}
{% endwith %}


