<div class="d-flex justify-content-center py-5 px-3">
    <div class="col-4 border-right pr-5">
        <h3 class="display-3 font-weight-bold float-right">
            Citizens
        </h3>
    </div>
    <div class="col">
        <div class="col-10 pl-5">
            <div class="col py-2">
                <h4 class="font-weight-bold">How takwimu benefit you</h4>
                <p class="py-2">
                    <!-- Markdown will play well this part -->
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptatum commodi, consequuntur veritatis, doloribus
                    officiis molestiae distinctio mollitia ullam ratione ducimus quasi, sit et. Qui odio atque ducimus consectetur
                    dolor.
                </p>
                <p class="py-2">
                    <!-- Markdown will play well this part -->
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptatum commodi, consequuntur veritatis, doloribus
                    officiis molestiae distinctio mollitia ullam ratione ducimus quasi, sit et. Qui odio atque ducimus consectetur
                    dolor.
                </p>
            </div>
            <div class="col py-2">
                <h4 class="font-weight-bold">Takwimu consulting and data service for donors and investor</h4>
                <ul>
                    <li>
                        <img src="" alt="Icon">
                        <a href="#">Donor programme research</a>
                    </li>
                    <li>
                        <img src="" alt="Icon">
                        <a href="#">Partnership outreach</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h4>You might be interested in...</h4>

                <nav class="nav flex-column">
                    <a class="nav-link" href="#">Destination one</a>
                    <a class="nav-link" href="#">Data two</a>
                    <a class="nav-link" href="#">Page three</a>
                    <a class="nav-link" href="#">Lorem</a>
                    <a class="nav-link" href="#">External three</a>
                </nav>
            </div>
        </div>
    </div>
</div>