<section>

  <div class="container text-center py-5" style="max-width: 800px;">
    <h2 class="display-3 text-primary">Find by data priority</h2>
    <p class="p-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum
      praesentium, libero odit voluptatum necessitatibus quisquam
      nulla expedita saepe quibusdam.
    </p>
  </div>

  <div>
    <nav class="shadow py-4">
      <div
          class="nav justify-content-center text-uppercase text-center nav-datapriority"
          id="nav-tabs" role="tablist">
        {% for service in support_services %}
          <a class="nav-item nav-link {% if forloop.first %} active {% endif %}"
             id="nav-{{ service.get_slug | add:'-tab' }}"
             data-toggle="tab" href="#nav-{{ service.get_slug }}" role="tab"
             aria-controls="nav-{{ service.get_slug }}"
             aria-selected="true">
            {{ service.icon.as_html }}
            <small class="d-flex py-1">For {{ service.title }}</small>
          </a>
        {% endfor %}
      </div>
    </nav>

    <div class="tab-content bg-primary text-light" id="datapriority-content">
      {% for service in support_services %}
        <div
            class="tab-pane fade show {% if forloop.first %} active {% endif %}"
            id="nav-{{ service.get_slug }}" role="tabpanel"
            aria-labelledby="nav-{{ service.get_slug | add:'-tab' }}">
          <div class="d-flex justify-content-center py-5 px-3">
            <div class="col-4 border-right pr-5">
              <h3 class="display-3 font-weight-bold float-right">
                {{ service.title }}
              </h3>
            </div>
            <div class="col">
              <div class="col-10 pl-5">
                <div class="col py-2">
                  <h4 class="font-weight-bold">How takwimu benefit you</h4>
                  {{ service.benefit | safe }}
                </div>
                <div class="col py-2">
                  <h4 class="font-weight-bold">Takwimu consulting and data
                    service for donors and investor</h4>
                  <ul>
                    {# TODO #}

                  </ul>
                </div>
                <div class="col">
                  <h4>You might be interested in...</h4>
                  {# TODO #}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>