<section>

  <div class="container text-center py-5" style="max-width: 800px;">
    <h2 class="display-3 text-primary">Find by data priority</h2>
    <p class="p-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum praesentium, libero odit voluptatum necessitatibus quisquam
      nulla expedita saepe quibusdam.
    </p>
  </div>
  
  <div>
    <nav class="shadow py-4">
      <div class="nav justify-content-center text-uppercase text-center nav-datapriority" id="nav-tabs" role="tablist">
        <a class="nav-item nav-link active" id="nav-citizens-tab" data-toggle="tab" href="#nav-citizens" role="tab" aria-controls="nav-citizens"
            aria-selected="true">
          <i class="fa fa-2x fa-users"></i>
          <small class="d-flex py-1">For citizens</small>
        </a>
        <a class="nav-item nav-link" id="nav-donor-tab" data-toggle="tab" href="#nav-donor" role="tab" aria-controls="nav-donor"
            aria-selected="false">
          <i class="fa fa-2x fa-university"></i>
          <small class="d-flex py-1">For Donor &amp; Investors</small>
        </a>
        <a class="nav-item nav-link" id="nav-social-enterprenuer-tab" data-toggle="tab" href="#nav-social-enterprenuer" role="tab"
            aria-controls="nav-social-enterprenuer" aria-selected="false">
          <i class="fa fa-2x fa-users"></i>
          <small class="d-flex py-1">For Social Enterprenuer</small>
        </a>
        <a class="nav-item nav-link" id="nav-government-officials-tab" data-toggle="tab" href="#nav-government-officials" role="tab"
            aria-controls="nav-government-officials" aria-selected="false">
          <i class="fa fa-2x fa-chart-line"></i>
          <small class="d-flex py-1">For government officials</small>
        </a>
        <a class="nav-item nav-link" id="nav-ngo-tab" data-toggle="tab" href="#nav-ngo" role="tab" aria-controls="nav-ngo" 
            aria-selected="false">
          <i class="fa fa-2x fa-leaf"></i>
          <small class="d-flex py-1">For NGO employees</small>
        </a>
        <a class="nav-item nav-link" id="nav-media-tab" data-toggle="tab" href="#nav-media" role="tab" aria-controls="nav-media"
            aria-selected="false">
          <i class="fa fa-2x fa-newspaper"></i>
          <small class="d-flex py-1">For Media &amp; Journalist</small>
        </a>
      </div>
    </nav>

    <div class="tab-content bg-primary text-light" id="datapriority-content">
      <div class="tab-pane fade show active" id="nav-citizens" role="tabpanel" aria-labelledby="nav-citizens-tab">
        {% include 'takwimu/_includes/sections/priority/citizens.html' %}
      </div>
      <div class="tab-pane fade" id="nav-donor" role="tabpanel" aria-labelledby="nav-donor-tab">
        {% include 'takwimu/_includes/sections/priority/donor.html' %}
      </div>
      <div class="tab-pane fade" id="nav-social-enterprenuer" role="tabpanel" aria-labelledby="nav-social-enterprenuer-tab">
        {% include 'takwimu/_includes/sections/priority/social.html' %}
      </div>
      <div class="tab-pane fade" id="nav-government-officials" role="tabpanel" aria-labelledby="nav-government-officials-tab">
        {% include 'takwimu/_includes/sections/priority/government.html' %}
      </div>
      <div class="tab-pane fade" id="nav-ngo" role="tabpanel" aria-labelledby="nav-ngo-tab">
        {% include 'takwimu/_includes/sections/priority/ngo.html' %}
      </div>
      <div class="tab-pane fade" id="nav-media" role="tabpanel" aria-labelledby="nav-media-tab">
        {% include 'takwimu/_includes/sections/priority/media.html' %}
      </div>
    </div>
  </div>
</section>